# Stage 2

<br>

<font color=red>**최종 학습 목표**</font>

* 신용카드 사기거래 탐지 프로젝트를 통해 여러분은 이상치 감지를 훌륭히 수행할 수 있는 데이커가 되는 것에 한 발짝 더 다가가게 될 것입니다.

* 이 뿐만 아니라 이번 교육을 통해 키운 역량은 다른 곳에서도 큰 도움이 될 것이라 기대합니다.<br>

<br><font color=red>**Stage 2 학습 목표**</font>

* 데이터 전처리 및 특성 공학이 왜 필요한 지 이해한다.

* 결측치가 무엇이고 어떻게 처리하는 지 이해한다.

* 파생변수, 스케이링, 차원 축소, 샘플링과 같은 다양한 전처리 및 특성 공학 기법을 이해한다.

<br><br>

# 1. Intro

<br>

**데이커 여러분 환영합니다.** 🤗 

지난 Stage 1에서는 데이터 사이언스, 머신러닝 그리고 이상치 감지에 대해 배워보았습니다.
<br><br>
이번 Stage 2에서는 **데이터를 변환시켜보는** <font color=#C68E17>**전처리**</font> 혹은 <font color=#46C7C7>**특징 공학**</font>이라고 불리는 머신러닝 엔지니어링 단계에 대해 알아볼 것입니다.
<br><br>

오늘 우리는 다양한 전처리와 특징 공학 기법 중 <font color=blue>**테이블 핸드링**</font>, <font color=red>**파생변수와 요약변수**</font>, <font color=green>**스케이링**</font>,  <font color=#A52A2A>**차원 축소**</font>, <font color=#FFA500>**샘플링**</font>에 관하여 실습과 퀴즈를 통해 공부하게 될 것입니다.

퀴즈가 있다고 당황하지 마세요. <font color=red>**Hint**</font>가 여러분을 언제나 곁에서 도와줄 것입니다. 
<br><br>
그럼 이제 고고씽 ~ ! 🚅<br><br>

# 2. Stage 2 배경

<br>

전처리와 특징 공학은 여러분이 만들고 하는 모델 즉 <font color=blue>**AI의 성능의 높이기 위해서는 필수적**</font>입니다. ⭐️

실제로 많은 데이터 사이언티스트는 <font color=red>**데이터 전처리에 많은 시간을 할애**</font>합니다.

본격적으로 시작하기 전에 전처리와 특징 공학이 무엇이며, 왜 그렇게 공을 드리는 것인지 알아보십니다.

<br>

![preprocessing.png]()

# 3. Let's Start

여러분은 다시 중대한 임무를 맡게되었습니다. ⭐️

미래에 데이터 사이언티스트로서 가장 많이 하게 될 일을 잘하기 위해 차근차근 배워보십다.

## 3 - 1 전처리와 특성 공학은 무엇인가요?

<br>

**전처리 (Preprocessing)**

  * 우리가 시험을 준비하는 모습을 떠올려 보십다. 교재에 오타가 있으면 수정하기도 합니다. 그리고 교재에서 설명하는 내용이 어려우면 이해하기 쉬운 형태로 바꾸기도 합니다.

  * **데이터 분석 과정에서 더 좋은 인사이트를 발견하기 위해서** 혹은 **머신러닝 학습 과정에서 더 나은 성능을 내기 위해**, <font color=red>**기존의 데이터를 잘 정돈되게 정리**</font>하여 위의 과정에 적합한 형태의 데이터로 가공하는 것입니다.

<br>

**특성 공학 (Feature Engineering)**

  * 다시 한 번 더 시험을 준비하는 모습을 떠올려 보십다. 공부하는 과목의 핵심 개념을 이해하기위해 좋은 정리 노트를 찾기도 하고 만들기도 합니다. 그리고 시험 직전에는 시험 출제 빈도가 높은 개념만 따로 적은 노트만 보는 친구들의 모습을 보기도 합니다.

  * 특징 공학은 전처리와 마찬가지로 머신러닝 학습 과정에서 더 나은 성능을 내기 위해, <font color=red>**데이터의 특징이 잘 드러내도록**</font> 새로운 특징을 만들어내거나 불필요한 특징은 제거하는 방법 등으로 데이터를 가공하는 것을 뜻합니다.

<br>

**전처리와 특성 공학의 필요성**

  * Stage 1에서 배웠 듯이 데이터 수집 과정이 완벽하지 않아 데이터 값이 존재하지 않은 결측치가 발생할 수 있습니다. 결측치가 존재할 경우, 결측치를 제거하거나 다른 값으로 채워야 합니다.

  * 기존의 데이터가 우리에게 인사이트를 주기에는 불완전할 수 있습니다. 예를 들어 보면 '축구를 좋아하는 고객의 남녀 각각의 특징 조사'에서 여성 고객에 관하여 인사이트를 얻기에는 데이터 수가 부족할 수 도 있습니다.

  * 예외적인 상황을 고려할 필요가 있습니다. 예를 들어 '치킨에 대하여 소비액에 조사하였을 때, 월드컵 기간의 치킨 소비량이 일반적인 치킨 소비량'이라고 보기는 힘듭니다.

  * 도메인 지식을 통해 좋은 데이터 특징을 발굴할 수 도 있습니다. 신용카드 결재에 미치는 중요한 요소로 불경기 여부, 축제 혹은 명절 여부 등이 있습니다.

  * 반대로 불필요한 데이터 특징은 제거할 수 도 있습니다. MZ세대는 너무 광범위한 나이대를 포함합니다. 그래서 MZ세대 여부를 물어보지 않는 것이 고객의 인사이트를 찾아내기 더 쉬울 수 있습니다.

## 3 - 3 테이블 핸들링

<br>

본격적으로 수집된 데이터에 전처리와 특징 공학을 적용하기 전에 테이블 핸들링을 해봅시다.

테이블 핸들링 (Tabel Handling)이란 정형 데이터를 자유롭게 조작하는 것을 말합니다.

우리는 Stage 1에서 수집된 데이터가 정형 데이터이라는 것을 배웠습니다.

In [1]:
# 데이터 불러오는 방법은 Stage 1 참조

import pandas as pd

train = pd.read_csv('./train.csv')

In [2]:
display(train.head(5))

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972
2,6,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,-0.256131,-0.994960
3,8,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,0.262698,-0.994901
4,9,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,...,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,0.994900,-0.994901

### 특정 행만 추출

iloc : 데이터프레임의 인덱스 값으로 데이터를 추출

```
# 한 개만 추출
데이터프레임.iloc[[원하는 순서에 위치한 데이터]]

# 연속적으로 추출
데이터프레임.iloc[:마지막 순서에 위치한 데이터]
```

In [3]:
display(train.iloc[[3]])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
3,8,-0.644269,1.417964,1.07438,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,0.262698,-0.994901

In [4]:
display(train.iloc[:3])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972
2,6,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,-0.256131,-0.994960

loc : 데이터프레임의 value 값으로 데이터를 추출



```
# 한 개만 추출
데이터프레임.loc[[value]]

# 연속적으로 추출
데이터프레임.loc[:마지막 value]
```

In [5]:
display(train.loc[[3]])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
3,8,-0.644269,1.417964,1.07438,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,0.262698,-0.994901

In [6]:
display(train.loc[:3])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972
2,6,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,-0.256131,-0.994960
3,8,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,0.262698,-0.994901

### iloc와 loc 차이점 구별하기

* iloc는 행의 순서에 따라 0부터 1까지 추출 (몇 번째에 위치한 데이터만 뽑아줘)
* loc는 행의 인덱스 값에 따라 0부터 2까지 추출 (인덱스 값이 똑같은 값만 뽑아줘)

In [7]:
display(train.iloc[:2], train.loc[:2])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972
2,6,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,-0.256131,-0.994960

### 특정 칼럼만 추출



```
데이터프레임[['원하는 칼럼 명']]
```

In [8]:
display(train[['ID', 'V1', 'V2']])

            ID         V1         V2
0            3  -1.358354  -1.340163
1            4  -0.966272  -0.185226
2            6  -0.425966   0.960523
3            8  -0.644269   1.417964
4            9  -0.894286   0.286157
...        ...        ...        ...
113837  284796 -12.516732  10.187818
113838  284797   1.884849  -0.143540
113839  284798  -0.241923   0.712247
113840  284802   0.120316   0.931005
113841  284803 -11.881118  10.071785

[113842 rows x 3 columns]

우리가 사용할 수 있는 칼럼은 31개나 있습니다.

원하는 칼럼이 너무 많은 경우 원치 않은 칼럼만 제거할 수 있습니다.



```
데이터프레임.drop(columns=['칼럼1', '칼럼2'])
```

In [9]:
display(train.drop(columns=['V1', 'V2']))

,ID,V3,V4,V5,V6,V7,V8,V9,V10,V11,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,0.624501,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,-0.226487,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972
2,6,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,-0.371407,1.341262,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,-0.256131,-0.994960
3,8,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,1.249376,-0.619468,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,0.262698,-0.994901
4,9,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,-0.410430,-0.705117,...,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,0.994900,-0.994901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113837,284796,-8.476671,-2.510473,-4.586669,-1.394465,-3.632516,5.498583,4.893089,8.655320,-1.052365,...,-0.944759,-1.565026,0.890675,-1.253276,1.786717,0.320763,2.090712,1.232864,-0.169496,1.034857
113838,284797,-0.999943,1.506772,-0.035300,-0.613638,0.190241,-0.249058,0.666458,0.120908,-1.134176,...,0.144008,0.634646,-0.042114,-0.053206,0.316403,-0.461441,0.018265,-0.041068,0.530986,1.034881
113839,284798,0.399806,-0.463406,0.244531,-1.343668,0.929369,-0.206210,0.106234,-0.284708,-0.612982,...,-0.228876,-0.514376,0.279598,0.371441,-0.559238,0.113144,0.131507,0.081265,-0.230699,1.034904
113840,284802,-0.546012,-0.745097,1.130314,-0.235973,0.812722,0.115093,-0.204064,-0.657422,0.644837,...,-0.314205,-0.808520,0.050343,0.102800,-0.435870,0.124079,0.217940,0.068803,-0.269825,1.034939
113841,284803,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,4.356170,-1.593105,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,-0.296653,1.034951

### Quiz 1

  * 조건에 해당한 행과 열만 뽑아봅시다.
  * 처음부터 세 번째 위치한 데이터 중 'ID'와 'V10' 칼럼만 추출해보십니다.

**Hint**

```
# 원하는 행 추출 
데이터프레임.iloc[:마지막 순서에 위치한 데이터]

# 원하는 열 추출
데이터프레임[['원하는 칼럼 명']]
```

In [10]:
# 실습
train = pd.read_csv('./train.csv')

**Solution**



```
train.iloc[:3][['V10']]
```

### 원하는 조건에 부합한 데이터만 추출

지금까지 특정 행과 열을 기준으로 데이터를 추출해보았습니다.

이제는 특정 값을 기준으로 데이터를 추출해봅시다.

```
# 원하는 조건 작성
# 예를 들어 특정 칼럼에 특정 값 이상인 값만 데이터 추출

특정 조건 = (데이터프레임['특정 칼럼'] >= 원하는 값)

데이터프레임.loc[특정 조건]
```

In [11]:
# 'V1' 칼럼에서 0 이하인 값만 추출

cond = (train['V1'] <= 0)

display(train.loc[cond])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972
2,6,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,-0.256131,-0.994960
3,8,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,0.262698,-0.994901
4,9,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,...,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,0.994900,-0.994901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113835,284793,-0.724123,1.485216,-1.132218,-0.607190,0.709499,-0.482638,0.548393,0.343003,-0.226323,...,0.414621,1.307511,-0.059545,0.242669,-0.665424,-0.269869,-0.170579,-0.030692,-0.251659,1.034810
113836,284795,-1.266580,-0.400461,0.956221,-0.723919,1.531993,-1.788600,0.314741,0.004704,0.013857,...,-0.157831,-0.883365,0.088485,-0.076790,-0.095833,0.132720,-0.028468,0.126494,-0.294977,1.034845
113837,284796,-12.516732,10.187818,-8.476671,-2.510473,-4.586669,-1.394465,-3.632516,5.498583,4.893089,...,-0.944759,-1.565026,0.890675,-1.253276,1.786717,0.320763,2.090712,1.232864,-0.169496,1.034857
113839,284798,-0.241923,0.712247,0.399806,-0.463406,0.244531,-1.343668,0.929369,-0.206210,0.106234,...,-0.228876,-0.514376,0.279598,0.371441,-0.559238,0.113144,0.131507,0.081265,-0.230699,1.034904
113841,284803,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,-0.296653,1.034951

In [12]:
print('특정 조검에 부합한 데이터의 수는 전체 데이터의 수보다 작음을 확인할 수 있습니다.\n')
print(f'기존 데이터의 수 : {train.shape[0]}')
print(f'특정 조건에 부합한 데이터의 수 : {train.loc[cond].shape[0]}')

특정 조검에 부합한 데이터의 수는 전체 데이터의 수보다 작음을 확인할 수 있습니다.

기존 데이터의 수 : 113842
특정 조건에 부합한 데이터의 수 : 56688

원하는 조건에 다양할 수 있습니다. 

각각의 경우를 살펴봅시다.

**특정 조건 1에 부합하고 특정 조건 2에도 부합한 데이터 (교집합)**



```
특정 조건 1 = (데이터프레임['특정 칼럼 1'] >= 특정 값)
특정 조건 2 = (데이터프레임['특정 칼럼 2'] <= 특정 값)

데이터프레임.loc[(특정 조건 1 & 특정 조건 2)]
```

In [13]:
# V1 칼럼에서 -0.1보다 크면서 V2에서 0.1보다 작은 데이터만 추출
cond1 = (train['V1'] >= -0.1)
cond2 = (train['V2'] <= 0.1)

display(train.loc[cond1 & cond2])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
5,11,1.449044,-1.176339,0.913860,-1.375667,-1.971383,-0.629152,-1.423236,0.048456,-1.720408,...,-0.009302,0.313894,0.027740,0.500512,0.251367,-0.129478,0.042850,0.016253,-0.198421,-0.994866
11,20,1.492936,-1.029346,0.454795,-1.438026,-1.555434,-0.720961,-1.080664,-0.053127,-1.978682,...,-0.177650,-0.175074,0.040002,0.295814,0.332931,-0.220385,0.022298,0.007602,-0.237546,-0.994807
14,28,1.322707,-0.174041,0.434555,0.576038,-0.836758,-0.831083,-0.264905,-0.220982,-1.071425,...,-0.284376,-0.323357,-0.037710,0.347151,0.559639,-0.280158,0.042335,0.028822,-0.083840,-0.994713
15,30,1.059387,-0.175319,1.266130,1.186110,-0.786002,0.578435,-0.767084,0.401046,0.699500,...,0.013676,0.213734,0.014462,0.002951,0.294638,-0.395070,0.081461,0.024220,-0.125900,-0.994713
19,41,1.249055,-0.624727,-0.710589,-0.991600,1.429973,3.692977,-1.090209,0.967291,0.850149,...,-0.006293,0.009200,-0.129463,1.112970,0.500382,1.196549,-0.048220,0.005094,0.110249,-0.994608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113826,284772,1.894910,-0.427906,-2.184267,0.159979,0.587740,-0.557966,0.510524,-0.281590,0.785446,...,0.122775,0.202373,-0.125329,0.017737,0.396759,-0.515948,-0.039485,-0.040441,1.439111,1.034634
113828,284776,1.955547,-0.724606,-1.706511,-0.611145,1.710907,3.914215,-1.248690,1.054133,1.314064,...,0.193605,0.690196,0.155951,0.726775,-0.061219,-0.192666,0.060347,-0.042323,-0.125900,1.034669
113829,284780,1.975178,-0.616244,-2.628295,-0.406246,2.327804,3.664740,-0.533297,0.842937,1.128798,...,0.086043,0.543613,-0.032129,0.768379,0.477688,-0.031833,0.014151,-0.066542,0.041920,1.034716
113833,284789,2.007418,-0.280235,-0.208113,0.335261,-0.715798,-0.751373,-0.458972,-0.140140,0.959971,...,-0.208260,-0.430347,0.416765,0.064819,-0.608337,0.268436,-0.028069,-0.041367,-0.251659,1.034763
113838,284797,1.884849,-0.143540,-0.999943,1.506772,-0.035300,-0.613638,0.190241,-0.249058,0.666458,...,0.144008,0.634646,-0.042114,-0.053206,0.316403,-0.461441,0.018265,-0.041068,0.530986,1.034881

**특정 조건 1에 부합하기도 하고 특정 조건 2에도 부합하기도 한 데이터 (합집합)**



```
특정 조건 1 = (데이터프레임['특정 칼럼 1'] >= 특정 값)
특정 조건 2 = (데이터프레임['특정 칼럼 2'] <= 특정 값)

데이터프레임.loc[(특정 조건 1 | 특정 조건 2)]
```

In [14]:
# V1 칼럼에서 -0.1보다 크거나 V2에서 0.1보다 작은 데이터만 추출
cond1 = (train['V1'] >= -0.1)
cond2 = (train['V2'] <= 0.1)

display(train.loc[cond1 | cond2])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972
5,11,1.449044,-1.176339,0.913860,-1.375667,-1.971383,-0.629152,-1.423236,0.048456,-1.720408,...,-0.009302,0.313894,0.027740,0.500512,0.251367,-0.129478,0.042850,0.016253,-0.198421,-0.994866
6,14,1.069374,0.287722,0.828613,2.712520,-0.178398,0.337544,-0.096717,0.115982,-0.221083,...,-0.036876,0.074412,-0.071407,0.104744,0.548265,0.104094,0.021491,0.021293,0.076853,-0.994854
7,15,-2.791855,-0.327771,1.641750,1.767473,-0.136588,0.807596,-0.422911,-1.907107,0.755713,...,1.151663,0.222182,1.020586,0.028317,-0.232746,-0.235557,-0.164778,-0.030154,0.514218,-0.994843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113831,284786,0.032887,0.545338,-1.185844,-1.729828,2.932315,3.401529,0.337434,0.925377,-0.165663,...,-0.266113,-0.716336,0.108519,0.688519,-0.460220,0.161939,0.265368,0.090245,-0.282401,1.034740
113833,284789,2.007418,-0.280235,-0.208113,0.335261,-0.715798,-0.751373,-0.458972,-0.140140,0.959971,...,-0.208260,-0.430347,0.416765,0.064819,-0.608337,0.268436,-0.028069,-0.041367,-0.251659,1.034763
113836,284795,-1.266580,-0.400461,0.956221,-0.723919,1.531993,-1.788600,0.314741,0.004704,0.013857,...,-0.157831,-0.883365,0.088485,-0.076790,-0.095833,0.132720,-0.028468,0.126494,-0.294977,1.034845
113838,284797,1.884849,-0.143540,-0.999943,1.506772,-0.035300,-0.613638,0.190241,-0.249058,0.666458,...,0.144008,0.634646,-0.042114,-0.053206,0.316403,-0.461441,0.018265,-0.041068,0.530986,1.034881
113840,284802,0.120316,0.931005,-0.546012,-0.745097,1.130314,-0.235973,0.812722,0.115093,-0.204064,...,-0.314205,-0.808520,0.050343,0.102800,-0.435870,0.124079,0.217940,0.068803,-0.269825,1.034939

**특정 조건에 부합하지 않은 데이터 (여집합)**



```
특정 조건 = (데이터프레임['특정 칼럼 1'] >= 특정 값)

데이터프레임.loc[(~특정 조건)]
```

In [15]:
# 'V1' 칼럼에서 0 이하가 아닌 데이터만 추출

cond = (train['V1'] <= 0)

display(train.loc[~cond])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
5,11,1.449044,-1.176339,0.913860,-1.375667,-1.971383,-0.629152,-1.423236,0.048456,-1.720408,...,-0.009302,0.313894,0.027740,0.500512,0.251367,-0.129478,0.042850,0.016253,-0.198421,-0.994866
6,14,1.069374,0.287722,0.828613,2.712520,-0.178398,0.337544,-0.096717,0.115982,-0.221083,...,-0.036876,0.074412,-0.071407,0.104744,0.548265,0.104094,0.021491,0.021293,0.076853,-0.994854
11,20,1.492936,-1.029346,0.454795,-1.438026,-1.555434,-0.720961,-1.080664,-0.053127,-1.978682,...,-0.177650,-0.175074,0.040002,0.295814,0.332931,-0.220385,0.022298,0.007602,-0.237546,-0.994807
12,24,0.247491,0.277666,1.185471,-0.092603,-1.314394,-0.150116,-0.946365,-1.617935,1.544071,...,1.650180,0.200454,-0.185353,0.423073,0.820591,-0.227632,0.336634,0.250475,0.010480,-0.994772
14,28,1.322707,-0.174041,0.434555,0.576038,-0.836758,-0.831083,-0.264905,-0.220982,-1.071425,...,-0.284376,-0.323357,-0.037710,0.347151,0.559639,-0.280158,0.042335,0.028822,-0.083840,-0.994713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113829,284780,1.975178,-0.616244,-2.628295,-0.406246,2.327804,3.664740,-0.533297,0.842937,1.128798,...,0.086043,0.543613,-0.032129,0.768379,0.477688,-0.031833,0.014151,-0.066542,0.041920,1.034716
113831,284786,0.032887,0.545338,-1.185844,-1.729828,2.932315,3.401529,0.337434,0.925377,-0.165663,...,-0.266113,-0.716336,0.108519,0.688519,-0.460220,0.161939,0.265368,0.090245,-0.282401,1.034740
113833,284789,2.007418,-0.280235,-0.208113,0.335261,-0.715798,-0.751373,-0.458972,-0.140140,0.959971,...,-0.208260,-0.430347,0.416765,0.064819,-0.608337,0.268436,-0.028069,-0.041367,-0.251659,1.034763
113838,284797,1.884849,-0.143540,-0.999943,1.506772,-0.035300,-0.613638,0.190241,-0.249058,0.666458,...,0.144008,0.634646,-0.042114,-0.053206,0.316403,-0.461441,0.018265,-0.041068,0.530986,1.034881
113840,284802,0.120316,0.931005,-0.546012,-0.745097,1.130314,-0.235973,0.812722,0.115093,-0.204064,...,-0.314205,-0.808520,0.050343,0.102800,-0.435870,0.124079,0.217940,0.068803,-0.269825,1.034939

### Quiz 2

  * 'V1' 칼럼에서 2보다 작거나 'V2'칼럼에서 -1보다 크면서 'V3' 칼럼에 값이 0이 아닌 데이터만 추출해보세요.

**Hint**

  * 'V1'과 'V2' 칼럼에 관한 조건은 합집합
  * 'V3' 칼럼에 관한 조건은 다른 조건과 교집합

In [16]:
# 실습
train = pd.read_csv('./train.csv')

**Solution**



```
cond1 = (train['V1'] >= -0.1)
cond2 = (train['V2'] <= 0.1)
cond3 = (train['V3'] == 0)

display(train.loc[~cond3 & ((cond1 | cond2))])
```

## 전처리

### 결측치 처리

<br>

결측치를 처리할 수 있는 방법 크게 결측치가 있는 데이터를 삭제하는 제거 (Delection)와 결측치를 다른 값으로 채우는 대치 (Imputation)가 있습니다.

우리가 사용하는 데이터 셋에는 결측치가 존재하지 않습니다.

그래서 인위적으로 결측치를 만들어 보겠습니다.

In [17]:
# random 라이브러리를 활용하여 무작위 수를 생성할 수 있습니다.
# randrange는 무작위 정수 값을 생성할 수 있습니다.
from random import randrange

# numpy 라이버러리를 활용하여 array 데이터를 다룰 수 있습니다.
# NaN는 결측값을 생성합니다.
from numpy import NaN

In [18]:
# 'train' 데이터에서 'V1' 칼럼만 사용합니다
df = train[['V1']]

# 무작위로 'df' 데이터의 값을 결측값으로 변경합니다
list_null = []
for _ in range(100):

  index_null = randrange(df.shape[0])
  list_null.append(index_null)

list_null = sorted(list_null)

df.iloc[list_null] = NaN

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [19]:
# 결측치로 변경된 데이터의 인덱스
print(list_null[:5])

[636, 1127, 1434, 3580, 4400]

In [20]:
# Stage 1를 기억하며 결측값이 몇 개 존재하는 지 확인해봅시다
df.isnull().sum()

V1    100
dtype: int64

**제거**

In [21]:
# 결측치가 존재하는 데이터를 제거해봅시다.

new_df = df.dropna()

# 결측치가 모두 제거되었음을 확인했습니다.
print(new_df.isnull().sum())

V1    0
dtype: int64

In [22]:
# 그러나 우리가 활용할 수 있는 데이터의 수가 줄어들었음을 확인할 수 있습니다.
print(df.shape[0], new_df.shape[0])

113842 113742

**대치**

In [23]:
# 결측치를 다른 값으로 변경해봅시다.

# 결측치를 특정 수로 대치합니다.
df_0 = df.fillna(0)
display(df_0.iloc[[1357]])

# 결측치를 평균으로 대치합니다.
df_mean = df.fillna(df['V1'].mean())
display(df_mean.iloc[[1357]])

# 결측치를 바로 이전 값으로으로 대치합니다.
df_pad = df.fillna(method='pad')
display(df_pad.iloc[1355:1359])

# 결측치를 바로 이후 값으로으로 대치합니다.
df_bfill = df.fillna(method='bfill')
display(df_bfill.iloc[1355:1359])

            V1
1357  1.317317

            V1
1357  1.317317

            V1
1355 -0.299876
1356 -0.471053
1357  1.317317
1358 -0.620824

            V1
1355 -0.299876
1356 -0.471053
1357  1.317317
1358 -0.620824

### 테이블 핸들링을 활용한 이상치 변환

**이상치를 구분하는 기준 IQR**

  * IQR (Interquartile range)이란 이상치를 구분할 수 있는 방법론 중 하나입니다.

  * 사분위수를 활용화여 이상치를 식별하는 기준선 두 개 (최대값과 최소값)를 설정합니다.

  * 최대값과 최소값을 벗어난 데이터를 이상치라고 규정합니다.

  * 최대값과 최소값은 다음의 수식으로 구할 수 있습니다.

    - IQR = 3사분위수 - 1사부위수 (상위 75% 지점 값과 하위 25% 지점 값의 차이)

    - 최대값 = 3사분위수 + 1.5 * IQR

    - 최소값 = 1사분위수 - 1.5 * IQR

**사분위수 구해주는 함수 quantile()**



```
상위 75% 지점 값 (3사분위수) = 데이터프레임['특정 칼럼'].quantile(0.75)

하위 25% 지점 값 (1사분위수) = 데이터프레임['특정 칼럼'].quantile(0.25)
```

**IQR 기준에 해당하는 이상치를 다른 값으로 변경하는 방법**

```
# IQR를 활용한 이상치 기준 설정
IQR = 데이터프레임['특정 칼럼'].quantile(0.75) - 데이터프레임['특정 칼럼'].quantile(0.25)
maximum = 데이터프레임['특정 칼럼'].quantile(0.75) + (1.5 * IQR)
minimum = 데이터프레임['특정 칼럼'].quantile(0.25) - (1.5 * IQR)

특정 조건 1 = (데이터프레임['특정 칼럼'] > maximum)
특정 조건 2 = (데이터프레임['특정 칼럼'] < minimum)

# 이상치 기준에 부합한 데이터를 다른 값으로 대체

## maximum에 초과한 데이터를 3사분위값으로 변경
데이터프레임.loc[특정 조건 1] = 데이터프레임['특정 칼럼'].quantile(0.75)

## minimum에 미만인 데이터를 1사분위값으로 변경
데이터프레임.loc[특정 조건 2] = 데이터프레임['특정 칼럼'].quantile(0.25)
```

IQR를 기준으로 이상치 혹은 극단값이 다른 값으로 변경되었기에 'V1' 칼럼의 표준편차가 감소하였음을 확인할 수 있습니다.

In [24]:
# 'V1' 칼럼에 IQR를 기준으로 이상치 데이터 변환

print(f'기존 V1 칼럼 표준편차 : {train["V1"].std()}\n')

IQR = train['V1'].quantile(0.75) - train['V1'].quantile(0.25)
maximum = train['V1'].quantile(0.75) + (1.5 * IQR)
minimum = train['V1'].quantile(0.25) - (1.5 * IQR)

print(f'IQR : {IQR}')
print(f'maximum : {maximum}')
print(f'minimum : {minimum}\n')

cond1 = (train['V1'] > maximum)
cond2 = (train['V1'] < minimum)

train.loc[cond1] = train['V1'].quantile(0.75)
train.loc[cond2] = train['V1'].quantile(0.25)

print(f'이상치 처리된 V1 칼럼 표준편차 : {train["V1"].std()}')

기존 V1 칼럼 표준편차 : 1.9510604522492707

IQR : 2.2388523032427634
maximum : 4.673651794165185
minimum : -4.281757418805868

이상치 처리된 V1 칼럼 표준편차 : 1.4457160088953087

### Quiz 3

  * 'train' 데이터에서 가장 표준편차 큰 칼럼을 IQR를 기준으로 이상치를 1사분위수와 3사분위수 값으로 변경하고 전처리 전과 후의 표준편차 차이를 구해보세요.

**Hint**
  * describe 함수를 통해 각 칼럼별 표준편차를 쉽게 확인할 수 있습니다.
  * describe 함수를 통해 출력된 것은 데이터프레임입니다. std만 해당되는 데이터만 추출할 수 있습니다.

In [25]:
# 실습
train = pd.read_csv('./train.csv')

**Solution**

  * 정답 : 2.708925361301458

```
display(train.describe().loc['std'])

orgin_std = train["V29"].std()
print(f'기존 V1 칼럼 표준편차 : {orgin_std}\n')

IQR = train['V1'].quantile(0.75) - train['V29'].quantile(0.25)
maximum = train['V29'].quantile(0.75) + (1.5 * IQR)
minimum = train['V29'].quantile(0.25) - (1.5 * IQR)

print(f'IQR : {IQR}')
print(f'maximum : {maximum}')
print(f'minimum : {minimum}\n')

cond1 = (train['V29'] > maximum)
cond2 = (train['V29'] < minimum)

train.loc[cond1] = train['V29'].quantile(0.75)
train.loc[cond2] = train['V29'].quantile(0.25)


preprocessed_std = train["V29"].std()
print(f'이상치 처리된 V1 칼럼 표준편차 : {preprocessed_std}')

print(f'result : {orgin_std-preprocessed_std}')
```

### 스케일링

<br>

여러분들은 IQR를 활용하여 데이터의 Feature의 범위를 조정시켜 보았습니다.

이러한 과정을 데이터 스케일링 (Data Scaling)이라고 합니다.

데이터 스케일링에는 다양한 기법들이 존재합니다.

하나씩 알아가보도록 합시다.

**Scikit-Learn (sklearn)**

* sklearn 라이브러리는 데이터 전처리, 특성공학 그리고 머신러닝 모델 생성 등 머신러닝 엔지니어링 기술을 활용할 수 있도록 도와주는 친구입니다.

#### Standard Scaler

Standard Scaler는 데이터의 Feature의 평균을 0 그리고 분산을 1로 스케일링하여 데이터 표준 정규 분포를 따르도록 합니다.

![스크린샷 2023-01-27 14.28.22.png]()

In [26]:
# 'train' 데이터 셋에서 'ID' 칼럼은 제외하고 사용합니다.
df = train.drop(columns=['ID'])

In [27]:
# sklearn 라이브러리에서 preprocessing 중에서 StandardScaler를 불러옵니다.
from sklearn.preprocessing import StandardScaler

In [28]:
# 스케일링을 용이하게 사용하게 별도로 변수로 지정합니다.
stand_scaler = StandardScaler()

# fit_transform 함수를 활용해 StandardScaler를 적용시킨 후 array 형태로 반환합니다.
array_stand_scaled = stand_scaler.fit_transform(df)

# array 형태의 데이터를 pandas 라이브러리의 DataFrame 함수를 사용해 데이터프레임로 변환합니다.
df_stand_scaled = pd.DataFrame(array_stand_scaled)

display(df_stand_scaled.head())

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-0.696317,-0.812481,1.178089,0.271798,-0.368309,1.349308,0.652511,0.210988,-1.380804,0.188955,...,0.345210,1.066111,1.431834,-1.136246,-0.633230,-0.288586,-0.137969,-0.166355,1.188563,-1.990839
1,-0.495358,-0.112967,1.191305,-0.608173,-0.007886,0.933476,0.192541,0.320444,-1.264291,-0.056156,...,-0.148280,0.007285,-0.297148,-1.938909,1.241563,-0.460803,0.157587,0.173998,0.143876,-1.990839
2,-0.218427,0.580982,0.755819,-0.116154,0.307498,-0.026206,0.390690,0.221649,-0.517216,-0.351540,...,-0.286720,-0.773425,-0.039431,-0.611606,-0.450853,0.220818,0.635984,0.229098,-0.346737,-1.990818
3,-0.330318,0.858041,0.711241,-0.345477,0.693558,0.317890,0.925884,-3.209968,0.563699,1.161326,...,2.693508,-1.402900,0.092477,-1.070930,-0.801717,-0.106743,-3.020466,-3.046182,-0.194717,-1.990712
4,-0.458462,0.172537,-0.082109,-0.189262,1.951788,2.793282,0.302611,0.719980,-0.355977,-0.387965,...,-0.099976,-0.370382,-0.319020,1.671161,0.714378,-0.798093,0.029990,0.401295,0.019821,-1.990712

In [29]:
# 평균과 표준편차가 어떻게 변하였는 지 확인해봅시다.
# 각각의 Feature들이 평균은 0에 가깝게 표준편차는 1에 가깝게 변화하였음을 볼 수 있습니다.
display(df.describe(), df_stand_scaled.describe())

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
count,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,...,113842.000000,1.138420e+05,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000
mean,0.000197,0.001289,0.009717,-0.004169,0.000475,0.005141,0.005769,-0.002451,-0.002107,0.005209,...,-0.001242,4.088347e-07,-0.001317,-0.000884,0.001680,-0.000293,-0.000234,-0.000508,0.927253,0.116232
std,1.951060,1.651064,1.496916,1.412633,1.367533,1.330583,1.204111,1.185504,1.095415,1.071337,...,0.722001,7.238291e-01,0.636061,0.605854,0.520069,0.480979,0.399505,0.356130,3.412933,0.558161
min,-56.407510,-72.715728,-32.454198,-5.600607,-42.147898,-26.160506,-41.506796,-50.943369,-13.434066,-24.403185,...,-22.757540,-8.887017e+00,-44.807735,-2.824849,-10.295397,-1.855355,-9.895244,-9.617915,-0.307413,-0.994972
25%,-0.923479,-0.595602,-0.883877,-0.853728,-0.689853,-0.766094,-0.552071,-0.209492,-0.647477,-0.533477,...,-0.229710,-5.402665e-01,-0.162180,-0.355582,-0.315470,-0.326160,-0.070847,-0.053249,-0.230560,-0.360304
50%,0.012074,0.066390,0.183868,-0.019359,-0.054060,-0.272436,0.039036,0.020970,-0.052157,-0.090810,...,-0.030281,8.345807e-03,-0.012261,0.040573,0.018278,-0.052815,0.001502,0.011158,-0.000699,-0.002590
75%,1.315373,0.801687,1.037120,0.742208,0.614214,0.405285,0.568750,0.328303,0.590705,0.455287,...,0.186001,5.287508e-01,0.147474,0.438225,0.353989,0.240838,0.091279,0.077851,0.768532,0.640653
max,2.454930,21.467203,4.187811,16.491217,34.801666,23.917837,44.054461,20.007208,10.392889,15.331742,...,27.202839,8.361985e+00,22.528412,4.022866,7.519589,3.119295,11.135740,33.847808,180.101027,1.034951

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
count,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,...,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05
mean,9.986370e-18,-6.990459e-18,3.994548e-17,-3.994548e-17,1.597819e-17,5.991822e-18,1.597819e-17,3.994548e-18,3.432815e-18,1.672717e-17,...,-7.489778e-18,-2.995911e-18,-1.597819e-17,-8.488415e-18,2.396729e-17,2.546524e-17,8.738074e-18,5.991822e-18,2.995911e-17,1.597819e-16
std,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,...,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00
min,-2.891143e+01,-4.404272e+01,-2.168730e+01,-3.961724e+00,-3.082086e+01,-1.966489e+01,-3.447585e+01,-4.297002e+01,-1.226203e+01,-2.278321e+01,...,-3.151850e+01,-1.227784e+01,-7.044391e+01,-4.661148e+00,-1.979951e+01,-3.856866e+00,-2.476825e+01,-2.700547e+01,-3.617625e-01,-1.990839e+00
25%,-4.734248e-01,-3.615209e-01,-5.969594e-01,-6.014037e-01,-5.048002e-01,-5.796248e-01,-4.632818e-01,-1.746449e-01,-5.891582e-01,-5.028191e-01,...,-3.164376e-01,-7.464045e-01,-2.529060e-01,-5.854532e-01,-6.098260e-01,-6.775104e-01,-1.767528e-01,-1.480942e-01,-3.392442e-01,-8.537647e-01
50%,6.087142e-03,3.943019e-02,1.163400e-01,-1.075321e-02,-3.987825e-02,-2.086138e-01,2.762811e-02,1.975560e-02,-4.569051e-02,-8.962586e-02,...,-4.022034e-02,1.152957e-02,-1.720530e-02,6.842869e-02,3.191485e-02,-1.091987e-01,4.344384e-03,3.275862e-02,-2.718939e-01,-2.128823e-01
75%,6.740856e-01,4.847794e-01,6.863496e-01,5.283610e-01,4.487943e-01,3.007295e-01,4.675513e-01,2.789995e-01,5.411779e-01,4.201101e-01,...,2.593411e-01,7.304939e-01,2.339279e-01,7.247792e-01,6.774301e-01,5.013363e-01,2.290662e-01,2.200319e-01,-4.650593e-02,9.395568e-01
max,1.258159e+00,1.300132e+01,2.791147e+00,1.167710e+01,2.544826e+01,1.797167e+01,3.658209e+01,1.687868e+01,9.489591e+00,1.430605e+01,...,3.767888e+01,1.155248e+01,3.542087e+01,6.641477e+00,1.445565e+01,6.485947e+00,2.787452e+01,9.504534e+01,5.249871e+01,1.645983e+00

#### MinMax Scaler

MinMaxScaler는 데이터의 Feature의 최소값을 0 그리고 최대값을 1로 스케일링하여 데이터가 0과 1사이에 분포하도록 합니다.

![스크린샷 2023-01-27 14.28.45.png]()

In [30]:
# 'train' 데이터 셋에서 'ID' 칼럼은 제외하고 사용합니다.
df = train.drop(columns=['ID'])

In [31]:
# sklearn 라이브러리에서 preprocessing 중에서 MinMaxScaler를 불러옵니다.
from sklearn.preprocessing import MinMaxScaler

In [32]:
# 스케일링을 용이하게 사용하게 별도로 변수로 지정합니다.
minmax_scaler = MinMaxScaler()

# fit_transform 함수를 활용해 StandardScaler를 적용시킨 후 array 형태로 반환합니다.
array_minmax_scaled = minmax_scaler.fit_transform(df)

# array 형태의 데이터를 pandas 라이브러리의 DataFrame 함수를 사용해 데이터프레임로 변환합니다.
df_minmax_scaled = pd.DataFrame(array_minmax_scaled)

display(df_minmax_scaled.head())

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.935217,0.757840,0.934103,0.270706,0.541195,0.558345,0.494362,0.721503,0.500249,0.619375,...,0.460476,0.559957,0.678939,0.311866,0.559515,0.345001,0.467876,0.219901,0.029329,0.000000
1,0.941878,0.770102,0.934643,0.214438,0.547600,0.547297,0.487889,0.723332,0.505606,0.612767,...,0.453344,0.515525,0.662607,0.240850,0.614245,0.328350,0.473490,0.222690,0.009566,0.000000
2,0.951057,0.782268,0.916852,0.245899,0.553205,0.521798,0.490678,0.721681,0.539951,0.604802,...,0.451343,0.482764,0.665042,0.358283,0.564839,0.394253,0.482578,0.223141,0.000284,0.000006
3,0.947348,0.787124,0.915031,0.231235,0.560066,0.530941,0.498209,0.664343,0.589645,0.645592,...,0.494412,0.456349,0.666288,0.317645,0.554597,0.362583,0.413120,0.196306,0.003160,0.000035
4,0.943101,0.775107,0.882621,0.241224,0.582427,0.596712,0.489438,0.730007,0.547364,0.603820,...,0.454042,0.499677,0.662401,0.560251,0.598855,0.295739,0.471066,0.224552,0.007219,0.000035

In [33]:
# 최소값과 최대값이 어떻게 변하였는 지 확인해봅시다.
# 각각의 Feature들이 최소값은 0 그리고 최대값은 1로 변화하였음을 볼 수 있습니다.
display(df.describe(), df_minmax_scaled.describe())

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
count,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,...,113842.000000,1.138420e+05,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000
mean,0.000197,0.001289,0.009717,-0.004169,0.000475,0.005141,0.005769,-0.002451,-0.002107,0.005209,...,-0.001242,4.088347e-07,-0.001317,-0.000884,0.001680,-0.000293,-0.000234,-0.000508,0.927253,0.116232
std,1.951060,1.651064,1.496916,1.412633,1.367533,1.330583,1.204111,1.185504,1.095415,1.071337,...,0.722001,7.238291e-01,0.636061,0.605854,0.520069,0.480979,0.399505,0.356130,3.412933,0.558161
min,-56.407510,-72.715728,-32.454198,-5.600607,-42.147898,-26.160506,-41.506796,-50.943369,-13.434066,-24.403185,...,-22.757540,-8.887017e+00,-44.807735,-2.824849,-10.295397,-1.855355,-9.895244,-9.617915,-0.307413,-0.994972
25%,-0.923479,-0.595602,-0.883877,-0.853728,-0.689853,-0.766094,-0.552071,-0.209492,-0.647477,-0.533477,...,-0.229710,-5.402665e-01,-0.162180,-0.355582,-0.315470,-0.326160,-0.070847,-0.053249,-0.230560,-0.360304
50%,0.012074,0.066390,0.183868,-0.019359,-0.054060,-0.272436,0.039036,0.020970,-0.052157,-0.090810,...,-0.030281,8.345807e-03,-0.012261,0.040573,0.018278,-0.052815,0.001502,0.011158,-0.000699,-0.002590
75%,1.315373,0.801687,1.037120,0.742208,0.614214,0.405285,0.568750,0.328303,0.590705,0.455287,...,0.186001,5.287508e-01,0.147474,0.438225,0.353989,0.240838,0.091279,0.077851,0.768532,0.640653
max,2.454930,21.467203,4.187811,16.491217,34.801666,23.917837,44.054461,20.007208,10.392889,15.331742,...,27.202839,8.361985e+00,22.528412,4.022866,7.519589,3.119295,11.135740,33.847808,180.101027,1.034951

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
count,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,...,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000
mean,0.958297,0.772083,0.885975,0.253326,0.547740,0.522494,0.485179,0.717978,0.563730,0.614281,...,0.455487,0.515219,0.665414,0.412395,0.578001,0.372903,0.470497,0.221264,0.006844,0.547412
std,0.033146,0.017530,0.040852,0.063944,0.017772,0.026570,0.014073,0.016709,0.045974,0.026962,...,0.014451,0.041964,0.009446,0.088475,0.029193,0.096686,0.018996,0.008193,0.018918,0.274967
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.942605,0.765745,0.861588,0.214870,0.538769,0.507094,0.478660,0.715059,0.536644,0.600724,...,0.450914,0.483898,0.663025,0.360597,0.560198,0.307398,0.467139,0.220051,0.000426,0.312656
50%,0.958499,0.772774,0.890728,0.252639,0.547032,0.516951,0.485568,0.718308,0.561629,0.611864,...,0.454906,0.515703,0.665252,0.418449,0.578933,0.362345,0.470579,0.221533,0.001700,0.488876
75%,0.980640,0.780581,0.914014,0.287111,0.555716,0.530485,0.491759,0.722639,0.588609,0.625608,...,0.459235,0.545873,0.667624,0.476520,0.597777,0.421375,0.474848,0.223067,0.005964,0.805757
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### Robust Scaler

RobustScaler는 데이터의 Feature의 중앙값을 0 그리고 IQR이 1로 스케일링합니다.

![스크린샷 2023-01-27 14.29.16.png]()

In [34]:
# 'train' 데이터 셋에서 'ID' 칼럼은 제외하고 사용합니다.
df = train.drop(columns=['ID'])

In [35]:
# sklearn 라이브러리에서 preprocessing 중에서 RobustScaler를 불러옵니다.
from sklearn.preprocessing import RobustScaler

In [36]:
# 스케일링을 용이하게 사용하게 별도로 변수로 지정합니다.
robust_scaler = RobustScaler()

# fit_transform 함수를 활용해 StandardScaler를 적용시킨 후 array 형태로 반환합니다.
array_robust_scaled = robust_scaler.fit_transform(df)

# array 형태의 데이터를 pandas 라이브러리의 DataFrame 함수를 사용해 데이터프레임로 변환합니다.
df_robust_scaled = pd.DataFrame(array_robust_scaled)

display(df_robust_scaled.head())

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-0.612112,-1.006630,0.827352,0.250097,-0.344414,1.769653,0.671316,0.421547,-1.181165,0.301844,...,0.669406,0.714052,2.976456,-0.919436,-0.516715,-0.152172,-0.350682,-0.540885,4.988951,-0.991432
1,-0.436985,-0.180075,0.837651,-0.528801,0.033549,1.297307,0.177167,0.662829,-1.078087,0.036265,...,-0.187676,-0.002874,-0.575026,-1.532047,0.939710,-0.298261,0.377613,0.383672,1.420280,-0.991432
2,-0.195654,0.639905,0.498305,-0.093295,0.364281,0.207199,0.390040,0.445048,-0.417156,-0.283786,...,-0.428115,-0.531489,-0.045653,-0.519018,-0.375037,0.279949,1.556456,0.533349,-0.255664,-0.991420
3,-0.293161,0.967282,0.463568,-0.296277,0.769128,0.598059,0.965002,-7.119504,0.539122,1.355415,...,4.747881,-0.957702,0.225298,-0.869585,-0.647604,0.002083,-7.453594,-8.363822,0.263636,-0.991362
4,-0.404832,0.157281,-0.154638,-0.158005,2.088588,3.409873,0.295416,1.543552,-0.274508,-0.323253,...,-0.103783,-0.258590,-0.619954,1.223243,0.530169,-0.584380,0.063194,1.001114,0.996503,-0.991362

In [37]:
# 1사분위수와 3사분위수가 어떻게 변하였는 지 확인해봅시다.
# 각각의 Feature들이 1사분위수와 3사분위수를 확인하여 IQR를 구해보면 1에 가깝게 변환하였음을 볼 수 있습니다.
display(df.describe(), df_robust_scaled.describe())

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
count,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,...,113842.000000,1.138420e+05,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000
mean,0.000197,0.001289,0.009717,-0.004169,0.000475,0.005141,0.005769,-0.002451,-0.002107,0.005209,...,-0.001242,4.088347e-07,-0.001317,-0.000884,0.001680,-0.000293,-0.000234,-0.000508,0.927253,0.116232
std,1.951060,1.651064,1.496916,1.412633,1.367533,1.330583,1.204111,1.185504,1.095415,1.071337,...,0.722001,7.238291e-01,0.636061,0.605854,0.520069,0.480979,0.399505,0.356130,3.412933,0.558161
min,-56.407510,-72.715728,-32.454198,-5.600607,-42.147898,-26.160506,-41.506796,-50.943369,-13.434066,-24.403185,...,-22.757540,-8.887017e+00,-44.807735,-2.824849,-10.295397,-1.855355,-9.895244,-9.617915,-0.307413,-0.994972
25%,-0.923479,-0.595602,-0.883877,-0.853728,-0.689853,-0.766094,-0.552071,-0.209492,-0.647477,-0.533477,...,-0.229710,-5.402665e-01,-0.162180,-0.355582,-0.315470,-0.326160,-0.070847,-0.053249,-0.230560,-0.360304
50%,0.012074,0.066390,0.183868,-0.019359,-0.054060,-0.272436,0.039036,0.020970,-0.052157,-0.090810,...,-0.030281,8.345807e-03,-0.012261,0.040573,0.018278,-0.052815,0.001502,0.011158,-0.000699,-0.002590
75%,1.315373,0.801687,1.037120,0.742208,0.614214,0.405285,0.568750,0.328303,0.590705,0.455287,...,0.186001,5.287508e-01,0.147474,0.438225,0.353989,0.240838,0.091279,0.077851,0.768532,0.640653
max,2.454930,21.467203,4.187811,16.491217,34.801666,23.917837,44.054461,20.007208,10.392889,15.331742,...,27.202839,8.361985e+00,22.528412,4.022866,7.519589,3.119295,11.135740,33.847808,180.101027,1.034951

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
count,113842.000000,1.138420e+05,113842.000000,1.138420e+05,1.138420e+05,113842.000000,1.138420e+05,1.138420e+05,113842.000000,113842.000000,...,1.138420e+05,113842.000000,1.138420e+05,113842.000000,113842.000000,1.138420e+05,113842.000000,1.138420e+05,113842.000000,1.138420e+05
mean,-0.005305,-4.659126e-02,-0.090656,9.518101e-03,4.181888e-02,0.236966,-2.968106e-02,-4.354864e-02,0.040422,0.097110,...,6.985382e-02,-0.007807,3.534120e-02,-0.052226,-0.024793,9.263181e-02,-0.010705,-8.898751e-02,0.928795,1.187084e-01
std,0.871456,1.181619e+00,0.779239,8.851440e-01,1.048668e+00,1.135911,1.074311e+00,2.204379e+00,0.884697,1.083511,...,1.736786e+00,0.677098,2.054098e+00,0.763227,0.776850,8.482905e-01,2.464164,2.716472e+00,3.416036,5.576269e-01
min,-25.200226,-5.208808e+01,-16.990171,-3.497162e+00,-3.227890e+01,-22.100505,-3.706731e+01,-9.476536e+01,-10.807710,-24.588650,...,-5.467080e+01,-8.321065,-1.446627e+02,-3.609724,-15.405971,-3.179097e+00,-61.043467,-7.344829e+01,-0.306993,-9.914320e-01
25%,-0.417872,-4.737693e-01,-0.555828,-5.228084e-01,-4.875468e-01,-0.421434,-5.273877e-01,-4.285306e-01,-0.480802,-0.447698,...,-4.797282e-01,-0.513193,-4.841502e-01,-0.499058,-0.498534,-4.820913e-01,-0.446251,-4.912795e-01,-0.230070,-3.573717e-01
50%,0.000000,4.967001e-18,0.000000,1.087590e-18,2.660478e-18,0.000000,3.095482e-18,-3.225501e-18,0.000000,0.000000,...,-4.174178e-18,0.000000,2.801985e-18,0.000000,0.000000,6.118966e-18,0.000000,6.615751e-18,0.000000,2.159934e-19
75%,0.582128,5.262307e-01,0.444172,4.771916e-01,5.124532e-01,0.578566,4.726123e-01,5.714694e-01,0.519198,0.552302,...,5.202718e-01,0.486807,5.158498e-01,0.500942,0.501466,5.179087e-01,0.553749,5.087205e-01,0.769930,6.426283e-01
max,1.091120,1.531595e+01,2.084305,1.034539e+01,2.672848e+01,20.651105,3.927069e+01,3.716330e+01,8.435793,15.597806,...,6.550973e+01,7.814316,7.279295e+01,5.016704,11.205024,5.594575e+00,68.676360,2.580979e+02,180.265455,1.036549e+00

### Quiz 4
  * 'train' 데이터 셋에서 가장 표준표차가 가장 큰 Feature는 'V29'임을 확인했습니다. 이는 이상치가 표준편차에 큰 영향을 주었다고 볼 수 있습니다. 'V29' Feature에 어떤 스케일링 기법을 적용하면 좋을 지 생각보세요. 그리고 가장 적합하다고 판단되는 스케일링 기법을 적용해보세요.

**Hint**
  * 이상치는 평균과 표준편차 계산에 큰 영향을 미칩니다.

In [38]:
# 실습
train = pd.read_csv('./train.csv')

**Solution**

  * RobustScaler를 적용해야 합니다. 이상치는 평균, 표준편차, 최소값, 최대값에 큰 영향을 미칩니다.

  * 그래서 평균과 표준편차를 활용하는 StandardScaler와 최소값과 최대값을 활용하는 MinMaxScaler는 적절하지 못할 수 있습니다.

  * StandardScaler와 MinMaxScaler를 적용 시에는 이상치를 확인하고 먼저 이상치를 처리하는 것이 좋습니다.



```
df = train[['V29']]

scaler = RobustScaler()

array_scaled = scaler.fit_transform(df)

df_scaled = pd.DataFrame(array_scaled)

display(df_scaled.head(), df_scaled.describe())
```

### 샘플링

#### 불귤형 데이터이란?

Stage 1에서 신용카드 거래 중에서 사기거래가 발생할 경우는 극히 드물다고 하였습니다.

그렇기에 수집된 데이터에 신용카드 거래 데이터 (val.csv) 중에서 사기거래인 경우는 30개에 불과했습니다.

데이터의 관측치 분포가 균등하지 못하고 극심히 차이가 나는 걸 불균형 데이터 (Imbalanced Data)라고 합니다.

**불균형 데이터가 줄 수 있는 문제점**

  * 또다시 시험을 예로 들어봅시다. 국어, 영어, 수학 과목 중 국어 과목과 관련된 교재와 문제집은 많이 공부하고 나머지는 적게 공부한다면 국어 시험에서는 좋은 성적을 볼 수 있어도 영어와 수학에서 좋은 성적을 기대하기는 어렵습니다. 

  * 데이터 수가 많은 관측치에서만 인사이트를 얻을 수 있으며, 데이터 수가 적은 데이터는 충분히 활용하지 못할 수 있습니다.

  * 머신러닝이 데이터가 적은 관측치는 충분히 학습하지 못하여 수가 적은 관측치 대해서는 충분한 성능을 발휘하지 못할 수 있습니다.

**Imbalanced-Learn (imblearn)**

* imblearn 라이브러리는 불균형 데이터 문제를 해결할 수 있는 다양한 기법들을 간편히 사용할 수 있도록 도와주는 친구입니다.

* Jupyter Lite에는 사전에 설치되어 있지 않기에 별도로 설치해주어야 합니다.

In [ ]:
# 주피터 라이트에서 라이브러리를 설치하는 방법입니다.
import micropip

await micropip.install('imbalanced-learn')

#### 언더 샘플링 VS 오버 샘플링

불균형 데이터 문제를 샘플링을 통해 해결할 수 있습니다.

샘플링이란 불균형한 데이터 분포를 균등하게 맞추기 위해 특정 데이터를 추출해가는 방식입니다.

샘플링 기법에는 크게 언더 샘플링과 오버 샘플링이 있습니다.

  * 언더 샘플링 (Under Sampling)

    - 다수 범주의 데이터를 소수 범주의 데이터 수에 맞게 줄이는 방식입니다.

    - 다수 범주의 데이터를 모두 활용하지 않기에 다수 범주의 데이터에서 유의미한 정보를 손실할 수 있습니다.


  * 오버 샘플링 (Over Sampling)
    
    - 소수 범주의 데이터를 다수 범주의 데이터 수에 맞게 늘리는 방식입니다.

    - 동일한 (혹은 유사한) 소수 범주의 데이터를 활용하기에 소수 범주의 특정 정보가 과잉 반영될 수 있습니다.

In [40]:
# 불균형 데이터 문제를 확인한 'Val' 데이터 셋을 활용합니다. 

val = pd.read_csv('./val.csv')

print(val['Class'].value_counts())

0    28432
1       30
Name: Class, dtype: int64

In [41]:
# 'val' 데이터프레임을 복사하여 동일한 데이터프레임을 사용합니다.
df = val.copy()

# 불균형 데이터 문제를 해결할 칼럼을 구분합니다.
# y : 불균형 데이터 문제가 발생한 특성 / X : y 이외의 칼럼들 
y = df[['Class']]
X = df.drop(columns=['Class'])

In [42]:
display(X.head(), y.head())

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,10,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,-0.255991,-0.994878
1,22,0.962496,0.328461,-0.171479,2.109204,1.129566,1.696038,0.107712,0.521502,-1.191311,...,0.143997,0.402492,-0.048508,-1.371866,0.390814,0.199964,0.016371,-0.014605,0.168937,-0.994784
2,63,1.145524,0.575068,0.194008,2.598192,-0.092210,-1.044430,0.531588,-0.241888,-0.896287,...,0.011106,-0.119703,-0.076510,0.691320,0.633984,0.048741,-0.053192,0.016251,0.169496,-0.994502
3,69,0.927060,-0.323684,0.387585,0.544474,0.246787,1.650358,-0.427576,0.615371,0.226278,...,-0.040513,0.079359,0.096632,-0.992569,0.085096,0.377447,0.036096,-0.005960,0.331307,-0.994467
4,83,-3.005237,2.600138,1.483691,-2.418473,0.306326,-0.824575,2.065426,-1.829347,4.009259,...,-0.852309,-0.181268,-0.163747,0.515821,0.136318,0.460054,-0.251259,-1.105751,-0.287012,-0.994373

   Class
0      0
1      0
2      0
3      0
4      0

#### 언더 샘플링

**Random Under Sampler**

무작위로 다수 범주의 데이터를 제거하여 불균형 데이터 문제를 해결합니다.

In [43]:
# imblearn 라이브러리의 under_sampling 중에서 RandomUnderSampler를 불러옵니다.
from imblearn.under_sampling import RandomUnderSampler

In [44]:
# 샘플링을 용이하게 사용하게 별도로 변수로 지정합니다.
under_sampler = RandomUnderSampler()

under_sampled_X, under_sampled_y = under_sampler.fit_resample(X, y)

In [45]:
# Pandas 라이브러리의 concat 함수를 활용하여 분리된 X와 y를 다시 합쳐줍니다.
df_random_under = pd.concat([under_sampled_X, under_sampled_y], axis=1)

In [46]:
# 다수 범주의 데이터를 소수 범주의 데이터 수와 동일하게 무작위로 추출하였기에 총 데이터의 수가 감소하였습니다.
print(df_random_under.shape)

(60, 32)

In [47]:
# 다수 범주의 데이터 (정상 거래)의 수를 소수 범주의 거래의 데이터 (사기 거래)의 수와 동일하게 맞추어져습니다.
print(df_random_under['Class'].value_counts())

0    30
1    30
Name: Class, dtype: int64

**Near Miss**

Near Miss는 소수 범주의 데이터와 근처에 있는 다수 범주의 데이터를 추출합니다.

그리고 '근처에 있다'라는 말의 정의하는 3가지 방법에 따라 각기 다른 방식으로 다수 범주의 데이터를 추출합니다.

NearMiss에서 제공하는 'version' 하이퍼 파라미터 (우리가 설정할 수 있는 값)에 따라 3가지 다른 Under Sampling 방법론을 제시합니다.

In [48]:
# imblearn 라이브러리의 under_sampling 중에서 NearMiss를 불러옵니다.
from imblearn.under_sampling import NearMiss

* Version 1

  - 특정 다수 범주의 데이터로부터 가장 가까운 N개 (n_neighbors)의 소수 범주의 데이터까지의 평균 거리를 구합니다.

  - 계산된 평균 거리가 가장 가까운 M개의 데이터는 남기고 나머지는 제거합니다.

* Version 2

  - 특정 다수 범주의 데이터로부터 가장 먼 거리에 있는 N개 (n_neighbors)의 소수 클래스 샘플까지의 평균 거리를 구합니다.

  - 계산된 평균 거리가 가장 가까운 M개의 데이터는 남기고 나머지는 제거합니다.

* Version 3

  - 모든 소수 범주의 데이터로부터 M개의 가장 가까운 다수 범주의 데이터를 선택한다.

  - 선택된 다수 범주의 데이터에서부터 가장 가까운 N개 (n_neighbors)의 소수 범주의 데이터까지의 거리를 계산한다.

  - 평균 거리가 가장 먼 다수 범주의 데이터를 남기고 나머지는 제거합니다.

In [49]:
# 샘플링을 용이하게 사용하게 별도로 변수로 지정합니다.
# NearMiss의 다양한 version을 사용하고 싶으면 해당 version 외의 것은 주석처리하면 됩니다.
under_sampler = NearMiss(version=1, n_neighbors=3)
# under_sampler = NearMiss(version=2, n_neighbors=3)
# under_sampler = NearMiss(version=3, n_neighbors=3)

under_sampled_X, under_sampled_y = under_sampler.fit_resample(X, y)

In [50]:
# Pandas 라이브러리의 concat 함수를 활용하여 분리된 X와 y를 다시 합쳐줍니다.
df_near_under = pd.concat([under_sampled_X, under_sampled_y], axis=1)

In [51]:
# 다수 범주의 데이터를 소수 범주의 데이터 수와 동일하게 무작위로 추출하였기에 총 데이터의 수가 감소하였습니다.
print(df_near_under.shape)

(60, 32)

In [52]:
# 다수 범주의 데이터 (정상 거래)의 수를 소수 범주의 거래의 데이터 (사기 거래)의 수와 동일하게 맞추어져습니다.
print(df_near_under['Class'].value_counts())

0    30
1    30
Name: Class, dtype: int64

**Condensed Nearest Neighbour**

Condensed Nearest Neighbour는 다음 과정을 거쳐 Under Sampling을 수행합니다.

  1. 소수 범주의 데이터 모두 집합 S에 포함한다.

  2. 다수 범주의 데이터 중에서 하나를 골라서 가장 가까운 데이터가 다수 범주 데이터가 아니면 집합 S에 포함한다.

  3. 다수 범주의 데이터에서 더 이상 선택지가 없을 때까지 과정 2를 반복한다.

In [53]:
# imblearn 라이브러리의 under_sampling 중에서 CondensedNearestNeighbour를 불러옵니다.
from imblearn.under_sampling import CondensedNearestNeighbour

In [54]:
# 샘플링을 용이하게 사용하게 별도로 변수로 지정합니다.
under_sampler = CondensedNearestNeighbour()

under_sampled_X, under_sampled_y = under_sampler.fit_resample(X, y)

In [55]:
# Pandas 라이브러리의 concat 함수를 활용하여 분리된 X와 y를 다시 합쳐줍니다.
df_cnn_under = pd.concat([under_sampled_X, under_sampled_y], axis=1)

In [56]:
# 다수 범주의 데이터를 소수 범주의 데이터 수와 동일하게 무작위로 추출하였기에 총 데이터의 수가 감소하였습니다.
print(df_cnn_under.shape)

(244, 32)

In [57]:
# 알고리즘 특성상 추출된 다수 범주의 데이터 수가 소수 범주의 데이터 수와 같지 않을 수 있습니다.
print(df_cnn_under['Class'].value_counts())

0    214
1     30
Name: Class, dtype: int64

#### 오버 샘플링

**Random Over Sampler**

무작위로 소수 범주의 데이터를 추출하여 소수 범주의 데이터에 포함시켜 불균형 데이터 문제를 해결합니다.

In [58]:
# imblearn 라이브러리의 over_sampling 중에서 RandomOverSampler를 불러옵니다.
from imblearn.over_sampling import RandomOverSampler

In [59]:
# 샘플링을 용이하게 사용하게 별도로 변수로 지정합니다.
over_sampler = RandomOverSampler()

over_sampled_X, over_sampled_y = over_sampler.fit_resample(X, y)

In [60]:
# Pandas 라이브러리의 concat 함수를 활용하여 분리된 X와 y를 다시 합쳐줍니다.
df_random_over = pd.concat([over_sampled_X, over_sampled_y], axis=1)

In [61]:
# 소수 범주의 데이터를 다수 범주의 데이터 수와 동일하게 무작위로 추출하여 포함시켰기에 총 데이터의 수가 증가하였습니다.
print(df_random_over.shape)

(56864, 32)

In [62]:
# 소수 범주의 데이터 (사기 거래)의 수를 다수 범주의 거래의 데이터 (정상 거래)의 수와 동일하게 맞추어져습니다.
print(df_random_over['Class'].value_counts())

0    28432
1    28432
Name: Class, dtype: int64

In [63]:
# 동일한 데이터가 몇 개가 있는 지 duplicated 함수를 사용하여 알아봅시다.
# 기존의 데이터를 그대로 가져와 사용하였기에 중복된 데이터가 많습니다.
df_same = df_random_over.duplicated()
print(df_same.sum())

28402

**SMOTE**

SMOTE (Synthetic Minority Over-sampling Technique)는 다음의 과정을 진행합니다.

  1. 소수 범주의 데이터 중에서 무작위로 하나를 선택합니다.
  
  2. KNN (K-nearest neighbors) 알고리즘을 활용하여 가장 가까운 K개의 소수 범주의 데이터를 찾습니다.

  3. 찾은 K개의 소수 범주 데이터 중 하나를 무작위로 선택합니다.

  4. 처음에 선택한 데이터와 KNN를 통해 선택된 데이터 사이에 선을 긋습니다.

  5. 그 선 위에 있는 임의의 점을 선택하여 새로운 데이터를 생성합니다.

  6. 원하는 만큼의 데이터 수가 생성될 때까지 위의 과정을 반복합니다.

In [64]:
# imblearn 라이브러리의 over_sampling 중에서 SMOTE를 불러옵니다.
from imblearn.over_sampling import SMOTE

In [65]:
# 샘플링을 용이하게 사용하게 별도로 변수로 지정합니다.
over_sampler = SMOTE()

over_sampled_X, over_sampled_y = over_sampler.fit_resample(X, y)

In [66]:
# Pandas 라이브러리의 concat 함수를 활용하여 분리된 X와 y를 다시 합쳐줍니다.
df_smote_over = pd.concat([over_sampled_X, over_sampled_y], axis=1)

In [67]:
# 소수 범주의 데이터를 다수 범주의 데이터 수와 동일하게 생성하였기에 총 데이터의 수가 증가하였습니다.
print(df_smote_over.shape)

(56864, 32)

In [68]:
# 소수 범주의 데이터 (사기 거래)의 수를 다수 범주의 거래의 데이터 (정상 거래)의 수와 동일하게 맞추어져습니다.
print(df_random_over['Class'].value_counts())

0    28432
1    28432
Name: Class, dtype: int64

In [69]:
# 동일한 데이터가 몇 개가 있는 지 duplicated 함수를 사용하여 알아봅시다.
# 기존 데이터를 바탕으로 새롭게 데이터를 생성하였기에 상대적으로 중복된 데이터가 적습니다.
df_same = df_random_over.duplicated()
print(df_same.sum())

28402

**ADASYN**

ADASYN (Adaptive Synthetic Sampling)는 기존의 SMOTE를 보완한 기법입니다.

SMOTE 알고리즘에서 소수 범주의 데이터 주위에 다수 범주의 데이터가 얼마나 있는 지 고려합니다.

결론적으로 소수 범주의 데이터 주변에 다수 범주의 데이터가 많을 경우 해당 소수 범주 데이터와 유사한 데이터를 더 많이 생성합니다.

즉, 소수 범주의 데이터 중에서 다수 범주의 데이터와 가까이 있는 데이터를 중심으로 유사한 데이터를 더 생성합니다.

In [70]:
# imblearn 라이브러리의 over_sampling 중에서 ADASYN를 불러옵니다.
from imblearn.over_sampling import ADASYN

In [71]:
# 샘플링을 용이하게 사용하게 별도로 변수로 지정합니다.
over_sampler = ADASYN()

over_sampled_X, over_sampled_y = over_sampler.fit_resample(X, y)

In [72]:
# Pandas 라이브러리의 concat 함수를 활용하여 분리된 X와 y를 다시 합쳐줍니다.
df_adasyn_over = pd.concat([over_sampled_X, over_sampled_y], axis=1)

In [73]:
# 소수 범주의 데이터를 다수 범주의 데이터 수와 동일하게 생성하였기에 총 데이터의 수가 증가하였습니다.
print(df_adasyn_over.shape)

(56862, 32)

In [74]:
# 소수 범주의 데이터 (사기 거래)의 수를 다수 범주의 거래의 데이터 (정상 거래)의 수가 유사하게 맞추어져습니다.
# 동일하지 않는 이유는 생성하고자 하는 데이터의 수가 소수 범주의 데이터 주변의 다수 범주의 데이터 비율에 영향을 받기 떄문입니다. 
print(df_adasyn_over['Class'].value_counts())

0    28432
1    28430
Name: Class, dtype: int64

In [75]:
# 동일한 데이터가 몇 개가 있는 지 duplicated 함수를 사용하여 알아봅시다.
# 기존 데이터를 바탕으로 새롭게 데이터를 생성하였기에 상대적으로 중복된 데이터가 적습니다.
df_same = df_adasyn_over.duplicated()
print(df_same.sum())

263

## 특성 공학

### 요약변수 & 파생변수

수집된 데이터가 가지고 있던 특성들로는 데이터를 충분히 설명하지 못할 수 있습니다.

그럴 때 새로운 특성을 만들어 데이터로부터 인사이트를 더 잘 찾을 수 있게 하고 머신러닝이 잘 학습할 수 있도록 할 수 있습니다.

새로운 특성을 만들어내는 기법 중 요약 변수와 파생 변수가 있습니다.

**요약 변수**

  - 수집된 데이터를 요약 혹은 종합한 정보로 새로운 변수를 만드는 것입니다.

  - 예를 들면 빈도, 합계, 평균, 최빈값 등이 있습니다.

**파생 변수**

  - 수집된 데이터의 도메인 지식을 활용하여 논리적 타당성과 주관적인 생각을 바탕으로 새로운 변수를 만드는 것입니다.

  - 예를 들면 소득 증가에 따른 할인 혜택 사용 빈도, 남녀 비율에 따른 상품의 색깔별 구매 빈도, 주변 경쟁사 빈도에 따른 총 매출액 추이 등이 있습니다.

**요약 변수**

우리는 특정 변수의 통계값을 활용하여 요약변수를 만들어 보겠습니다.



```
데이터프레임['새로운 변수 명'] = 데이터프레임['사용할 변수 명'].특정_함수()
```

In [81]:
train = pd.read_csv('./train.csv')

# 'train' 데이터 셋의 'V1' 칼럼의 통계값을 활용하여 요약변수를 만들어보겠습니다.
train['V1_SUM'] = train['V1'].sum()
train['V1_MEAN'] = train['V1'].mean()
train['V1_STD'] = train['V1'].std()

In [82]:
display(train[['ID', 'V1_SUM', 'V1_MEAN', 'V1_STD']].head())

   ID  V1_SUM   V1_MEAN   V1_STD
0   3   22.46  0.000197  1.95106
1   4   22.46  0.000197  1.95106
2   6   22.46  0.000197  1.95106
3   8   22.46  0.000197  1.95106
4   9   22.46  0.000197  1.95106

**파생 변수**

아쉽게도 우리는 각각의 칼럼이 무엇을 의미하는지 알 수 없습니다.

그렇기에 임의로 가설을 새워보십다. '데이터를 볌위에 따라 구분한다면 데이터를 더 쉽게 이해할 수 있다'고요.

표준편차가 가장 적은 변수는 데이터 간 값의 차이가 적을 것입니다. 그래서 사부위수를 활용하여 데이터를 명확하게 구분하여 보십다.

In [90]:
train = pd.read_csv('./train.csv')

# 'V28' 칼럼이 표준편차가 제일 적다는 것을 알 수 있습니다,
print(train.describe().loc['std'])

ID     82248.545392
V1         1.951060
V2         1.651064
V3         1.496916
V4         1.412633
V5         1.367533
V6         1.330583
V7         1.204111
V8         1.185504
V9         1.095415
V10        1.071337
V11        1.014689
V12        0.977039
V13        0.994908
V14        0.933753
V15        0.915666
V16        0.864903
V17        0.808552
V18        0.830763
V19        0.814542
V20        0.763326
V21        0.722001
V22        0.723829
V23        0.636061
V24        0.605854
V25        0.520069
V26        0.480979
V27        0.399505
V28        0.356130
V29        3.412933
V30        0.558161
Name: std, dtype: float64

아래의 코드를 통해 새로운 변수에 특정 값을 넣을 수 있습니다.

```
데이터프레임.loc[특정조건, '새로운 변수 명'] = 특정 값
```

In [92]:
# 위에서 배운 테이블 핸들링을 상기시키며 사분위수를 기준으로 파생변수를 만들어 봅니다.
cond1 = (train['V28'] >= train['V28'].quantile(0.75))
cond2 = (train['V28'] < train['V28'].quantile(0.75)) & (train['V28'] >= train['V28'].quantile(0.50))
cond3 = (train['V28'] < train['V28'].quantile(0.50)) & (train['V28'] >= train['V1'].quantile(0.25))
cond4 = (train['V28'] < train['V28'].quantile(0.25))

train.loc[cond1, 'NEW_V28'] = 3
train.loc[cond2, 'NEW_V28'] = 2
train.loc[cond3, 'NEW_V28'] = 1
train.loc[cond4, 'NEW_V28'] = 0

In [93]:
# 데이터가 사분위수를 기준으로 구분되었음을 확인할 수 있습니다.
train[['ID', 'V28', 'NEW_V28']]

            ID       V28  NEW_V28
0            3 -0.059752      0.0
1            4  0.061458      2.0
2            6  0.081080      3.0
3            8 -1.085339      0.0
4            9  0.142404      3.0
...        ...       ...      ...
113837  284796  1.232864      3.0
113838  284797 -0.041068      1.0
113839  284798  0.081265      3.0
113840  284802  0.068803      2.0
113841  284803  0.823731      3.0

[113842 rows x 3 columns]

### 클러스터링

우리는 파생변수 파트에서 하나의 변수에서 데이터의 범위에 따라 데이터를 구분지어 보았습니다.

다른 변수들까지 종합적으로 고려하여 유사한 성격 (비슷한 패턴과 구조)을 가진 데이터를 같은 군집에 묶어 구분할 수 있습니다.

이것을 클러스터링 (Clustering) 이라고 합니다.

클러스터링이 잘된 경우, 특정 한 군집에는 데이터간에 높은 유사성을 보이고 군집간에는 낮은 유사성을 보여줍니다.

**K-Means**

K-Means 알고리즘은 군집의 중심과 데이터간의 평균 거리를 사용하여 K개의 군집을 만들어 내는 것입니다.

K-Means 는 다음의 과정을 진행합니다.


  1. K개의 임의 중심점을 배치합니다.

  2. 각각의 데이터는 중심점과의 평균거리를 기준으로 가장 가까운 중심점을 중심으로 군집을 형성합니다.

  3. 중심점을 군집의 중심으로 이동합니다.

  4. 결과가 바뀌지 않거나 'max_iter' 하이퍼 파라미터에 설정된 값까지 2번과 3번 과정을 반복합니다.

In [97]:
val = pd.read_csv('./val.csv')

# 'ID'와 'Class' 변수는 제외합니다.
df = val.drop(columns=['ID', 'Class'])

# 'Class' 변수만 가져옵니다.
label = val[['Class']]

In [95]:
# sklearn 라이브러리의 cluster 중에서 KMeans를 불러옵니다.
from sklearn.cluster import KMeans

In [113]:
# 클러스터링을 용이하게 사용하게 별도로 변수로 지정합니다.
# 'n_clusters' 하이퍼파라미터를 사용해 만들어낼 군집의 개수를 설정합니다.
cluster = KMeans(n_clusters=2)

array_clusted = cluster.fit_predict(df)

df_clusted = pd.DataFrame(array_clusted)

In [119]:
# Pandas 라이브러리의 concat 함수를 활용하여 클렁스터링 결과와 'Class'를 다시 합쳐줍니다.
df_result = pd.concat([df_clusted, label], axis=1)

# 칼럼 명을 변경해줍니다

df_result.columns = ['결과', '정답']

In [138]:
# 대다수의 데이터는 잘 구분하였지만 몇 개 데이터는 틀릴 것을 확인할 수 있습니다.
print(df_result['결과'].value_counts())
print(df_result['정답'].value_counts())

0    27859
1      603
Name: 결과, dtype: int64
0    28432
1       30
Name: 정답, dtype: int64

**Mean-Shift Clustering**

Mean-Shift Clustering 알고리즘은 데이터가 모여있는 밀도를 기준으로 군집을 형성합니다.

K-Means와 또다른 차이점이 있다면 K-Means는 초기에 군집의 개수를 설정해주어야 하지만 Mean-Shift는 설정해준 대역폭의 범위에 따라 자동적으로 군집의 개수가 정해집니다.

In [139]:
val = pd.read_csv('./val.csv')

# 'ID'와 'Class' 변수는 제외합니다.
df = val.drop(columns=['ID', 'Class'])

# 'Class' 변수만 가져옵니다.
label = val[['Class']]

In [141]:
# sklearn 라이브러리의 cluster 중에서 MeanShift를 불러옵니다.
from sklearn.cluster import MeanShift

In [ ]:
# 클러스터링을 용이하게 사용하게 별도로 변수로 지정합니다.
# 'bandwidth' 하이퍼파라미터를 사용해 대역폭의 범위를 설정합니다.
cluster = MeanShift(bandwidth=2)

array_clusted = cluster.fit_predict(df)

df_clusted = pd.DataFrame(array_clusted)

In [ ]:
# Pandas 라이브러리의 concat 함수를 활용하여 클렁스터링 결과와 'Class'를 다시 합쳐줍니다.
df_result = pd.concat([df_clusted, label], axis=1)

# 칼럼 명을 변경해줍니다

df_result.columns = ['결과', '정답']

**GMM**

**DBSCAN**

**Agglomerative Hierarchical Clustering**

### 차원 축소

**차원 축소가 필요한 이유**

**PCA**

**SVD**

**GRP**

**SRP**

**Isomap**

**MDS**

**LLE**

**t-SNE**

---
---

# END