# Stage 2

<br>

<font color=red>**ÏµúÏ¢Ö ÌïôÏäµ Î™©Ìëú**</font>

* Ïã†Ïö©Ïπ¥Îìú ÏÇ¨Í∏∞Í±∞Îûò ÌÉêÏßÄ ÌîÑÎ°úÏ†ùÌä∏Î•º ÌÜµÌï¥ Ïó¨Îü¨Î∂ÑÏùÄ Ïù¥ÏÉÅÏπò Í∞êÏßÄÎ•º ÌõåÎ•≠Ìûà ÏàòÌñâÌï† Ïàò ÏûàÎäî Îç∞Ïù¥Ïª§Í∞Ä ÎêòÎäî Í≤ÉÏóê Ìïú Î∞úÏßù Îçî Îã§Í∞ÄÍ∞ÄÍ≤å Îê† Í≤ÉÏûÖÎãàÎã§.

* Ïù¥ ÎøêÎßå ÏïÑÎãàÎùº Ïù¥Î≤à ÍµêÏú°ÏùÑ ÌÜµÌï¥ ÌÇ§Ïö¥ Ïó≠ÎüâÏùÄ Îã§Î•∏ Í≥≥ÏóêÏÑúÎèÑ ÌÅ∞ ÎèÑÏõÄÏù¥ Îê† Í≤ÉÏù¥Îùº Í∏∞ÎåÄÌï©ÎãàÎã§.<br>

<br><font color=red>**Stage 2 ÌïôÏäµ Î™©Ìëú**</font>

* Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨ Î∞è ÌäπÏÑ± Í≥µÌïôÏù¥ Ïôú ÌïÑÏöîÌïú ÏßÄ Ïù¥Ìï¥ÌïúÎã§.

* Í≤∞Ï∏°ÏπòÍ∞Ä Î¨¥ÏóáÏù¥Í≥† Ïñ¥ÎñªÍ≤å Ï≤òÎ¶¨ÌïòÎäî ÏßÄ Ïù¥Ìï¥ÌïúÎã§.

* ÌååÏÉùÎ≥ÄÏàò, Ïä§ÏºÄÏù¥ÎßÅ, Ï∞®Ïõê Ï∂ïÏÜå, ÏÉòÌîåÎßÅÍ≥º Í∞ôÏùÄ Îã§ÏñëÌïú Ï†ÑÏ≤òÎ¶¨ Î∞è ÌäπÏÑ± Í≥µÌïô Í∏∞Î≤ïÏùÑ Ïù¥Ìï¥ÌïúÎã§.

<br><br>

# 1. Intro

<br>

**Îç∞Ïù¥Ïª§ Ïó¨Îü¨Î∂Ñ ÌôòÏòÅÌï©ÎãàÎã§.** ü§ó 

ÏßÄÎÇú Stage 1ÏóêÏÑúÎäî Îç∞Ïù¥ÌÑ∞ ÏÇ¨Ïù¥Ïñ∏Ïä§, Î®∏Ïã†Îü¨Îãù Í∑∏Î¶¨Í≥† Ïù¥ÏÉÅÏπò Í∞êÏßÄÏóê ÎåÄÌï¥ Î∞∞ÏõåÎ≥¥ÏïòÏäµÎãàÎã§.
<br><br>
Ïù¥Î≤à Stage 2ÏóêÏÑúÎäî **Îç∞Ïù¥ÌÑ∞Î•º Î≥ÄÌôòÏãúÏºúÎ≥¥Îäî** <font color=#C68E17>**Ï†ÑÏ≤òÎ¶¨**</font> ÌòπÏùÄ <font color=#46C7C7>**ÌäπÏßï Í≥µÌïô**</font>Ïù¥ÎùºÍ≥† Î∂àÎ¶¨Îäî Î®∏Ïã†Îü¨Îãù ÏóîÏßÄÎãàÏñ¥ÎßÅ Îã®Í≥ÑÏóê ÎåÄÌï¥ ÏïåÏïÑÎ≥º Í≤ÉÏûÖÎãàÎã§.
<br><br>

Ïò§Îäò Ïö∞Î¶¨Îäî Îã§ÏñëÌïú Ï†ÑÏ≤òÎ¶¨ÏôÄ ÌäπÏßï Í≥µÌïô Í∏∞Î≤ï Ï§ë <font color=blue>**ÌÖåÏù¥Î∏î Ìï∏ÎìúÎßÅ**</font>, <font color=red>**ÌååÏÉùÎ≥ÄÏàòÏôÄ ÏöîÏïΩÎ≥ÄÏàò**</font>, <font color=green>**Ïä§ÏºÄÏù¥ÎßÅ**</font>,  <font color=#A52A2A>**Ï∞®Ïõê Ï∂ïÏÜå**</font>, <font color=#FFA500>**ÏÉòÌîåÎßÅ**</font>Ïóê Í¥ÄÌïòÏó¨ Ïã§ÏäµÍ≥º ÌÄ¥Ï¶àÎ•º ÌÜµÌï¥ Í≥µÎ∂ÄÌïòÍ≤å Îê† Í≤ÉÏûÖÎãàÎã§.

ÌÄ¥Ï¶àÍ∞Ä ÏûàÎã§Í≥† ÎãπÌô©ÌïòÏßÄ ÎßàÏÑ∏Ïöî. <font color=red>**Hint**</font>Í∞Ä Ïó¨Îü¨Î∂ÑÏùÑ Ïñ∏Ï†úÎÇò Í≥ÅÏóêÏÑú ÎèÑÏôÄÏ§Ñ Í≤ÉÏûÖÎãàÎã§. 
<br><br>
Í∑∏Îüº Ïù¥Ï†ú Í≥†Í≥†ÏîΩ ~ ! üöÖ<br><br>

# 2. Stage 2 Î∞∞Í≤Ω

<br>

Ï†ÑÏ≤òÎ¶¨ÏôÄ ÌäπÏßï Í≥µÌïôÏùÄ Ïó¨Îü¨Î∂ÑÏù¥ ÎßåÎì§Í≥† ÌïòÎäî Î™®Îç∏ Ï¶â <font color=blue>**AIÏùò ÏÑ±Îä•Ïùò ÎÜíÏù¥Í∏∞ ÏúÑÌï¥ÏÑúÎäî ÌïÑÏàòÏ†Å**</font>ÏûÖÎãàÎã§. ‚≠êÔ∏è

Ïã§Ï†úÎ°ú ÎßéÏùÄ Îç∞Ïù¥ÌÑ∞ ÏÇ¨Ïù¥Ïñ∏Ìã∞Ïä§Ìä∏Îäî <font color=red>**Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨Ïóê ÎßéÏùÄ ÏãúÍ∞ÑÏùÑ Ìï†Ïï†**</font>Ìï©ÎãàÎã§.

Î≥∏Í≤©Ï†ÅÏúºÎ°ú ÏãúÏûëÌïòÍ∏∞ Ï†ÑÏóê Ï†ÑÏ≤òÎ¶¨ÏôÄ ÌäπÏßï Í≥µÌïôÏù¥ Î¨¥ÏóáÏù¥Î©∞, Ïôú Í∑∏Î†áÍ≤å Í≥µÏùÑ ÎìúÎ¶¨Îäî Í≤ÉÏù∏ÏßÄ ÏïåÏïÑÎ≥¥Ïã≠ÎãàÎã§.

<br>

![preprocessing.png]()

# 3. Let's Start

Ïó¨Îü¨Î∂ÑÏùÄ Îã§Ïãú Ï§ëÎåÄÌïú ÏûÑÎ¨¥Î•º Îß°Í≤åÎêòÏóàÏäµÎãàÎã§. ‚≠êÔ∏è

ÎØ∏ÎûòÏóê Îç∞Ïù¥ÌÑ∞ ÏÇ¨Ïù¥Ïñ∏Ìã∞Ïä§Ìä∏Î°úÏÑú Í∞ÄÏû• ÎßéÏù¥ ÌïòÍ≤å Îê† ÏùºÏùÑ ÏûòÌïòÍ∏∞ ÏúÑÌï¥ Ï∞®Í∑ºÏ∞®Í∑º Î∞∞ÏõåÎ≥¥Ïã≠Îã§.

## 3 - 1 Ï†ÑÏ≤òÎ¶¨ÏôÄ ÌäπÏÑ± Í≥µÌïôÏùÄ Î¨¥ÏóáÏù∏Í∞ÄÏöî?

<br>

**Ï†ÑÏ≤òÎ¶¨ (Preprocessing)**

  * Ïö∞Î¶¨Í∞Ä ÏãúÌóòÏùÑ Ï§ÄÎπÑÌïòÎäî Î™®ÏäµÏùÑ Îñ†Ïò¨Î†§ Î≥¥Ïã≠Îã§. ÍµêÏû¨Ïóê Ïò§ÌÉÄÍ∞Ä ÏûàÏúºÎ©¥ ÏàòÏ†ïÌïòÍ∏∞ÎèÑ Ìï©ÎãàÎã§. Í∑∏Î¶¨Í≥† ÍµêÏû¨ÏóêÏÑú ÏÑ§Î™ÖÌïòÎäî ÎÇ¥Ïö©Ïù¥ Ïñ¥Î†§Ïö∞Î©¥ Ïù¥Ìï¥ÌïòÍ∏∞ Ïâ¨Ïö¥ ÌòïÌÉúÎ°ú Î∞îÍæ∏Í∏∞ÎèÑ Ìï©ÎãàÎã§.

  * **Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Í≥ºÏ†ïÏóêÏÑú Îçî Ï¢ãÏùÄ Ïù∏ÏÇ¨Ïù¥Ìä∏Î•º Î∞úÍ≤¨ÌïòÍ∏∞ ÏúÑÌï¥ÏÑú** ÌòπÏùÄ **Î®∏Ïã†Îü¨Îãù ÌïôÏäµ Í≥ºÏ†ïÏóêÏÑú Îçî ÎÇòÏùÄ ÏÑ±Îä•ÏùÑ ÎÇ¥Í∏∞ ÏúÑÌï¥**, <font color=red>**Í∏∞Ï°¥Ïùò Îç∞Ïù¥ÌÑ∞Î•º Ïûò Ï†ïÎèàÎêòÍ≤å Ï†ïÎ¶¨**</font>ÌïòÏó¨ ÏúÑÏùò Í≥ºÏ†ïÏóê Ï†ÅÌï©Ìïú ÌòïÌÉúÏùò Îç∞Ïù¥ÌÑ∞Î°ú Í∞ÄÍ≥µÌïòÎäî Í≤ÉÏûÖÎãàÎã§.

<br>

**ÌäπÏÑ± Í≥µÌïô (Feature Engineering)**

  * Îã§Ïãú Ìïú Î≤à Îçî ÏãúÌóòÏùÑ Ï§ÄÎπÑÌïòÎäî Î™®ÏäµÏùÑ Îñ†Ïò¨Î†§ Î≥¥Ïã≠Îã§. Í≥µÎ∂ÄÌïòÎäî Í≥ºÎ™©Ïùò ÌïµÏã¨ Í∞úÎÖêÏùÑ Ïù¥Ìï¥ÌïòÍ∏∞ÏúÑÌï¥ Ï¢ãÏùÄ Ï†ïÎ¶¨ ÎÖ∏Ìä∏Î•º Ï∞æÍ∏∞ÎèÑ ÌïòÍ≥† ÎßåÎì§Í∏∞ÎèÑ Ìï©ÎãàÎã§. Í∑∏Î¶¨Í≥† ÏãúÌóò ÏßÅÏ†ÑÏóêÎäî ÏãúÌóò Ï∂úÏ†ú ÎπàÎèÑÍ∞Ä ÎÜíÏùÄ Í∞úÎÖêÎßå Îî∞Î°ú Ï†ÅÏùÄ ÎÖ∏Ìä∏Îßå Î≥¥Îäî ÏπúÍµ¨Îì§Ïùò Î™®ÏäµÏùÑ Î≥¥Í∏∞ÎèÑ Ìï©ÎãàÎã§.

  * ÌäπÏßï Í≥µÌïôÏùÄ Ï†ÑÏ≤òÎ¶¨ÏôÄ ÎßàÏ∞¨Í∞ÄÏßÄÎ°ú Î®∏Ïã†Îü¨Îãù ÌïôÏäµ Í≥ºÏ†ïÏóêÏÑú Îçî ÎÇòÏùÄ ÏÑ±Îä•ÏùÑ ÎÇ¥Í∏∞ ÏúÑÌï¥, <font color=red>**Îç∞Ïù¥ÌÑ∞Ïùò ÌäπÏßïÏù¥ Ïûò ÎìúÎü¨ÎÇ¥ÎèÑÎ°ù**</font> ÏÉàÎ°úÏö¥ ÌäπÏßïÏùÑ ÎßåÎì§Ïñ¥ÎÇ¥Í±∞ÎÇò Î∂àÌïÑÏöîÌïú ÌäπÏßïÏùÄ Ï†úÍ±∞ÌïòÎäî Î∞©Î≤ï Îì±ÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÍ≥µÌïòÎäî Í≤ÉÏùÑ ÎúªÌï©ÎãàÎã§.

<br>

**Ï†ÑÏ≤òÎ¶¨ÏôÄ ÌäπÏÑ± Í≥µÌïôÏùò ÌïÑÏöîÏÑ±**

  * Stage 1ÏóêÏÑú Î∞∞Ïõ† ÎìØÏù¥ Îç∞Ïù¥ÌÑ∞ ÏàòÏßë Í≥ºÏ†ïÏù¥ ÏôÑÎ≤ΩÌïòÏßÄ ÏïäÏïÑ Îç∞Ïù¥ÌÑ∞ Í∞íÏù¥ Ï°¥Ïû¨ÌïòÏßÄ ÏïäÏùÄ Í≤∞Ï∏°ÏπòÍ∞Ä Î∞úÏÉùÌï† Ïàò ÏûàÏäµÎãàÎã§. Í≤∞Ï∏°ÏπòÍ∞Ä Ï°¥Ïû¨Ìï† Í≤ΩÏö∞, Í≤∞Ï∏°ÏπòÎ•º Ï†úÍ±∞ÌïòÍ±∞ÎÇò Îã§Î•∏ Í∞íÏúºÎ°ú Ï±ÑÏõåÏïº Ìï©ÎãàÎã§.

  * Í∏∞Ï°¥Ïùò Îç∞Ïù¥ÌÑ∞Í∞Ä Ïö∞Î¶¨ÏóêÍ≤å Ïù∏ÏÇ¨Ïù¥Ìä∏Î•º Ï£ºÍ∏∞ÏóêÎäî Î∂àÏôÑÏ†ÑÌï† Ïàò ÏûàÏäµÎãàÎã§. ÏòàÎ•º Îì§Ïñ¥ Î≥¥Î©¥ 'Ï∂ïÍµ¨Î•º Ï¢ãÏïÑÌïòÎäî Í≥†Í∞ùÏùò ÎÇ®ÎÖÄ Í∞ÅÍ∞ÅÏùò ÌäπÏßï Ï°∞ÏÇ¨'ÏóêÏÑú Ïó¨ÏÑ± Í≥†Í∞ùÏóê Í¥ÄÌïòÏó¨ Ïù∏ÏÇ¨Ïù¥Ìä∏Î•º ÏñªÍ∏∞ÏóêÎäî Îç∞Ïù¥ÌÑ∞ ÏàòÍ∞Ä Î∂ÄÏ°±Ìï† Ïàò ÎèÑ ÏûàÏäµÎãàÎã§.

  * ÏòàÏô∏Ï†ÅÏù∏ ÏÉÅÌô©ÏùÑ Í≥†Î†§Ìï† ÌïÑÏöîÍ∞Ä ÏûàÏäµÎãàÎã§. ÏòàÎ•º Îì§Ïñ¥ 'ÏπòÌÇ®Ïóê ÎåÄÌïòÏó¨ ÏÜåÎπÑÏï°Ïóê Ï°∞ÏÇ¨ÌïòÏòÄÏùÑ Îïå, ÏõîÎìúÏªµ Í∏∞Í∞ÑÏùò ÏπòÌÇ® ÏÜåÎπÑÎüâÏù¥ ÏùºÎ∞òÏ†ÅÏù∏ ÏπòÌÇ® ÏÜåÎπÑÎüâ'Ïù¥ÎùºÍ≥† Î≥¥Í∏∞Îäî ÌûòÎì≠ÎãàÎã§.

  * ÎèÑÎ©îÏù∏ ÏßÄÏãùÏùÑ ÌÜµÌï¥ Ï¢ãÏùÄ Îç∞Ïù¥ÌÑ∞ ÌäπÏßïÏùÑ Î∞úÍµ¥Ìï† Ïàò ÎèÑ ÏûàÏäµÎãàÎã§. Ïã†Ïö©Ïπ¥Îìú Í≤∞Ïû¨Ïóê ÎØ∏ÏπòÎäî Ï§ëÏöîÌïú ÏöîÏÜåÎ°ú Î∂àÍ≤ΩÍ∏∞ Ïó¨Î∂Ä, Ï∂ïÏ†ú ÌòπÏùÄ Î™ÖÏ†à Ïó¨Î∂Ä Îì±Ïù¥ ÏûàÏäµÎãàÎã§.

  * Î∞òÎåÄÎ°ú Î∂àÌïÑÏöîÌïú Îç∞Ïù¥ÌÑ∞ ÌäπÏßïÏùÄ Ï†úÍ±∞Ìï† Ïàò ÎèÑ ÏûàÏäµÎãàÎã§. MZÏÑ∏ÎåÄÎäî ÎÑàÎ¨¥ Í¥ëÎ≤îÏúÑÌïú ÎÇòÏù¥ÎåÄÎ•º Ìè¨Ìï®Ìï©ÎãàÎã§. Í∑∏ÎûòÏÑú MZÏÑ∏ÎåÄ Ïó¨Î∂ÄÎ•º Î¨ºÏñ¥Î≥¥ÏßÄ ÏïäÎäî Í≤ÉÏù¥ Í≥†Í∞ùÏùò Ïù∏ÏÇ¨Ïù¥Ìä∏Î•º Ï∞æÏïÑÎÇ¥Í∏∞ Îçî Ïâ¨Ïö∏ Ïàò ÏûàÏäµÎãàÎã§.

## 3 - 3 ÌÖåÏù¥Î∏î Ìï∏Îì§ÎßÅ

<br>

Î≥∏Í≤©Ï†ÅÏúºÎ°ú ÏàòÏßëÎêú Îç∞Ïù¥ÌÑ∞Ïóê Ï†ÑÏ≤òÎ¶¨ÏôÄ ÌäπÏßï Í≥µÌïôÏùÑ Ï†ÅÏö©ÌïòÍ∏∞ Ï†ÑÏóê ÌÖåÏù¥Î∏î Ìï∏Îì§ÎßÅÏùÑ Ìï¥Î¥ÖÏãúÎã§.

ÌÖåÏù¥Î∏î Ìï∏Îì§ÎßÅ (Tabel Handling)Ïù¥ÎûÄ Ï†ïÌòï Îç∞Ïù¥ÌÑ∞Î•º ÏûêÏú†Î°≠Í≤å Ï°∞ÏûëÌïòÎäî Í≤ÉÏùÑ ÎßêÌï©ÎãàÎã§.

Ïö∞Î¶¨Îäî Stage 1ÏóêÏÑú ÏàòÏßëÎêú Îç∞Ïù¥ÌÑ∞Í∞Ä Ï†ïÌòï Îç∞Ïù¥ÌÑ∞Ïù¥ÎùºÎäî Í≤ÉÏùÑ Î∞∞Ïõ†ÏäµÎãàÎã§.

In [1]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Îäî Î∞©Î≤ïÏùÄ Stage 1 Ï∞∏Ï°∞

import pandas as pd

train = pd.read_csv('./train.csv')

In [2]:
display(train.head(5))

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972
2,6,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,-0.256131,-0.994960
3,8,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,0.262698,-0.994901
4,9,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,...,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,0.994900,-0.994901

### ÌäπÏ†ï ÌñâÎßå Ï∂îÏ∂ú

iloc : Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Ïù∏Îç±Ïä§ Í∞íÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂ú

```
# Ìïú Í∞úÎßå Ï∂îÏ∂ú
Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ.iloc[[ÏõêÌïòÎäî ÏàúÏÑúÏóê ÏúÑÏπòÌïú Îç∞Ïù¥ÌÑ∞]]

# Ïó∞ÏÜçÏ†ÅÏúºÎ°ú Ï∂îÏ∂ú
Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ.iloc[:ÎßàÏßÄÎßâ ÏàúÏÑúÏóê ÏúÑÏπòÌïú Îç∞Ïù¥ÌÑ∞]
```

In [3]:
display(train.iloc[[3]])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
3,8,-0.644269,1.417964,1.07438,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,0.262698,-0.994901

In [4]:
display(train.iloc[:3])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972
2,6,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,-0.256131,-0.994960

loc : Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò value Í∞íÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂ú



```
# Ìïú Í∞úÎßå Ï∂îÏ∂ú
Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ.loc[[value]]

# Ïó∞ÏÜçÏ†ÅÏúºÎ°ú Ï∂îÏ∂ú
Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ.loc[:ÎßàÏßÄÎßâ value]
```

In [5]:
display(train.loc[[3]])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
3,8,-0.644269,1.417964,1.07438,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,0.262698,-0.994901

In [6]:
display(train.loc[:3])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972
2,6,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,-0.256131,-0.994960
3,8,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,0.262698,-0.994901

### ilocÏôÄ loc Ï∞®Ïù¥Ï†ê Íµ¨Î≥ÑÌïòÍ∏∞

* ilocÎäî ÌñâÏùò ÏàúÏÑúÏóê Îî∞Îùº 0Î∂ÄÌÑ∞ 1ÍπåÏßÄ Ï∂îÏ∂ú (Î™á Î≤àÏß∏Ïóê ÏúÑÏπòÌïú Îç∞Ïù¥ÌÑ∞Îßå ÎΩëÏïÑÏ§ò)
* locÎäî ÌñâÏùò Ïù∏Îç±Ïä§ Í∞íÏóê Îî∞Îùº 0Î∂ÄÌÑ∞ 2ÍπåÏßÄ Ï∂îÏ∂ú (Ïù∏Îç±Ïä§ Í∞íÏù¥ ÎòëÍ∞ôÏùÄ Í∞íÎßå ÎΩëÏïÑÏ§ò)

In [7]:
display(train.iloc[:2], train.loc[:2])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972
2,6,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,-0.256131,-0.994960

### ÌäπÏ†ï ÏπºÎüºÎßå Ï∂îÏ∂ú



```
Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ[['ÏõêÌïòÎäî ÏπºÎüº Î™Ö']]
```

In [8]:
display(train[['ID', 'V1', 'V2']])

            ID         V1         V2
0            3  -1.358354  -1.340163
1            4  -0.966272  -0.185226
2            6  -0.425966   0.960523
3            8  -0.644269   1.417964
4            9  -0.894286   0.286157
...        ...        ...        ...
113837  284796 -12.516732  10.187818
113838  284797   1.884849  -0.143540
113839  284798  -0.241923   0.712247
113840  284802   0.120316   0.931005
113841  284803 -11.881118  10.071785

[113842 rows x 3 columns]

Ïö∞Î¶¨Í∞Ä ÏÇ¨Ïö©Ìï† Ïàò ÏûàÎäî ÏπºÎüºÏùÄ 31Í∞úÎÇò ÏûàÏäµÎãàÎã§.

ÏõêÌïòÎäî ÏπºÎüºÏù¥ ÎÑàÎ¨¥ ÎßéÏùÄ Í≤ΩÏö∞ ÏõêÏπò ÏïäÏùÄ ÏπºÎüºÎßå Ï†úÍ±∞Ìï† Ïàò ÏûàÏäµÎãàÎã§.



```
Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ.drop(columns=['ÏπºÎüº1', 'ÏπºÎüº2'])
```

In [9]:
display(train.drop(columns=['V1', 'V2']))

,ID,V3,V4,V5,V6,V7,V8,V9,V10,V11,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,0.624501,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,-0.226487,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972
2,6,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,-0.371407,1.341262,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,-0.256131,-0.994960
3,8,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,1.249376,-0.619468,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,0.262698,-0.994901
4,9,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,-0.410430,-0.705117,...,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,0.994900,-0.994901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113837,284796,-8.476671,-2.510473,-4.586669,-1.394465,-3.632516,5.498583,4.893089,8.655320,-1.052365,...,-0.944759,-1.565026,0.890675,-1.253276,1.786717,0.320763,2.090712,1.232864,-0.169496,1.034857
113838,284797,-0.999943,1.506772,-0.035300,-0.613638,0.190241,-0.249058,0.666458,0.120908,-1.134176,...,0.144008,0.634646,-0.042114,-0.053206,0.316403,-0.461441,0.018265,-0.041068,0.530986,1.034881
113839,284798,0.399806,-0.463406,0.244531,-1.343668,0.929369,-0.206210,0.106234,-0.284708,-0.612982,...,-0.228876,-0.514376,0.279598,0.371441,-0.559238,0.113144,0.131507,0.081265,-0.230699,1.034904
113840,284802,-0.546012,-0.745097,1.130314,-0.235973,0.812722,0.115093,-0.204064,-0.657422,0.644837,...,-0.314205,-0.808520,0.050343,0.102800,-0.435870,0.124079,0.217940,0.068803,-0.269825,1.034939
113841,284803,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,4.356170,-1.593105,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,-0.296653,1.034951

### Quiz 1

  * Ï°∞Í±¥Ïóê Ìï¥ÎãπÌïú ÌñâÍ≥º Ïó¥Îßå ÎΩëÏïÑÎ¥ÖÏãúÎã§.
  * Ï≤òÏùåÎ∂ÄÌÑ∞ ÏÑ∏ Î≤àÏß∏ ÏúÑÏπòÌïú Îç∞Ïù¥ÌÑ∞ Ï§ë 'ID'ÏôÄ 'V10' ÏπºÎüºÎßå Ï∂îÏ∂úÌï¥Î≥¥Ïã≠ÎãàÎã§.

**Hint**

```
# ÏõêÌïòÎäî Ìñâ Ï∂îÏ∂ú 
Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ.iloc[:ÎßàÏßÄÎßâ ÏàúÏÑúÏóê ÏúÑÏπòÌïú Îç∞Ïù¥ÌÑ∞]

# ÏõêÌïòÎäî Ïó¥ Ï∂îÏ∂ú
Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ[['ÏõêÌïòÎäî ÏπºÎüº Î™Ö']]
```

In [10]:
# Ïã§Ïäµ
train = pd.read_csv('./train.csv')

**Solution**



```
train.iloc[:3][['V10']]
```

### ÏõêÌïòÎäî Ï°∞Í±¥Ïóê Î∂ÄÌï©Ìïú Îç∞Ïù¥ÌÑ∞Îßå Ï∂îÏ∂ú

ÏßÄÍ∏àÍπåÏßÄ ÌäπÏ†ï ÌñâÍ≥º Ïó¥ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌï¥Î≥¥ÏïòÏäµÎãàÎã§.

Ïù¥Ï†úÎäî ÌäπÏ†ï Í∞íÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌï¥Î¥ÖÏãúÎã§.

```
# ÏõêÌïòÎäî Ï°∞Í±¥ ÏûëÏÑ±
# ÏòàÎ•º Îì§Ïñ¥ ÌäπÏ†ï ÏπºÎüºÏóê ÌäπÏ†ï Í∞í Ïù¥ÏÉÅÏù∏ Í∞íÎßå Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂ú

ÌäπÏ†ï Ï°∞Í±¥ = (Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÌäπÏ†ï ÏπºÎüº'] >= ÏõêÌïòÎäî Í∞í)

Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ.loc[ÌäπÏ†ï Ï°∞Í±¥]
```

In [11]:
# 'V1' ÏπºÎüºÏóêÏÑú 0 Ïù¥ÌïòÏù∏ Í∞íÎßå Ï∂îÏ∂ú

cond = (train['V1'] <= 0)

display(train.loc[cond])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972
2,6,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,-0.256131,-0.994960
3,8,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,0.262698,-0.994901
4,9,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,...,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,0.994900,-0.994901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113835,284793,-0.724123,1.485216,-1.132218,-0.607190,0.709499,-0.482638,0.548393,0.343003,-0.226323,...,0.414621,1.307511,-0.059545,0.242669,-0.665424,-0.269869,-0.170579,-0.030692,-0.251659,1.034810
113836,284795,-1.266580,-0.400461,0.956221,-0.723919,1.531993,-1.788600,0.314741,0.004704,0.013857,...,-0.157831,-0.883365,0.088485,-0.076790,-0.095833,0.132720,-0.028468,0.126494,-0.294977,1.034845
113837,284796,-12.516732,10.187818,-8.476671,-2.510473,-4.586669,-1.394465,-3.632516,5.498583,4.893089,...,-0.944759,-1.565026,0.890675,-1.253276,1.786717,0.320763,2.090712,1.232864,-0.169496,1.034857
113839,284798,-0.241923,0.712247,0.399806,-0.463406,0.244531,-1.343668,0.929369,-0.206210,0.106234,...,-0.228876,-0.514376,0.279598,0.371441,-0.559238,0.113144,0.131507,0.081265,-0.230699,1.034904
113841,284803,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,-0.296653,1.034951

In [12]:
print('ÌäπÏ†ï Ï°∞Í≤ÄÏóê Î∂ÄÌï©Ìïú Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÎäî Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÎ≥¥Îã§ ÏûëÏùåÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.\n')
print(f'Í∏∞Ï°¥ Îç∞Ïù¥ÌÑ∞Ïùò Ïàò : {train.shape[0]}')
print(f'ÌäπÏ†ï Ï°∞Í±¥Ïóê Î∂ÄÌï©Ìïú Îç∞Ïù¥ÌÑ∞Ïùò Ïàò : {train.loc[cond].shape[0]}')

ÌäπÏ†ï Ï°∞Í≤ÄÏóê Î∂ÄÌï©Ìïú Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÎäî Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÎ≥¥Îã§ ÏûëÏùåÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.

Í∏∞Ï°¥ Îç∞Ïù¥ÌÑ∞Ïùò Ïàò : 113842
ÌäπÏ†ï Ï°∞Í±¥Ïóê Î∂ÄÌï©Ìïú Îç∞Ïù¥ÌÑ∞Ïùò Ïàò : 56688

ÏõêÌïòÎäî Ï°∞Í±¥Ïóê Îã§ÏñëÌï† Ïàò ÏûàÏäµÎãàÎã§. 

Í∞ÅÍ∞ÅÏùò Í≤ΩÏö∞Î•º ÏÇ¥Ìé¥Î¥ÖÏãúÎã§.

**ÌäπÏ†ï Ï°∞Í±¥ 1Ïóê Î∂ÄÌï©ÌïòÍ≥† ÌäπÏ†ï Ï°∞Í±¥ 2ÏóêÎèÑ Î∂ÄÌï©Ìïú Îç∞Ïù¥ÌÑ∞ (ÍµêÏßëÌï©)**



```
ÌäπÏ†ï Ï°∞Í±¥ 1 = (Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÌäπÏ†ï ÏπºÎüº 1'] >= ÌäπÏ†ï Í∞í)
ÌäπÏ†ï Ï°∞Í±¥ 2 = (Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÌäπÏ†ï ÏπºÎüº 2'] <= ÌäπÏ†ï Í∞í)

Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ.loc[(ÌäπÏ†ï Ï°∞Í±¥ 1 & ÌäπÏ†ï Ï°∞Í±¥ 2)]
```

In [13]:
# V1 ÏπºÎüºÏóêÏÑú -0.1Î≥¥Îã§ ÌÅ¨Î©¥ÏÑú V2ÏóêÏÑú 0.1Î≥¥Îã§ ÏûëÏùÄ Îç∞Ïù¥ÌÑ∞Îßå Ï∂îÏ∂ú
cond1 = (train['V1'] >= -0.1)
cond2 = (train['V2'] <= 0.1)

display(train.loc[cond1 & cond2])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
5,11,1.449044,-1.176339,0.913860,-1.375667,-1.971383,-0.629152,-1.423236,0.048456,-1.720408,...,-0.009302,0.313894,0.027740,0.500512,0.251367,-0.129478,0.042850,0.016253,-0.198421,-0.994866
11,20,1.492936,-1.029346,0.454795,-1.438026,-1.555434,-0.720961,-1.080664,-0.053127,-1.978682,...,-0.177650,-0.175074,0.040002,0.295814,0.332931,-0.220385,0.022298,0.007602,-0.237546,-0.994807
14,28,1.322707,-0.174041,0.434555,0.576038,-0.836758,-0.831083,-0.264905,-0.220982,-1.071425,...,-0.284376,-0.323357,-0.037710,0.347151,0.559639,-0.280158,0.042335,0.028822,-0.083840,-0.994713
15,30,1.059387,-0.175319,1.266130,1.186110,-0.786002,0.578435,-0.767084,0.401046,0.699500,...,0.013676,0.213734,0.014462,0.002951,0.294638,-0.395070,0.081461,0.024220,-0.125900,-0.994713
19,41,1.249055,-0.624727,-0.710589,-0.991600,1.429973,3.692977,-1.090209,0.967291,0.850149,...,-0.006293,0.009200,-0.129463,1.112970,0.500382,1.196549,-0.048220,0.005094,0.110249,-0.994608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113826,284772,1.894910,-0.427906,-2.184267,0.159979,0.587740,-0.557966,0.510524,-0.281590,0.785446,...,0.122775,0.202373,-0.125329,0.017737,0.396759,-0.515948,-0.039485,-0.040441,1.439111,1.034634
113828,284776,1.955547,-0.724606,-1.706511,-0.611145,1.710907,3.914215,-1.248690,1.054133,1.314064,...,0.193605,0.690196,0.155951,0.726775,-0.061219,-0.192666,0.060347,-0.042323,-0.125900,1.034669
113829,284780,1.975178,-0.616244,-2.628295,-0.406246,2.327804,3.664740,-0.533297,0.842937,1.128798,...,0.086043,0.543613,-0.032129,0.768379,0.477688,-0.031833,0.014151,-0.066542,0.041920,1.034716
113833,284789,2.007418,-0.280235,-0.208113,0.335261,-0.715798,-0.751373,-0.458972,-0.140140,0.959971,...,-0.208260,-0.430347,0.416765,0.064819,-0.608337,0.268436,-0.028069,-0.041367,-0.251659,1.034763
113838,284797,1.884849,-0.143540,-0.999943,1.506772,-0.035300,-0.613638,0.190241,-0.249058,0.666458,...,0.144008,0.634646,-0.042114,-0.053206,0.316403,-0.461441,0.018265,-0.041068,0.530986,1.034881

**ÌäπÏ†ï Ï°∞Í±¥ 1Ïóê Î∂ÄÌï©ÌïòÍ∏∞ÎèÑ ÌïòÍ≥† ÌäπÏ†ï Ï°∞Í±¥ 2ÏóêÎèÑ Î∂ÄÌï©ÌïòÍ∏∞ÎèÑ Ìïú Îç∞Ïù¥ÌÑ∞ (Ìï©ÏßëÌï©)**



```
ÌäπÏ†ï Ï°∞Í±¥ 1 = (Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÌäπÏ†ï ÏπºÎüº 1'] >= ÌäπÏ†ï Í∞í)
ÌäπÏ†ï Ï°∞Í±¥ 2 = (Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÌäπÏ†ï ÏπºÎüº 2'] <= ÌäπÏ†ï Í∞í)

Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ.loc[(ÌäπÏ†ï Ï°∞Í±¥ 1 | ÌäπÏ†ï Ï°∞Í±¥ 2)]
```

In [14]:
# V1 ÏπºÎüºÏóêÏÑú -0.1Î≥¥Îã§ ÌÅ¨Í±∞ÎÇò V2ÏóêÏÑú 0.1Î≥¥Îã§ ÏûëÏùÄ Îç∞Ïù¥ÌÑ∞Îßå Ï∂îÏ∂ú
cond1 = (train['V1'] >= -0.1)
cond2 = (train['V2'] <= 0.1)

display(train.loc[cond1 | cond2])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972
5,11,1.449044,-1.176339,0.913860,-1.375667,-1.971383,-0.629152,-1.423236,0.048456,-1.720408,...,-0.009302,0.313894,0.027740,0.500512,0.251367,-0.129478,0.042850,0.016253,-0.198421,-0.994866
6,14,1.069374,0.287722,0.828613,2.712520,-0.178398,0.337544,-0.096717,0.115982,-0.221083,...,-0.036876,0.074412,-0.071407,0.104744,0.548265,0.104094,0.021491,0.021293,0.076853,-0.994854
7,15,-2.791855,-0.327771,1.641750,1.767473,-0.136588,0.807596,-0.422911,-1.907107,0.755713,...,1.151663,0.222182,1.020586,0.028317,-0.232746,-0.235557,-0.164778,-0.030154,0.514218,-0.994843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113831,284786,0.032887,0.545338,-1.185844,-1.729828,2.932315,3.401529,0.337434,0.925377,-0.165663,...,-0.266113,-0.716336,0.108519,0.688519,-0.460220,0.161939,0.265368,0.090245,-0.282401,1.034740
113833,284789,2.007418,-0.280235,-0.208113,0.335261,-0.715798,-0.751373,-0.458972,-0.140140,0.959971,...,-0.208260,-0.430347,0.416765,0.064819,-0.608337,0.268436,-0.028069,-0.041367,-0.251659,1.034763
113836,284795,-1.266580,-0.400461,0.956221,-0.723919,1.531993,-1.788600,0.314741,0.004704,0.013857,...,-0.157831,-0.883365,0.088485,-0.076790,-0.095833,0.132720,-0.028468,0.126494,-0.294977,1.034845
113838,284797,1.884849,-0.143540,-0.999943,1.506772,-0.035300,-0.613638,0.190241,-0.249058,0.666458,...,0.144008,0.634646,-0.042114,-0.053206,0.316403,-0.461441,0.018265,-0.041068,0.530986,1.034881
113840,284802,0.120316,0.931005,-0.546012,-0.745097,1.130314,-0.235973,0.812722,0.115093,-0.204064,...,-0.314205,-0.808520,0.050343,0.102800,-0.435870,0.124079,0.217940,0.068803,-0.269825,1.034939

**ÌäπÏ†ï Ï°∞Í±¥Ïóê Î∂ÄÌï©ÌïòÏßÄ ÏïäÏùÄ Îç∞Ïù¥ÌÑ∞ (Ïó¨ÏßëÌï©)**



```
ÌäπÏ†ï Ï°∞Í±¥ = (Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÌäπÏ†ï ÏπºÎüº 1'] >= ÌäπÏ†ï Í∞í)

Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ.loc[(~ÌäπÏ†ï Ï°∞Í±¥)]
```

In [15]:
# 'V1' ÏπºÎüºÏóêÏÑú 0 Ïù¥ÌïòÍ∞Ä ÏïÑÎãå Îç∞Ïù¥ÌÑ∞Îßå Ï∂îÏ∂ú

cond = (train['V1'] <= 0)

display(train.loc[~cond])

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
5,11,1.449044,-1.176339,0.913860,-1.375667,-1.971383,-0.629152,-1.423236,0.048456,-1.720408,...,-0.009302,0.313894,0.027740,0.500512,0.251367,-0.129478,0.042850,0.016253,-0.198421,-0.994866
6,14,1.069374,0.287722,0.828613,2.712520,-0.178398,0.337544,-0.096717,0.115982,-0.221083,...,-0.036876,0.074412,-0.071407,0.104744,0.548265,0.104094,0.021491,0.021293,0.076853,-0.994854
11,20,1.492936,-1.029346,0.454795,-1.438026,-1.555434,-0.720961,-1.080664,-0.053127,-1.978682,...,-0.177650,-0.175074,0.040002,0.295814,0.332931,-0.220385,0.022298,0.007602,-0.237546,-0.994807
12,24,0.247491,0.277666,1.185471,-0.092603,-1.314394,-0.150116,-0.946365,-1.617935,1.544071,...,1.650180,0.200454,-0.185353,0.423073,0.820591,-0.227632,0.336634,0.250475,0.010480,-0.994772
14,28,1.322707,-0.174041,0.434555,0.576038,-0.836758,-0.831083,-0.264905,-0.220982,-1.071425,...,-0.284376,-0.323357,-0.037710,0.347151,0.559639,-0.280158,0.042335,0.028822,-0.083840,-0.994713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113829,284780,1.975178,-0.616244,-2.628295,-0.406246,2.327804,3.664740,-0.533297,0.842937,1.128798,...,0.086043,0.543613,-0.032129,0.768379,0.477688,-0.031833,0.014151,-0.066542,0.041920,1.034716
113831,284786,0.032887,0.545338,-1.185844,-1.729828,2.932315,3.401529,0.337434,0.925377,-0.165663,...,-0.266113,-0.716336,0.108519,0.688519,-0.460220,0.161939,0.265368,0.090245,-0.282401,1.034740
113833,284789,2.007418,-0.280235,-0.208113,0.335261,-0.715798,-0.751373,-0.458972,-0.140140,0.959971,...,-0.208260,-0.430347,0.416765,0.064819,-0.608337,0.268436,-0.028069,-0.041367,-0.251659,1.034763
113838,284797,1.884849,-0.143540,-0.999943,1.506772,-0.035300,-0.613638,0.190241,-0.249058,0.666458,...,0.144008,0.634646,-0.042114,-0.053206,0.316403,-0.461441,0.018265,-0.041068,0.530986,1.034881
113840,284802,0.120316,0.931005,-0.546012,-0.745097,1.130314,-0.235973,0.812722,0.115093,-0.204064,...,-0.314205,-0.808520,0.050343,0.102800,-0.435870,0.124079,0.217940,0.068803,-0.269825,1.034939

### Quiz 2

  * 'V1' ÏπºÎüºÏóêÏÑú 2Î≥¥Îã§ ÏûëÍ±∞ÎÇò 'V2'ÏπºÎüºÏóêÏÑú -1Î≥¥Îã§ ÌÅ¨Î©¥ÏÑú 'V3' ÏπºÎüºÏóê Í∞íÏù¥ 0Ïù¥ ÏïÑÎãå Îç∞Ïù¥ÌÑ∞Îßå Ï∂îÏ∂úÌï¥Î≥¥ÏÑ∏Ïöî.

**Hint**

  * 'V1'Í≥º 'V2' ÏπºÎüºÏóê Í¥ÄÌïú Ï°∞Í±¥ÏùÄ Ìï©ÏßëÌï©
  * 'V3' ÏπºÎüºÏóê Í¥ÄÌïú Ï°∞Í±¥ÏùÄ Îã§Î•∏ Ï°∞Í±¥Í≥º ÍµêÏßëÌï©

In [16]:
# Ïã§Ïäµ
train = pd.read_csv('./train.csv')

**Solution**



```
cond1 = (train['V1'] >= -0.1)
cond2 = (train['V2'] <= 0.1)
cond3 = (train['V3'] == 0)

display(train.loc[~cond3 & ((cond1 | cond2))])
```

## Ï†ÑÏ≤òÎ¶¨

### Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨

<br>

Í≤∞Ï∏°ÏπòÎ•º Ï≤òÎ¶¨Ìï† Ïàò ÏûàÎäî Î∞©Î≤ï ÌÅ¨Í≤å Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Îç∞Ïù¥ÌÑ∞Î•º ÏÇ≠Ï†úÌïòÎäî Ï†úÍ±∞ (Delection)ÏôÄ Í≤∞Ï∏°ÏπòÎ•º Îã§Î•∏ Í∞íÏúºÎ°ú Ï±ÑÏö∞Îäî ÎåÄÏπò (Imputation)Í∞Ä ÏûàÏäµÎãàÎã§.

Ïö∞Î¶¨Í∞Ä ÏÇ¨Ïö©ÌïòÎäî Îç∞Ïù¥ÌÑ∞ ÏÖãÏóêÎäî Í≤∞Ï∏°ÏπòÍ∞Ä Ï°¥Ïû¨ÌïòÏßÄ ÏïäÏäµÎãàÎã§.

Í∑∏ÎûòÏÑú Ïù∏ÏúÑÏ†ÅÏúºÎ°ú Í≤∞Ï∏°ÏπòÎ•º ÎßåÎì§Ïñ¥ Î≥¥Í≤†ÏäµÎãàÎã§.

In [17]:
# random ÎùºÏù¥Î∏åÎü¨Î¶¨Î•º ÌôúÏö©ÌïòÏó¨ Î¨¥ÏûëÏúÑ ÏàòÎ•º ÏÉùÏÑ±Ìï† Ïàò ÏûàÏäµÎãàÎã§.
# randrangeÎäî Î¨¥ÏûëÏúÑ Ï†ïÏàò Í∞íÏùÑ ÏÉùÏÑ±Ìï† Ïàò ÏûàÏäµÎãàÎã§.
from random import randrange

# numpy ÎùºÏù¥Î≤ÑÎü¨Î¶¨Î•º ÌôúÏö©ÌïòÏó¨ array Îç∞Ïù¥ÌÑ∞Î•º Îã§Î£∞ Ïàò ÏûàÏäµÎãàÎã§.
# NaNÎäî Í≤∞Ï∏°Í∞íÏùÑ ÏÉùÏÑ±Ìï©ÎãàÎã§.
from numpy import NaN

In [18]:
# 'train' Îç∞Ïù¥ÌÑ∞ÏóêÏÑú 'V1' ÏπºÎüºÎßå ÏÇ¨Ïö©Ìï©ÎãàÎã§
df = train[['V1']]

# Î¨¥ÏûëÏúÑÎ°ú 'df' Îç∞Ïù¥ÌÑ∞Ïùò Í∞íÏùÑ Í≤∞Ï∏°Í∞íÏúºÎ°ú Î≥ÄÍ≤ΩÌï©ÎãàÎã§
list_null = []
for _ in range(100):

  index_null = randrange(df.shape[0])
  list_null.append(index_null)

list_null = sorted(list_null)

df.iloc[list_null] = NaN

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [19]:
# Í≤∞Ï∏°ÏπòÎ°ú Î≥ÄÍ≤ΩÎêú Îç∞Ïù¥ÌÑ∞Ïùò Ïù∏Îç±Ïä§
print(list_null[:5])

[636, 1127, 1434, 3580, 4400]

In [20]:
# Stage 1Î•º Í∏∞ÏñµÌïòÎ©∞ Í≤∞Ï∏°Í∞íÏù¥ Î™á Í∞ú Ï°¥Ïû¨ÌïòÎäî ÏßÄ ÌôïÏù∏Ìï¥Î¥ÖÏãúÎã§
df.isnull().sum()

V1    100
dtype: int64

**Ï†úÍ±∞**

In [21]:
# Í≤∞Ï∏°ÏπòÍ∞Ä Ï°¥Ïû¨ÌïòÎäî Îç∞Ïù¥ÌÑ∞Î•º Ï†úÍ±∞Ìï¥Î¥ÖÏãúÎã§.

new_df = df.dropna()

# Í≤∞Ï∏°ÏπòÍ∞Ä Î™®Îëê Ï†úÍ±∞ÎêòÏóàÏùåÏùÑ ÌôïÏù∏ÌñàÏäµÎãàÎã§.
print(new_df.isnull().sum())

V1    0
dtype: int64

In [22]:
# Í∑∏Îü¨ÎÇò Ïö∞Î¶¨Í∞Ä ÌôúÏö©Ìï† Ïàò ÏûàÎäî Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÍ∞Ä Ï§ÑÏñ¥Îì§ÏóàÏùåÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.
print(df.shape[0], new_df.shape[0])

113842 113742

**ÎåÄÏπò**

In [23]:
# Í≤∞Ï∏°ÏπòÎ•º Îã§Î•∏ Í∞íÏúºÎ°ú Î≥ÄÍ≤ΩÌï¥Î¥ÖÏãúÎã§.

# Í≤∞Ï∏°ÏπòÎ•º ÌäπÏ†ï ÏàòÎ°ú ÎåÄÏπòÌï©ÎãàÎã§.
df_0 = df.fillna(0)
display(df_0.iloc[[1357]])

# Í≤∞Ï∏°ÏπòÎ•º ÌèâÍ∑†ÏúºÎ°ú ÎåÄÏπòÌï©ÎãàÎã§.
df_mean = df.fillna(df['V1'].mean())
display(df_mean.iloc[[1357]])

# Í≤∞Ï∏°ÏπòÎ•º Î∞îÎ°ú Ïù¥Ï†Ñ Í∞íÏúºÎ°úÏúºÎ°ú ÎåÄÏπòÌï©ÎãàÎã§.
df_pad = df.fillna(method='pad')
display(df_pad.iloc[1355:1359])

# Í≤∞Ï∏°ÏπòÎ•º Î∞îÎ°ú Ïù¥ÌõÑ Í∞íÏúºÎ°úÏúºÎ°ú ÎåÄÏπòÌï©ÎãàÎã§.
df_bfill = df.fillna(method='bfill')
display(df_bfill.iloc[1355:1359])

            V1
1357  1.317317

            V1
1357  1.317317

            V1
1355 -0.299876
1356 -0.471053
1357  1.317317
1358 -0.620824

            V1
1355 -0.299876
1356 -0.471053
1357  1.317317
1358 -0.620824

### ÌÖåÏù¥Î∏î Ìï∏Îì§ÎßÅÏùÑ ÌôúÏö©Ìïú Ïù¥ÏÉÅÏπò Î≥ÄÌôò

**Ïù¥ÏÉÅÏπòÎ•º Íµ¨Î∂ÑÌïòÎäî Í∏∞Ï§Ä IQR**

  * IQR (Interquartile range)Ïù¥ÎûÄ Ïù¥ÏÉÅÏπòÎ•º Íµ¨Î∂ÑÌï† Ïàò ÏûàÎäî Î∞©Î≤ïÎ°† Ï§ë ÌïòÎÇòÏûÖÎãàÎã§.

  * ÏÇ¨Î∂ÑÏúÑÏàòÎ•º ÌôúÏö©ÌôîÏó¨ Ïù¥ÏÉÅÏπòÎ•º ÏãùÎ≥ÑÌïòÎäî Í∏∞Ï§ÄÏÑ† Îëê Í∞ú (ÏµúÎåÄÍ∞íÍ≥º ÏµúÏÜåÍ∞í)Î•º ÏÑ§Ï†ïÌï©ÎãàÎã§.

  * ÏµúÎåÄÍ∞íÍ≥º ÏµúÏÜåÍ∞íÏùÑ Î≤óÏñ¥ÎÇú Îç∞Ïù¥ÌÑ∞Î•º Ïù¥ÏÉÅÏπòÎùºÍ≥† Í∑úÏ†ïÌï©ÎãàÎã§.

  * ÏµúÎåÄÍ∞íÍ≥º ÏµúÏÜåÍ∞íÏùÄ Îã§ÏùåÏùò ÏàòÏãùÏúºÎ°ú Íµ¨Ìï† Ïàò ÏûàÏäµÎãàÎã§.

    - IQR = 3ÏÇ¨Î∂ÑÏúÑÏàò - 1ÏÇ¨Î∂ÄÏúÑÏàò (ÏÉÅÏúÑ 75% ÏßÄÏ†ê Í∞íÍ≥º ÌïòÏúÑ 25% ÏßÄÏ†ê Í∞íÏùò Ï∞®Ïù¥)

    - ÏµúÎåÄÍ∞í = 3ÏÇ¨Î∂ÑÏúÑÏàò + 1.5 * IQR

    - ÏµúÏÜåÍ∞í = 1ÏÇ¨Î∂ÑÏúÑÏàò - 1.5 * IQR

**ÏÇ¨Î∂ÑÏúÑÏàò Íµ¨Ìï¥Ï£ºÎäî Ìï®Ïàò quantile()**



```
ÏÉÅÏúÑ 75% ÏßÄÏ†ê Í∞í (3ÏÇ¨Î∂ÑÏúÑÏàò) = Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÌäπÏ†ï ÏπºÎüº'].quantile(0.75)

ÌïòÏúÑ 25% ÏßÄÏ†ê Í∞í (1ÏÇ¨Î∂ÑÏúÑÏàò) = Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÌäπÏ†ï ÏπºÎüº'].quantile(0.25)
```

**IQR Í∏∞Ï§ÄÏóê Ìï¥ÎãπÌïòÎäî Ïù¥ÏÉÅÏπòÎ•º Îã§Î•∏ Í∞íÏúºÎ°ú Î≥ÄÍ≤ΩÌïòÎäî Î∞©Î≤ï**

```
# IQRÎ•º ÌôúÏö©Ìïú Ïù¥ÏÉÅÏπò Í∏∞Ï§Ä ÏÑ§Ï†ï
IQR = Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÌäπÏ†ï ÏπºÎüº'].quantile(0.75) - Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÌäπÏ†ï ÏπºÎüº'].quantile(0.25)
maximum = Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÌäπÏ†ï ÏπºÎüº'].quantile(0.75) + (1.5 * IQR)
minimum = Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÌäπÏ†ï ÏπºÎüº'].quantile(0.25) - (1.5 * IQR)

ÌäπÏ†ï Ï°∞Í±¥ 1 = (Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÌäπÏ†ï ÏπºÎüº'] > maximum)
ÌäπÏ†ï Ï°∞Í±¥ 2 = (Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÌäπÏ†ï ÏπºÎüº'] < minimum)

# Ïù¥ÏÉÅÏπò Í∏∞Ï§ÄÏóê Î∂ÄÌï©Ìïú Îç∞Ïù¥ÌÑ∞Î•º Îã§Î•∏ Í∞íÏúºÎ°ú ÎåÄÏ≤¥

## maximumÏóê Ï¥àÍ≥ºÌïú Îç∞Ïù¥ÌÑ∞Î•º 3ÏÇ¨Î∂ÑÏúÑÍ∞íÏúºÎ°ú Î≥ÄÍ≤Ω
Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ.loc[ÌäπÏ†ï Ï°∞Í±¥ 1] = Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÌäπÏ†ï ÏπºÎüº'].quantile(0.75)

## minimumÏóê ÎØ∏ÎßåÏù∏ Îç∞Ïù¥ÌÑ∞Î•º 1ÏÇ¨Î∂ÑÏúÑÍ∞íÏúºÎ°ú Î≥ÄÍ≤Ω
Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ.loc[ÌäπÏ†ï Ï°∞Í±¥ 2] = Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÌäπÏ†ï ÏπºÎüº'].quantile(0.25)
```

IQRÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ïù¥ÏÉÅÏπò ÌòπÏùÄ Í∑πÎã®Í∞íÏù¥ Îã§Î•∏ Í∞íÏúºÎ°ú Î≥ÄÍ≤ΩÎêòÏóàÍ∏∞Ïóê 'V1' ÏπºÎüºÏùò ÌëúÏ§ÄÌé∏Ï∞®Í∞Ä Í∞êÏÜåÌïòÏòÄÏùåÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.

In [24]:
# 'V1' ÏπºÎüºÏóê IQRÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ïù¥ÏÉÅÏπò Îç∞Ïù¥ÌÑ∞ Î≥ÄÌôò

print(f'Í∏∞Ï°¥ V1 ÏπºÎüº ÌëúÏ§ÄÌé∏Ï∞® : {train["V1"].std()}\n')

IQR = train['V1'].quantile(0.75) - train['V1'].quantile(0.25)
maximum = train['V1'].quantile(0.75) + (1.5 * IQR)
minimum = train['V1'].quantile(0.25) - (1.5 * IQR)

print(f'IQR : {IQR}')
print(f'maximum : {maximum}')
print(f'minimum : {minimum}\n')

cond1 = (train['V1'] > maximum)
cond2 = (train['V1'] < minimum)

train.loc[cond1] = train['V1'].quantile(0.75)
train.loc[cond2] = train['V1'].quantile(0.25)

print(f'Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨Îêú V1 ÏπºÎüº ÌëúÏ§ÄÌé∏Ï∞® : {train["V1"].std()}')

Í∏∞Ï°¥ V1 ÏπºÎüº ÌëúÏ§ÄÌé∏Ï∞® : 1.9510604522492707

IQR : 2.2388523032427634
maximum : 4.673651794165185
minimum : -4.281757418805868

Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨Îêú V1 ÏπºÎüº ÌëúÏ§ÄÌé∏Ï∞® : 1.4457160088953087

### Quiz 3

  * 'train' Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Í∞ÄÏû• ÌëúÏ§ÄÌé∏Ï∞® ÌÅ∞ ÏπºÎüºÏùÑ IQRÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ïù¥ÏÉÅÏπòÎ•º 1ÏÇ¨Î∂ÑÏúÑÏàòÏôÄ 3ÏÇ¨Î∂ÑÏúÑÏàò Í∞íÏúºÎ°ú Î≥ÄÍ≤ΩÌïòÍ≥† Ï†ÑÏ≤òÎ¶¨ Ï†ÑÍ≥º ÌõÑÏùò ÌëúÏ§ÄÌé∏Ï∞® Ï∞®Ïù¥Î•º Íµ¨Ìï¥Î≥¥ÏÑ∏Ïöî.

**Hint**
  * describe Ìï®ÏàòÎ•º ÌÜµÌï¥ Í∞Å ÏπºÎüºÎ≥Ñ ÌëúÏ§ÄÌé∏Ï∞®Î•º ÏâΩÍ≤å ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.
  * describe Ìï®ÏàòÎ•º ÌÜµÌï¥ Ï∂úÎ†•Îêú Í≤ÉÏùÄ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏûÖÎãàÎã§. stdÎßå Ìï¥ÎãπÎêòÎäî Îç∞Ïù¥ÌÑ∞Îßå Ï∂îÏ∂úÌï† Ïàò ÏûàÏäµÎãàÎã§.

In [25]:
# Ïã§Ïäµ
train = pd.read_csv('./train.csv')

**Solution**

  * Ï†ïÎãµ : 2.708925361301458

```
display(train.describe().loc['std'])

orgin_std = train["V29"].std()
print(f'Í∏∞Ï°¥ V1 ÏπºÎüº ÌëúÏ§ÄÌé∏Ï∞® : {orgin_std}\n')

IQR = train['V1'].quantile(0.75) - train['V29'].quantile(0.25)
maximum = train['V29'].quantile(0.75) + (1.5 * IQR)
minimum = train['V29'].quantile(0.25) - (1.5 * IQR)

print(f'IQR : {IQR}')
print(f'maximum : {maximum}')
print(f'minimum : {minimum}\n')

cond1 = (train['V29'] > maximum)
cond2 = (train['V29'] < minimum)

train.loc[cond1] = train['V29'].quantile(0.75)
train.loc[cond2] = train['V29'].quantile(0.25)


preprocessed_std = train["V29"].std()
print(f'Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨Îêú V1 ÏπºÎüº ÌëúÏ§ÄÌé∏Ï∞® : {preprocessed_std}')

print(f'result : {orgin_std-preprocessed_std}')
```

### Ïä§ÏºÄÏùºÎßÅ

<br>

Ïó¨Îü¨Î∂ÑÎì§ÏùÄ IQRÎ•º ÌôúÏö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Ïùò FeatureÏùò Î≤îÏúÑÎ•º Ï°∞Ï†ïÏãúÏºú Î≥¥ÏïòÏäµÎãàÎã§.

Ïù¥Îü¨Ìïú Í≥ºÏ†ïÏùÑ Îç∞Ïù¥ÌÑ∞ Ïä§ÏºÄÏùºÎßÅ (Data Scaling)Ïù¥ÎùºÍ≥† Ìï©ÎãàÎã§.

Îç∞Ïù¥ÌÑ∞ Ïä§ÏºÄÏùºÎßÅÏóêÎäî Îã§ÏñëÌïú Í∏∞Î≤ïÎì§Ïù¥ Ï°¥Ïû¨Ìï©ÎãàÎã§.

ÌïòÎÇòÏî© ÏïåÏïÑÍ∞ÄÎ≥¥ÎèÑÎ°ù Ìï©ÏãúÎã§.

**Scikit-Learn (sklearn)**

* sklearn ÎùºÏù¥Î∏åÎü¨Î¶¨Îäî Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨, ÌäπÏÑ±Í≥µÌïô Í∑∏Î¶¨Í≥† Î®∏Ïã†Îü¨Îãù Î™®Îç∏ ÏÉùÏÑ± Îì± Î®∏Ïã†Îü¨Îãù ÏóîÏßÄÎãàÏñ¥ÎßÅ Í∏∞Ïà†ÏùÑ ÌôúÏö©Ìï† Ïàò ÏûàÎèÑÎ°ù ÎèÑÏôÄÏ£ºÎäî ÏπúÍµ¨ÏûÖÎãàÎã§.

#### Standard Scaler

Standard ScalerÎäî Îç∞Ïù¥ÌÑ∞Ïùò FeatureÏùò ÌèâÍ∑†ÏùÑ 0 Í∑∏Î¶¨Í≥† Î∂ÑÏÇ∞ÏùÑ 1Î°ú Ïä§ÏºÄÏùºÎßÅÌïòÏó¨ Îç∞Ïù¥ÌÑ∞ ÌëúÏ§Ä Ï†ïÍ∑ú Î∂ÑÌè¨Î•º Îî∞Î•¥ÎèÑÎ°ù Ìï©ÎãàÎã§.

![·Ñâ·Ö≥·Ñè·Ö≥·ÑÖ·Öµ·Ü´·Ñâ·Ö£·Ü∫ 2023-01-27 14.28.22.png]()

In [26]:
# 'train' Îç∞Ïù¥ÌÑ∞ ÏÖãÏóêÏÑú 'ID' ÏπºÎüºÏùÄ Ï†úÏô∏ÌïòÍ≥† ÏÇ¨Ïö©Ìï©ÎãàÎã§.
df = train.drop(columns=['ID'])

In [27]:
# sklearn ÎùºÏù¥Î∏åÎü¨Î¶¨ÏóêÏÑú preprocessing Ï§ëÏóêÏÑú StandardScalerÎ•º Î∂àÎü¨ÏòµÎãàÎã§.
from sklearn.preprocessing import StandardScaler

In [28]:
# Ïä§ÏºÄÏùºÎßÅÏùÑ Ïö©Ïù¥ÌïòÍ≤å ÏÇ¨Ïö©ÌïòÍ≤å Î≥ÑÎèÑÎ°ú Î≥ÄÏàòÎ°ú ÏßÄÏ†ïÌï©ÎãàÎã§.
stand_scaler = StandardScaler()

# fit_transform Ìï®ÏàòÎ•º ÌôúÏö©Ìï¥ StandardScalerÎ•º Ï†ÅÏö©ÏãúÌÇ® ÌõÑ array ÌòïÌÉúÎ°ú Î∞òÌôòÌï©ÎãàÎã§.
array_stand_scaled = stand_scaler.fit_transform(df)

# array ÌòïÌÉúÏùò Îç∞Ïù¥ÌÑ∞Î•º pandas ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò DataFrame Ìï®ÏàòÎ•º ÏÇ¨Ïö©Ìï¥ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÎ°ú Î≥ÄÌôòÌï©ÎãàÎã§.
df_stand_scaled = pd.DataFrame(array_stand_scaled)

display(df_stand_scaled.head())

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-0.696317,-0.812481,1.178089,0.271798,-0.368309,1.349308,0.652511,0.210988,-1.380804,0.188955,...,0.345210,1.066111,1.431834,-1.136246,-0.633230,-0.288586,-0.137969,-0.166355,1.188563,-1.990839
1,-0.495358,-0.112967,1.191305,-0.608173,-0.007886,0.933476,0.192541,0.320444,-1.264291,-0.056156,...,-0.148280,0.007285,-0.297148,-1.938909,1.241563,-0.460803,0.157587,0.173998,0.143876,-1.990839
2,-0.218427,0.580982,0.755819,-0.116154,0.307498,-0.026206,0.390690,0.221649,-0.517216,-0.351540,...,-0.286720,-0.773425,-0.039431,-0.611606,-0.450853,0.220818,0.635984,0.229098,-0.346737,-1.990818
3,-0.330318,0.858041,0.711241,-0.345477,0.693558,0.317890,0.925884,-3.209968,0.563699,1.161326,...,2.693508,-1.402900,0.092477,-1.070930,-0.801717,-0.106743,-3.020466,-3.046182,-0.194717,-1.990712
4,-0.458462,0.172537,-0.082109,-0.189262,1.951788,2.793282,0.302611,0.719980,-0.355977,-0.387965,...,-0.099976,-0.370382,-0.319020,1.671161,0.714378,-0.798093,0.029990,0.401295,0.019821,-1.990712

In [29]:
# ÌèâÍ∑†Í≥º ÌëúÏ§ÄÌé∏Ï∞®Í∞Ä Ïñ¥ÎñªÍ≤å Î≥ÄÌïòÏòÄÎäî ÏßÄ ÌôïÏù∏Ìï¥Î¥ÖÏãúÎã§.
# Í∞ÅÍ∞ÅÏùò FeatureÎì§Ïù¥ ÌèâÍ∑†ÏùÄ 0Ïóê Í∞ÄÍπùÍ≤å ÌëúÏ§ÄÌé∏Ï∞®Îäî 1Ïóê Í∞ÄÍπùÍ≤å Î≥ÄÌôîÌïòÏòÄÏùåÏùÑ Î≥º Ïàò ÏûàÏäµÎãàÎã§.
display(df.describe(), df_stand_scaled.describe())

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
count,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,...,113842.000000,1.138420e+05,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000
mean,0.000197,0.001289,0.009717,-0.004169,0.000475,0.005141,0.005769,-0.002451,-0.002107,0.005209,...,-0.001242,4.088347e-07,-0.001317,-0.000884,0.001680,-0.000293,-0.000234,-0.000508,0.927253,0.116232
std,1.951060,1.651064,1.496916,1.412633,1.367533,1.330583,1.204111,1.185504,1.095415,1.071337,...,0.722001,7.238291e-01,0.636061,0.605854,0.520069,0.480979,0.399505,0.356130,3.412933,0.558161
min,-56.407510,-72.715728,-32.454198,-5.600607,-42.147898,-26.160506,-41.506796,-50.943369,-13.434066,-24.403185,...,-22.757540,-8.887017e+00,-44.807735,-2.824849,-10.295397,-1.855355,-9.895244,-9.617915,-0.307413,-0.994972
25%,-0.923479,-0.595602,-0.883877,-0.853728,-0.689853,-0.766094,-0.552071,-0.209492,-0.647477,-0.533477,...,-0.229710,-5.402665e-01,-0.162180,-0.355582,-0.315470,-0.326160,-0.070847,-0.053249,-0.230560,-0.360304
50%,0.012074,0.066390,0.183868,-0.019359,-0.054060,-0.272436,0.039036,0.020970,-0.052157,-0.090810,...,-0.030281,8.345807e-03,-0.012261,0.040573,0.018278,-0.052815,0.001502,0.011158,-0.000699,-0.002590
75%,1.315373,0.801687,1.037120,0.742208,0.614214,0.405285,0.568750,0.328303,0.590705,0.455287,...,0.186001,5.287508e-01,0.147474,0.438225,0.353989,0.240838,0.091279,0.077851,0.768532,0.640653
max,2.454930,21.467203,4.187811,16.491217,34.801666,23.917837,44.054461,20.007208,10.392889,15.331742,...,27.202839,8.361985e+00,22.528412,4.022866,7.519589,3.119295,11.135740,33.847808,180.101027,1.034951

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
count,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,...,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05,1.138420e+05
mean,9.986370e-18,-6.990459e-18,3.994548e-17,-3.994548e-17,1.597819e-17,5.991822e-18,1.597819e-17,3.994548e-18,3.432815e-18,1.672717e-17,...,-7.489778e-18,-2.995911e-18,-1.597819e-17,-8.488415e-18,2.396729e-17,2.546524e-17,8.738074e-18,5.991822e-18,2.995911e-17,1.597819e-16
std,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,...,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00,1.000004e+00
min,-2.891143e+01,-4.404272e+01,-2.168730e+01,-3.961724e+00,-3.082086e+01,-1.966489e+01,-3.447585e+01,-4.297002e+01,-1.226203e+01,-2.278321e+01,...,-3.151850e+01,-1.227784e+01,-7.044391e+01,-4.661148e+00,-1.979951e+01,-3.856866e+00,-2.476825e+01,-2.700547e+01,-3.617625e-01,-1.990839e+00
25%,-4.734248e-01,-3.615209e-01,-5.969594e-01,-6.014037e-01,-5.048002e-01,-5.796248e-01,-4.632818e-01,-1.746449e-01,-5.891582e-01,-5.028191e-01,...,-3.164376e-01,-7.464045e-01,-2.529060e-01,-5.854532e-01,-6.098260e-01,-6.775104e-01,-1.767528e-01,-1.480942e-01,-3.392442e-01,-8.537647e-01
50%,6.087142e-03,3.943019e-02,1.163400e-01,-1.075321e-02,-3.987825e-02,-2.086138e-01,2.762811e-02,1.975560e-02,-4.569051e-02,-8.962586e-02,...,-4.022034e-02,1.152957e-02,-1.720530e-02,6.842869e-02,3.191485e-02,-1.091987e-01,4.344384e-03,3.275862e-02,-2.718939e-01,-2.128823e-01
75%,6.740856e-01,4.847794e-01,6.863496e-01,5.283610e-01,4.487943e-01,3.007295e-01,4.675513e-01,2.789995e-01,5.411779e-01,4.201101e-01,...,2.593411e-01,7.304939e-01,2.339279e-01,7.247792e-01,6.774301e-01,5.013363e-01,2.290662e-01,2.200319e-01,-4.650593e-02,9.395568e-01
max,1.258159e+00,1.300132e+01,2.791147e+00,1.167710e+01,2.544826e+01,1.797167e+01,3.658209e+01,1.687868e+01,9.489591e+00,1.430605e+01,...,3.767888e+01,1.155248e+01,3.542087e+01,6.641477e+00,1.445565e+01,6.485947e+00,2.787452e+01,9.504534e+01,5.249871e+01,1.645983e+00

#### MinMax Scaler

MinMaxScalerÎäî Îç∞Ïù¥ÌÑ∞Ïùò FeatureÏùò ÏµúÏÜåÍ∞íÏùÑ 0 Í∑∏Î¶¨Í≥† ÏµúÎåÄÍ∞íÏùÑ 1Î°ú Ïä§ÏºÄÏùºÎßÅÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Í∞Ä 0Í≥º 1ÏÇ¨Ïù¥Ïóê Î∂ÑÌè¨ÌïòÎèÑÎ°ù Ìï©ÎãàÎã§.

![·Ñâ·Ö≥·Ñè·Ö≥·ÑÖ·Öµ·Ü´·Ñâ·Ö£·Ü∫ 2023-01-27 14.28.45.png]()

In [30]:
# 'train' Îç∞Ïù¥ÌÑ∞ ÏÖãÏóêÏÑú 'ID' ÏπºÎüºÏùÄ Ï†úÏô∏ÌïòÍ≥† ÏÇ¨Ïö©Ìï©ÎãàÎã§.
df = train.drop(columns=['ID'])

In [31]:
# sklearn ÎùºÏù¥Î∏åÎü¨Î¶¨ÏóêÏÑú preprocessing Ï§ëÏóêÏÑú MinMaxScalerÎ•º Î∂àÎü¨ÏòµÎãàÎã§.
from sklearn.preprocessing import MinMaxScaler

In [32]:
# Ïä§ÏºÄÏùºÎßÅÏùÑ Ïö©Ïù¥ÌïòÍ≤å ÏÇ¨Ïö©ÌïòÍ≤å Î≥ÑÎèÑÎ°ú Î≥ÄÏàòÎ°ú ÏßÄÏ†ïÌï©ÎãàÎã§.
minmax_scaler = MinMaxScaler()

# fit_transform Ìï®ÏàòÎ•º ÌôúÏö©Ìï¥ StandardScalerÎ•º Ï†ÅÏö©ÏãúÌÇ® ÌõÑ array ÌòïÌÉúÎ°ú Î∞òÌôòÌï©ÎãàÎã§.
array_minmax_scaled = minmax_scaler.fit_transform(df)

# array ÌòïÌÉúÏùò Îç∞Ïù¥ÌÑ∞Î•º pandas ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò DataFrame Ìï®ÏàòÎ•º ÏÇ¨Ïö©Ìï¥ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÎ°ú Î≥ÄÌôòÌï©ÎãàÎã§.
df_minmax_scaled = pd.DataFrame(array_minmax_scaled)

display(df_minmax_scaled.head())

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.935217,0.757840,0.934103,0.270706,0.541195,0.558345,0.494362,0.721503,0.500249,0.619375,...,0.460476,0.559957,0.678939,0.311866,0.559515,0.345001,0.467876,0.219901,0.029329,0.000000
1,0.941878,0.770102,0.934643,0.214438,0.547600,0.547297,0.487889,0.723332,0.505606,0.612767,...,0.453344,0.515525,0.662607,0.240850,0.614245,0.328350,0.473490,0.222690,0.009566,0.000000
2,0.951057,0.782268,0.916852,0.245899,0.553205,0.521798,0.490678,0.721681,0.539951,0.604802,...,0.451343,0.482764,0.665042,0.358283,0.564839,0.394253,0.482578,0.223141,0.000284,0.000006
3,0.947348,0.787124,0.915031,0.231235,0.560066,0.530941,0.498209,0.664343,0.589645,0.645592,...,0.494412,0.456349,0.666288,0.317645,0.554597,0.362583,0.413120,0.196306,0.003160,0.000035
4,0.943101,0.775107,0.882621,0.241224,0.582427,0.596712,0.489438,0.730007,0.547364,0.603820,...,0.454042,0.499677,0.662401,0.560251,0.598855,0.295739,0.471066,0.224552,0.007219,0.000035

In [33]:
# ÏµúÏÜåÍ∞íÍ≥º ÏµúÎåÄÍ∞íÏù¥ Ïñ¥ÎñªÍ≤å Î≥ÄÌïòÏòÄÎäî ÏßÄ ÌôïÏù∏Ìï¥Î¥ÖÏãúÎã§.
# Í∞ÅÍ∞ÅÏùò FeatureÎì§Ïù¥ ÏµúÏÜåÍ∞íÏùÄ 0 Í∑∏Î¶¨Í≥† ÏµúÎåÄÍ∞íÏùÄ 1Î°ú Î≥ÄÌôîÌïòÏòÄÏùåÏùÑ Î≥º Ïàò ÏûàÏäµÎãàÎã§.
display(df.describe(), df_minmax_scaled.describe())

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
count,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,...,113842.000000,1.138420e+05,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000
mean,0.000197,0.001289,0.009717,-0.004169,0.000475,0.005141,0.005769,-0.002451,-0.002107,0.005209,...,-0.001242,4.088347e-07,-0.001317,-0.000884,0.001680,-0.000293,-0.000234,-0.000508,0.927253,0.116232
std,1.951060,1.651064,1.496916,1.412633,1.367533,1.330583,1.204111,1.185504,1.095415,1.071337,...,0.722001,7.238291e-01,0.636061,0.605854,0.520069,0.480979,0.399505,0.356130,3.412933,0.558161
min,-56.407510,-72.715728,-32.454198,-5.600607,-42.147898,-26.160506,-41.506796,-50.943369,-13.434066,-24.403185,...,-22.757540,-8.887017e+00,-44.807735,-2.824849,-10.295397,-1.855355,-9.895244,-9.617915,-0.307413,-0.994972
25%,-0.923479,-0.595602,-0.883877,-0.853728,-0.689853,-0.766094,-0.552071,-0.209492,-0.647477,-0.533477,...,-0.229710,-5.402665e-01,-0.162180,-0.355582,-0.315470,-0.326160,-0.070847,-0.053249,-0.230560,-0.360304
50%,0.012074,0.066390,0.183868,-0.019359,-0.054060,-0.272436,0.039036,0.020970,-0.052157,-0.090810,...,-0.030281,8.345807e-03,-0.012261,0.040573,0.018278,-0.052815,0.001502,0.011158,-0.000699,-0.002590
75%,1.315373,0.801687,1.037120,0.742208,0.614214,0.405285,0.568750,0.328303,0.590705,0.455287,...,0.186001,5.287508e-01,0.147474,0.438225,0.353989,0.240838,0.091279,0.077851,0.768532,0.640653
max,2.454930,21.467203,4.187811,16.491217,34.801666,23.917837,44.054461,20.007208,10.392889,15.331742,...,27.202839,8.361985e+00,22.528412,4.022866,7.519589,3.119295,11.135740,33.847808,180.101027,1.034951

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
count,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,...,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000
mean,0.958297,0.772083,0.885975,0.253326,0.547740,0.522494,0.485179,0.717978,0.563730,0.614281,...,0.455487,0.515219,0.665414,0.412395,0.578001,0.372903,0.470497,0.221264,0.006844,0.547412
std,0.033146,0.017530,0.040852,0.063944,0.017772,0.026570,0.014073,0.016709,0.045974,0.026962,...,0.014451,0.041964,0.009446,0.088475,0.029193,0.096686,0.018996,0.008193,0.018918,0.274967
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.942605,0.765745,0.861588,0.214870,0.538769,0.507094,0.478660,0.715059,0.536644,0.600724,...,0.450914,0.483898,0.663025,0.360597,0.560198,0.307398,0.467139,0.220051,0.000426,0.312656
50%,0.958499,0.772774,0.890728,0.252639,0.547032,0.516951,0.485568,0.718308,0.561629,0.611864,...,0.454906,0.515703,0.665252,0.418449,0.578933,0.362345,0.470579,0.221533,0.001700,0.488876
75%,0.980640,0.780581,0.914014,0.287111,0.555716,0.530485,0.491759,0.722639,0.588609,0.625608,...,0.459235,0.545873,0.667624,0.476520,0.597777,0.421375,0.474848,0.223067,0.005964,0.805757
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### Robust Scaler

RobustScalerÎäî Îç∞Ïù¥ÌÑ∞Ïùò FeatureÏùò Ï§ëÏïôÍ∞íÏùÑ 0 Í∑∏Î¶¨Í≥† IQRÏù¥ 1Î°ú Ïä§ÏºÄÏùºÎßÅÌï©ÎãàÎã§.

![·Ñâ·Ö≥·Ñè·Ö≥·ÑÖ·Öµ·Ü´·Ñâ·Ö£·Ü∫ 2023-01-27 14.29.16.png]()

In [34]:
# 'train' Îç∞Ïù¥ÌÑ∞ ÏÖãÏóêÏÑú 'ID' ÏπºÎüºÏùÄ Ï†úÏô∏ÌïòÍ≥† ÏÇ¨Ïö©Ìï©ÎãàÎã§.
df = train.drop(columns=['ID'])

In [35]:
# sklearn ÎùºÏù¥Î∏åÎü¨Î¶¨ÏóêÏÑú preprocessing Ï§ëÏóêÏÑú RobustScalerÎ•º Î∂àÎü¨ÏòµÎãàÎã§.
from sklearn.preprocessing import RobustScaler

In [36]:
# Ïä§ÏºÄÏùºÎßÅÏùÑ Ïö©Ïù¥ÌïòÍ≤å ÏÇ¨Ïö©ÌïòÍ≤å Î≥ÑÎèÑÎ°ú Î≥ÄÏàòÎ°ú ÏßÄÏ†ïÌï©ÎãàÎã§.
robust_scaler = RobustScaler()

# fit_transform Ìï®ÏàòÎ•º ÌôúÏö©Ìï¥ StandardScalerÎ•º Ï†ÅÏö©ÏãúÌÇ® ÌõÑ array ÌòïÌÉúÎ°ú Î∞òÌôòÌï©ÎãàÎã§.
array_robust_scaled = robust_scaler.fit_transform(df)

# array ÌòïÌÉúÏùò Îç∞Ïù¥ÌÑ∞Î•º pandas ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò DataFrame Ìï®ÏàòÎ•º ÏÇ¨Ïö©Ìï¥ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÎ°ú Î≥ÄÌôòÌï©ÎãàÎã§.
df_robust_scaled = pd.DataFrame(array_robust_scaled)

display(df_robust_scaled.head())

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-0.612112,-1.006630,0.827352,0.250097,-0.344414,1.769653,0.671316,0.421547,-1.181165,0.301844,...,0.669406,0.714052,2.976456,-0.919436,-0.516715,-0.152172,-0.350682,-0.540885,4.988951,-0.991432
1,-0.436985,-0.180075,0.837651,-0.528801,0.033549,1.297307,0.177167,0.662829,-1.078087,0.036265,...,-0.187676,-0.002874,-0.575026,-1.532047,0.939710,-0.298261,0.377613,0.383672,1.420280,-0.991432
2,-0.195654,0.639905,0.498305,-0.093295,0.364281,0.207199,0.390040,0.445048,-0.417156,-0.283786,...,-0.428115,-0.531489,-0.045653,-0.519018,-0.375037,0.279949,1.556456,0.533349,-0.255664,-0.991420
3,-0.293161,0.967282,0.463568,-0.296277,0.769128,0.598059,0.965002,-7.119504,0.539122,1.355415,...,4.747881,-0.957702,0.225298,-0.869585,-0.647604,0.002083,-7.453594,-8.363822,0.263636,-0.991362
4,-0.404832,0.157281,-0.154638,-0.158005,2.088588,3.409873,0.295416,1.543552,-0.274508,-0.323253,...,-0.103783,-0.258590,-0.619954,1.223243,0.530169,-0.584380,0.063194,1.001114,0.996503,-0.991362

In [37]:
# 1ÏÇ¨Î∂ÑÏúÑÏàòÏôÄ 3ÏÇ¨Î∂ÑÏúÑÏàòÍ∞Ä Ïñ¥ÎñªÍ≤å Î≥ÄÌïòÏòÄÎäî ÏßÄ ÌôïÏù∏Ìï¥Î¥ÖÏãúÎã§.
# Í∞ÅÍ∞ÅÏùò FeatureÎì§Ïù¥ 1ÏÇ¨Î∂ÑÏúÑÏàòÏôÄ 3ÏÇ¨Î∂ÑÏúÑÏàòÎ•º ÌôïÏù∏ÌïòÏó¨ IQRÎ•º Íµ¨Ìï¥Î≥¥Î©¥ 1Ïóê Í∞ÄÍπùÍ≤å Î≥ÄÌôòÌïòÏòÄÏùåÏùÑ Î≥º Ïàò ÏûàÏäµÎãàÎã§.
display(df.describe(), df_robust_scaled.describe())

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
count,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,...,113842.000000,1.138420e+05,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000,113842.000000
mean,0.000197,0.001289,0.009717,-0.004169,0.000475,0.005141,0.005769,-0.002451,-0.002107,0.005209,...,-0.001242,4.088347e-07,-0.001317,-0.000884,0.001680,-0.000293,-0.000234,-0.000508,0.927253,0.116232
std,1.951060,1.651064,1.496916,1.412633,1.367533,1.330583,1.204111,1.185504,1.095415,1.071337,...,0.722001,7.238291e-01,0.636061,0.605854,0.520069,0.480979,0.399505,0.356130,3.412933,0.558161
min,-56.407510,-72.715728,-32.454198,-5.600607,-42.147898,-26.160506,-41.506796,-50.943369,-13.434066,-24.403185,...,-22.757540,-8.887017e+00,-44.807735,-2.824849,-10.295397,-1.855355,-9.895244,-9.617915,-0.307413,-0.994972
25%,-0.923479,-0.595602,-0.883877,-0.853728,-0.689853,-0.766094,-0.552071,-0.209492,-0.647477,-0.533477,...,-0.229710,-5.402665e-01,-0.162180,-0.355582,-0.315470,-0.326160,-0.070847,-0.053249,-0.230560,-0.360304
50%,0.012074,0.066390,0.183868,-0.019359,-0.054060,-0.272436,0.039036,0.020970,-0.052157,-0.090810,...,-0.030281,8.345807e-03,-0.012261,0.040573,0.018278,-0.052815,0.001502,0.011158,-0.000699,-0.002590
75%,1.315373,0.801687,1.037120,0.742208,0.614214,0.405285,0.568750,0.328303,0.590705,0.455287,...,0.186001,5.287508e-01,0.147474,0.438225,0.353989,0.240838,0.091279,0.077851,0.768532,0.640653
max,2.454930,21.467203,4.187811,16.491217,34.801666,23.917837,44.054461,20.007208,10.392889,15.331742,...,27.202839,8.361985e+00,22.528412,4.022866,7.519589,3.119295,11.135740,33.847808,180.101027,1.034951

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
count,113842.000000,1.138420e+05,113842.000000,1.138420e+05,1.138420e+05,113842.000000,1.138420e+05,1.138420e+05,113842.000000,113842.000000,...,1.138420e+05,113842.000000,1.138420e+05,113842.000000,113842.000000,1.138420e+05,113842.000000,1.138420e+05,113842.000000,1.138420e+05
mean,-0.005305,-4.659126e-02,-0.090656,9.518101e-03,4.181888e-02,0.236966,-2.968106e-02,-4.354864e-02,0.040422,0.097110,...,6.985382e-02,-0.007807,3.534120e-02,-0.052226,-0.024793,9.263181e-02,-0.010705,-8.898751e-02,0.928795,1.187084e-01
std,0.871456,1.181619e+00,0.779239,8.851440e-01,1.048668e+00,1.135911,1.074311e+00,2.204379e+00,0.884697,1.083511,...,1.736786e+00,0.677098,2.054098e+00,0.763227,0.776850,8.482905e-01,2.464164,2.716472e+00,3.416036,5.576269e-01
min,-25.200226,-5.208808e+01,-16.990171,-3.497162e+00,-3.227890e+01,-22.100505,-3.706731e+01,-9.476536e+01,-10.807710,-24.588650,...,-5.467080e+01,-8.321065,-1.446627e+02,-3.609724,-15.405971,-3.179097e+00,-61.043467,-7.344829e+01,-0.306993,-9.914320e-01
25%,-0.417872,-4.737693e-01,-0.555828,-5.228084e-01,-4.875468e-01,-0.421434,-5.273877e-01,-4.285306e-01,-0.480802,-0.447698,...,-4.797282e-01,-0.513193,-4.841502e-01,-0.499058,-0.498534,-4.820913e-01,-0.446251,-4.912795e-01,-0.230070,-3.573717e-01
50%,0.000000,4.967001e-18,0.000000,1.087590e-18,2.660478e-18,0.000000,3.095482e-18,-3.225501e-18,0.000000,0.000000,...,-4.174178e-18,0.000000,2.801985e-18,0.000000,0.000000,6.118966e-18,0.000000,6.615751e-18,0.000000,2.159934e-19
75%,0.582128,5.262307e-01,0.444172,4.771916e-01,5.124532e-01,0.578566,4.726123e-01,5.714694e-01,0.519198,0.552302,...,5.202718e-01,0.486807,5.158498e-01,0.500942,0.501466,5.179087e-01,0.553749,5.087205e-01,0.769930,6.426283e-01
max,1.091120,1.531595e+01,2.084305,1.034539e+01,2.672848e+01,20.651105,3.927069e+01,3.716330e+01,8.435793,15.597806,...,6.550973e+01,7.814316,7.279295e+01,5.016704,11.205024,5.594575e+00,68.676360,2.580979e+02,180.265455,1.036549e+00

### Quiz 4
  * 'train' Îç∞Ïù¥ÌÑ∞ ÏÖãÏóêÏÑú Í∞ÄÏû• ÌëúÏ§ÄÌëúÏ∞®Í∞Ä Í∞ÄÏû• ÌÅ∞ FeatureÎäî 'V29'ÏûÑÏùÑ ÌôïÏù∏ÌñàÏäµÎãàÎã§. Ïù¥Îäî Ïù¥ÏÉÅÏπòÍ∞Ä ÌëúÏ§ÄÌé∏Ï∞®Ïóê ÌÅ∞ ÏòÅÌñ•ÏùÑ Ï£ºÏóàÎã§Í≥† Î≥º Ïàò ÏûàÏäµÎãàÎã§. 'V29' FeatureÏóê Ïñ¥Îñ§ Ïä§ÏºÄÏùºÎßÅ Í∏∞Î≤ïÏùÑ Ï†ÅÏö©ÌïòÎ©¥ Ï¢ãÏùÑ ÏßÄ ÏÉùÍ∞ÅÎ≥¥ÏÑ∏Ïöî. Í∑∏Î¶¨Í≥† Í∞ÄÏû• Ï†ÅÌï©ÌïòÎã§Í≥† ÌåêÎã®ÎêòÎäî Ïä§ÏºÄÏùºÎßÅ Í∏∞Î≤ïÏùÑ Ï†ÅÏö©Ìï¥Î≥¥ÏÑ∏Ïöî.

**Hint**
  * Ïù¥ÏÉÅÏπòÎäî ÌèâÍ∑†Í≥º ÌëúÏ§ÄÌé∏Ï∞® Í≥ÑÏÇ∞Ïóê ÌÅ∞ ÏòÅÌñ•ÏùÑ ÎØ∏Ïπ©ÎãàÎã§.

In [38]:
# Ïã§Ïäµ
train = pd.read_csv('./train.csv')

**Solution**

  * RobustScalerÎ•º Ï†ÅÏö©Ìï¥Ïïº Ìï©ÎãàÎã§. Ïù¥ÏÉÅÏπòÎäî ÌèâÍ∑†, ÌëúÏ§ÄÌé∏Ï∞®, ÏµúÏÜåÍ∞í, ÏµúÎåÄÍ∞íÏóê ÌÅ∞ ÏòÅÌñ•ÏùÑ ÎØ∏Ïπ©ÎãàÎã§.

  * Í∑∏ÎûòÏÑú ÌèâÍ∑†Í≥º ÌëúÏ§ÄÌé∏Ï∞®Î•º ÌôúÏö©ÌïòÎäî StandardScalerÏôÄ ÏµúÏÜåÍ∞íÍ≥º ÏµúÎåÄÍ∞íÏùÑ ÌôúÏö©ÌïòÎäî MinMaxScalerÎäî Ï†ÅÏ†àÌïòÏßÄ Î™ªÌï† Ïàò ÏûàÏäµÎãàÎã§.

  * StandardScalerÏôÄ MinMaxScalerÎ•º Ï†ÅÏö© ÏãúÏóêÎäî Ïù¥ÏÉÅÏπòÎ•º ÌôïÏù∏ÌïòÍ≥† Î®ºÏ†Ä Ïù¥ÏÉÅÏπòÎ•º Ï≤òÎ¶¨ÌïòÎäî Í≤ÉÏù¥ Ï¢ãÏäµÎãàÎã§.



```
df = train[['V29']]

scaler = RobustScaler()

array_scaled = scaler.fit_transform(df)

df_scaled = pd.DataFrame(array_scaled)

display(df_scaled.head(), df_scaled.describe())
```

### ÏÉòÌîåÎßÅ

#### Î∂àÍ∑§Ìòï Îç∞Ïù¥ÌÑ∞Ïù¥ÎûÄ?

Stage 1ÏóêÏÑú Ïã†Ïö©Ïπ¥Îìú Í±∞Îûò Ï§ëÏóêÏÑú ÏÇ¨Í∏∞Í±∞ÎûòÍ∞Ä Î∞úÏÉùÌï† Í≤ΩÏö∞Îäî Í∑πÌûà ÎìúÎ¨ºÎã§Í≥† ÌïòÏòÄÏäµÎãàÎã§.

Í∑∏Î†áÍ∏∞Ïóê ÏàòÏßëÎêú Îç∞Ïù¥ÌÑ∞Ïóê Ïã†Ïö©Ïπ¥Îìú Í±∞Îûò Îç∞Ïù¥ÌÑ∞ (val.csv) Ï§ëÏóêÏÑú ÏÇ¨Í∏∞Í±∞ÎûòÏù∏ Í≤ΩÏö∞Îäî 30Í∞úÏóê Î∂àÍ≥ºÌñàÏäµÎãàÎã§.

Îç∞Ïù¥ÌÑ∞Ïùò Í¥ÄÏ∏°Ïπò Î∂ÑÌè¨Í∞Ä Í∑†Îì±ÌïòÏßÄ Î™ªÌïòÍ≥† Í∑πÏã¨Ìûà Ï∞®Ïù¥Í∞Ä ÎÇòÎäî Í±∏ Î∂àÍ∑†Ìòï Îç∞Ïù¥ÌÑ∞ (Imbalanced Data)ÎùºÍ≥† Ìï©ÎãàÎã§.

**Î∂àÍ∑†Ìòï Îç∞Ïù¥ÌÑ∞Í∞Ä Ï§Ñ Ïàò ÏûàÎäî Î¨∏Ï†úÏ†ê**

  * ÎòêÎã§Ïãú ÏãúÌóòÏùÑ ÏòàÎ°ú Îì§Ïñ¥Î¥ÖÏãúÎã§. Íµ≠Ïñ¥, ÏòÅÏñ¥, ÏàòÌïô Í≥ºÎ™© Ï§ë Íµ≠Ïñ¥ Í≥ºÎ™©Í≥º Í¥ÄÎ†®Îêú ÍµêÏû¨ÏôÄ Î¨∏Ï†úÏßëÏùÄ ÎßéÏù¥ Í≥µÎ∂ÄÌïòÍ≥† ÎÇòÎ®∏ÏßÄÎäî Ï†ÅÍ≤å Í≥µÎ∂ÄÌïúÎã§Î©¥ Íµ≠Ïñ¥ ÏãúÌóòÏóêÏÑúÎäî Ï¢ãÏùÄ ÏÑ±Ï†ÅÏùÑ Î≥º Ïàò ÏûàÏñ¥ÎèÑ ÏòÅÏñ¥ÏôÄ ÏàòÌïôÏóêÏÑú Ï¢ãÏùÄ ÏÑ±Ï†ÅÏùÑ Í∏∞ÎåÄÌïòÍ∏∞Îäî Ïñ¥Î†µÏäµÎãàÎã§. 

  * Îç∞Ïù¥ÌÑ∞ ÏàòÍ∞Ä ÎßéÏùÄ Í¥ÄÏ∏°ÏπòÏóêÏÑúÎßå Ïù∏ÏÇ¨Ïù¥Ìä∏Î•º ÏñªÏùÑ Ïàò ÏûàÏúºÎ©∞, Îç∞Ïù¥ÌÑ∞ ÏàòÍ∞Ä Ï†ÅÏùÄ Îç∞Ïù¥ÌÑ∞Îäî Ï∂©Î∂ÑÌûà ÌôúÏö©ÌïòÏßÄ Î™ªÌï† Ïàò ÏûàÏäµÎãàÎã§.

  * Î®∏Ïã†Îü¨ÎãùÏù¥ Îç∞Ïù¥ÌÑ∞Í∞Ä Ï†ÅÏùÄ Í¥ÄÏ∏°ÏπòÎäî Ï∂©Î∂ÑÌûà ÌïôÏäµÌïòÏßÄ Î™ªÌïòÏó¨ ÏàòÍ∞Ä Ï†ÅÏùÄ Í¥ÄÏ∏°Ïπò ÎåÄÌï¥ÏÑúÎäî Ï∂©Î∂ÑÌïú ÏÑ±Îä•ÏùÑ Î∞úÌúòÌïòÏßÄ Î™ªÌï† Ïàò ÏûàÏäµÎãàÎã§.

**Imbalanced-Learn (imblearn)**

* imblearn ÎùºÏù¥Î∏åÎü¨Î¶¨Îäî Î∂àÍ∑†Ìòï Îç∞Ïù¥ÌÑ∞ Î¨∏Ï†úÎ•º Ìï¥Í≤∞Ìï† Ïàò ÏûàÎäî Îã§ÏñëÌïú Í∏∞Î≤ïÎì§ÏùÑ Í∞ÑÌé∏Ìûà ÏÇ¨Ïö©Ìï† Ïàò ÏûàÎèÑÎ°ù ÎèÑÏôÄÏ£ºÎäî ÏπúÍµ¨ÏûÖÎãàÎã§.

* Jupyter LiteÏóêÎäî ÏÇ¨Ï†ÑÏóê ÏÑ§ÏπòÎêòÏñ¥ ÏûàÏßÄ ÏïäÍ∏∞Ïóê Î≥ÑÎèÑÎ°ú ÏÑ§ÏπòÌï¥Ï£ºÏñ¥Ïïº Ìï©ÎãàÎã§.

In [ ]:
# Ï£ºÌîºÌÑ∞ ÎùºÏù¥Ìä∏ÏóêÏÑú ÎùºÏù¥Î∏åÎü¨Î¶¨Î•º ÏÑ§ÏπòÌïòÎäî Î∞©Î≤ïÏûÖÎãàÎã§.
import micropip

await micropip.install('imbalanced-learn')

#### Ïñ∏Îçî ÏÉòÌîåÎßÅ VS Ïò§Î≤Ñ ÏÉòÌîåÎßÅ

Î∂àÍ∑†Ìòï Îç∞Ïù¥ÌÑ∞ Î¨∏Ï†úÎ•º ÏÉòÌîåÎßÅÏùÑ ÌÜµÌï¥ Ìï¥Í≤∞Ìï† Ïàò ÏûàÏäµÎãàÎã§.

ÏÉòÌîåÎßÅÏù¥ÎûÄ Î∂àÍ∑†ÌòïÌïú Îç∞Ïù¥ÌÑ∞ Î∂ÑÌè¨Î•º Í∑†Îì±ÌïòÍ≤å ÎßûÏ∂îÍ∏∞ ÏúÑÌï¥ ÌäπÏ†ï Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌï¥Í∞ÄÎäî Î∞©ÏãùÏûÖÎãàÎã§.

ÏÉòÌîåÎßÅ Í∏∞Î≤ïÏóêÎäî ÌÅ¨Í≤å Ïñ∏Îçî ÏÉòÌîåÎßÅÍ≥º Ïò§Î≤Ñ ÏÉòÌîåÎßÅÏù¥ ÏûàÏäµÎãàÎã§.

  * Ïñ∏Îçî ÏÉòÌîåÎßÅ (Under Sampling)

    - Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î•º ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ ÏàòÏóê ÎßûÍ≤å Ï§ÑÏù¥Îäî Î∞©ÏãùÏûÖÎãàÎã§.

    - Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î•º Î™®Îëê ÌôúÏö©ÌïòÏßÄ ÏïäÍ∏∞Ïóê Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Ïú†ÏùòÎØ∏Ìïú Ï†ïÎ≥¥Î•º ÏÜêÏã§Ìï† Ïàò ÏûàÏäµÎãàÎã§.


  * Ïò§Î≤Ñ ÏÉòÌîåÎßÅ (Over Sampling)
    
    - ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î•º Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ ÏàòÏóê ÎßûÍ≤å ÎäòÎ¶¨Îäî Î∞©ÏãùÏûÖÎãàÎã§.

    - ÎèôÏùºÌïú (ÌòπÏùÄ Ïú†ÏÇ¨Ìïú) ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î•º ÌôúÏö©ÌïòÍ∏∞Ïóê ÏÜåÏàò Î≤îÏ£ºÏùò ÌäπÏ†ï Ï†ïÎ≥¥Í∞Ä Í≥ºÏûâ Î∞òÏòÅÎê† Ïàò ÏûàÏäµÎãàÎã§.

In [40]:
# Î∂àÍ∑†Ìòï Îç∞Ïù¥ÌÑ∞ Î¨∏Ï†úÎ•º ÌôïÏù∏Ìïú 'Val' Îç∞Ïù¥ÌÑ∞ ÏÖãÏùÑ ÌôúÏö©Ìï©ÎãàÎã§. 

val = pd.read_csv('./val.csv')

print(val['Class'].value_counts())

0    28432
1       30
Name: Class, dtype: int64

In [41]:
# 'val' Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ Î≥µÏÇ¨ÌïòÏó¨ ÎèôÏùºÌïú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ ÏÇ¨Ïö©Ìï©ÎãàÎã§.
df = val.copy()

# Î∂àÍ∑†Ìòï Îç∞Ïù¥ÌÑ∞ Î¨∏Ï†úÎ•º Ìï¥Í≤∞Ìï† ÏπºÎüºÏùÑ Íµ¨Î∂ÑÌï©ÎãàÎã§.
# y : Î∂àÍ∑†Ìòï Îç∞Ïù¥ÌÑ∞ Î¨∏Ï†úÍ∞Ä Î∞úÏÉùÌïú ÌäπÏÑ± / X : y Ïù¥Ïô∏Ïùò ÏπºÎüºÎì§ 
y = df[['Class']]
X = df.drop(columns=['Class'])

In [42]:
display(X.head(), y.head())

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,10,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,-0.255991,-0.994878
1,22,0.962496,0.328461,-0.171479,2.109204,1.129566,1.696038,0.107712,0.521502,-1.191311,...,0.143997,0.402492,-0.048508,-1.371866,0.390814,0.199964,0.016371,-0.014605,0.168937,-0.994784
2,63,1.145524,0.575068,0.194008,2.598192,-0.092210,-1.044430,0.531588,-0.241888,-0.896287,...,0.011106,-0.119703,-0.076510,0.691320,0.633984,0.048741,-0.053192,0.016251,0.169496,-0.994502
3,69,0.927060,-0.323684,0.387585,0.544474,0.246787,1.650358,-0.427576,0.615371,0.226278,...,-0.040513,0.079359,0.096632,-0.992569,0.085096,0.377447,0.036096,-0.005960,0.331307,-0.994467
4,83,-3.005237,2.600138,1.483691,-2.418473,0.306326,-0.824575,2.065426,-1.829347,4.009259,...,-0.852309,-0.181268,-0.163747,0.515821,0.136318,0.460054,-0.251259,-1.105751,-0.287012,-0.994373

   Class
0      0
1      0
2      0
3      0
4      0

#### Ïñ∏Îçî ÏÉòÌîåÎßÅ

**Random Under Sampler**

Î¨¥ÏûëÏúÑÎ°ú Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î•º Ï†úÍ±∞ÌïòÏó¨ Î∂àÍ∑†Ìòï Îç∞Ïù¥ÌÑ∞ Î¨∏Ï†úÎ•º Ìï¥Í≤∞Ìï©ÎãàÎã§.

In [43]:
# imblearn ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò under_sampling Ï§ëÏóêÏÑú RandomUnderSamplerÎ•º Î∂àÎü¨ÏòµÎãàÎã§.
from imblearn.under_sampling import RandomUnderSampler

In [44]:
# ÏÉòÌîåÎßÅÏùÑ Ïö©Ïù¥ÌïòÍ≤å ÏÇ¨Ïö©ÌïòÍ≤å Î≥ÑÎèÑÎ°ú Î≥ÄÏàòÎ°ú ÏßÄÏ†ïÌï©ÎãàÎã§.
under_sampler = RandomUnderSampler()

under_sampled_X, under_sampled_y = under_sampler.fit_resample(X, y)

In [45]:
# Pandas ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò concat Ìï®ÏàòÎ•º ÌôúÏö©ÌïòÏó¨ Î∂ÑÎ¶¨Îêú XÏôÄ yÎ•º Îã§Ïãú Ìï©Ï≥êÏ§çÎãàÎã§.
df_random_under = pd.concat([under_sampled_X, under_sampled_y], axis=1)

In [46]:
# Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î•º ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ ÏàòÏôÄ ÎèôÏùºÌïòÍ≤å Î¨¥ÏûëÏúÑÎ°ú Ï∂îÏ∂úÌïòÏòÄÍ∏∞Ïóê Ï¥ù Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÍ∞Ä Í∞êÏÜåÌïòÏòÄÏäµÎãàÎã§.
print(df_random_under.shape)

(60, 32)

In [47]:
# Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ (Ï†ïÏÉÅ Í±∞Îûò)Ïùò ÏàòÎ•º ÏÜåÏàò Î≤îÏ£ºÏùò Í±∞ÎûòÏùò Îç∞Ïù¥ÌÑ∞ (ÏÇ¨Í∏∞ Í±∞Îûò)Ïùò ÏàòÏôÄ ÎèôÏùºÌïòÍ≤å ÎßûÏ∂îÏñ¥Ï†∏ÏäµÎãàÎã§.
print(df_random_under['Class'].value_counts())

0    30
1    30
Name: Class, dtype: int64

**Near Miss**

Near MissÎäî ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ÏôÄ Í∑ºÏ≤òÏóê ÏûàÎäî Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌï©ÎãàÎã§.

Í∑∏Î¶¨Í≥† 'Í∑ºÏ≤òÏóê ÏûàÎã§'ÎùºÎäî ÎßêÏùò Ï†ïÏùòÌïòÎäî 3Í∞ÄÏßÄ Î∞©Î≤ïÏóê Îî∞Îùº Í∞ÅÍ∏∞ Îã§Î•∏ Î∞©ÏãùÏúºÎ°ú Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌï©ÎãàÎã§.

NearMissÏóêÏÑú Ï†úÍ≥µÌïòÎäî 'version' ÌïòÏù¥Ìçº ÌååÎùºÎØ∏ÌÑ∞ (Ïö∞Î¶¨Í∞Ä ÏÑ§Ï†ïÌï† Ïàò ÏûàÎäî Í∞í)Ïóê Îî∞Îùº 3Í∞ÄÏßÄ Îã§Î•∏ Under Sampling Î∞©Î≤ïÎ°†ÏùÑ Ï†úÏãúÌï©ÎãàÎã§.

In [48]:
# imblearn ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò under_sampling Ï§ëÏóêÏÑú NearMissÎ•º Î∂àÎü¨ÏòµÎãàÎã§.
from imblearn.under_sampling import NearMiss

* Version 1

  - ÌäπÏ†ï Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î°úÎ∂ÄÌÑ∞ Í∞ÄÏû• Í∞ÄÍπåÏö¥ NÍ∞ú (n_neighbors)Ïùò ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ÍπåÏßÄÏùò ÌèâÍ∑† Í±∞Î¶¨Î•º Íµ¨Ìï©ÎãàÎã§.

  - Í≥ÑÏÇ∞Îêú ÌèâÍ∑† Í±∞Î¶¨Í∞Ä Í∞ÄÏû• Í∞ÄÍπåÏö¥ MÍ∞úÏùò Îç∞Ïù¥ÌÑ∞Îäî ÎÇ®Í∏∞Í≥† ÎÇòÎ®∏ÏßÄÎäî Ï†úÍ±∞Ìï©ÎãàÎã§.

* Version 2

  - ÌäπÏ†ï Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î°úÎ∂ÄÌÑ∞ Í∞ÄÏû• Î®º Í±∞Î¶¨Ïóê ÏûàÎäî NÍ∞ú (n_neighbors)Ïùò ÏÜåÏàò ÌÅ¥ÎûòÏä§ ÏÉòÌîåÍπåÏßÄÏùò ÌèâÍ∑† Í±∞Î¶¨Î•º Íµ¨Ìï©ÎãàÎã§.

  - Í≥ÑÏÇ∞Îêú ÌèâÍ∑† Í±∞Î¶¨Í∞Ä Í∞ÄÏû• Í∞ÄÍπåÏö¥ MÍ∞úÏùò Îç∞Ïù¥ÌÑ∞Îäî ÎÇ®Í∏∞Í≥† ÎÇòÎ®∏ÏßÄÎäî Ï†úÍ±∞Ìï©ÎãàÎã§.

* Version 3

  - Î™®Îì† ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î°úÎ∂ÄÌÑ∞ MÍ∞úÏùò Í∞ÄÏû• Í∞ÄÍπåÏö¥ Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î•º ÏÑ†ÌÉùÌïúÎã§.

  - ÏÑ†ÌÉùÎêú Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ÏóêÏÑúÎ∂ÄÌÑ∞ Í∞ÄÏû• Í∞ÄÍπåÏö¥ NÍ∞ú (n_neighbors)Ïùò ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ÍπåÏßÄÏùò Í±∞Î¶¨Î•º Í≥ÑÏÇ∞ÌïúÎã§.

  - ÌèâÍ∑† Í±∞Î¶¨Í∞Ä Í∞ÄÏû• Î®º Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î•º ÎÇ®Í∏∞Í≥† ÎÇòÎ®∏ÏßÄÎäî Ï†úÍ±∞Ìï©ÎãàÎã§.

In [49]:
# ÏÉòÌîåÎßÅÏùÑ Ïö©Ïù¥ÌïòÍ≤å ÏÇ¨Ïö©ÌïòÍ≤å Î≥ÑÎèÑÎ°ú Î≥ÄÏàòÎ°ú ÏßÄÏ†ïÌï©ÎãàÎã§.
# NearMissÏùò Îã§ÏñëÌïú versionÏùÑ ÏÇ¨Ïö©ÌïòÍ≥† Ïã∂ÏúºÎ©¥ Ìï¥Îãπ version Ïô∏Ïùò Í≤ÉÏùÄ Ï£ºÏÑùÏ≤òÎ¶¨ÌïòÎ©¥ Îê©ÎãàÎã§.
under_sampler = NearMiss(version=1, n_neighbors=3)
# under_sampler = NearMiss(version=2, n_neighbors=3)
# under_sampler = NearMiss(version=3, n_neighbors=3)

under_sampled_X, under_sampled_y = under_sampler.fit_resample(X, y)

In [50]:
# Pandas ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò concat Ìï®ÏàòÎ•º ÌôúÏö©ÌïòÏó¨ Î∂ÑÎ¶¨Îêú XÏôÄ yÎ•º Îã§Ïãú Ìï©Ï≥êÏ§çÎãàÎã§.
df_near_under = pd.concat([under_sampled_X, under_sampled_y], axis=1)

In [51]:
# Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î•º ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ ÏàòÏôÄ ÎèôÏùºÌïòÍ≤å Î¨¥ÏûëÏúÑÎ°ú Ï∂îÏ∂úÌïòÏòÄÍ∏∞Ïóê Ï¥ù Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÍ∞Ä Í∞êÏÜåÌïòÏòÄÏäµÎãàÎã§.
print(df_near_under.shape)

(60, 32)

In [52]:
# Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ (Ï†ïÏÉÅ Í±∞Îûò)Ïùò ÏàòÎ•º ÏÜåÏàò Î≤îÏ£ºÏùò Í±∞ÎûòÏùò Îç∞Ïù¥ÌÑ∞ (ÏÇ¨Í∏∞ Í±∞Îûò)Ïùò ÏàòÏôÄ ÎèôÏùºÌïòÍ≤å ÎßûÏ∂îÏñ¥Ï†∏ÏäµÎãàÎã§.
print(df_near_under['Class'].value_counts())

0    30
1    30
Name: Class, dtype: int64

**Condensed Nearest Neighbour**

Condensed Nearest NeighbourÎäî Îã§Ïùå Í≥ºÏ†ïÏùÑ Í±∞Ï≥ê Under SamplingÏùÑ ÏàòÌñâÌï©ÎãàÎã§.

  1. ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ Î™®Îëê ÏßëÌï© SÏóê Ìè¨Ìï®ÌïúÎã§.

  2. Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ Ï§ëÏóêÏÑú ÌïòÎÇòÎ•º Í≥®ÎùºÏÑú Í∞ÄÏû• Í∞ÄÍπåÏö¥ Îç∞Ïù¥ÌÑ∞Í∞Ä Îã§Ïàò Î≤îÏ£º Îç∞Ïù¥ÌÑ∞Í∞Ä ÏïÑÎãàÎ©¥ ÏßëÌï© SÏóê Ìè¨Ìï®ÌïúÎã§.

  3. Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Îçî Ïù¥ÏÉÅ ÏÑ†ÌÉùÏßÄÍ∞Ä ÏóÜÏùÑ ÎïåÍπåÏßÄ Í≥ºÏ†ï 2Î•º Î∞òÎ≥µÌïúÎã§.

In [53]:
# imblearn ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò under_sampling Ï§ëÏóêÏÑú CondensedNearestNeighbourÎ•º Î∂àÎü¨ÏòµÎãàÎã§.
from imblearn.under_sampling import CondensedNearestNeighbour

In [54]:
# ÏÉòÌîåÎßÅÏùÑ Ïö©Ïù¥ÌïòÍ≤å ÏÇ¨Ïö©ÌïòÍ≤å Î≥ÑÎèÑÎ°ú Î≥ÄÏàòÎ°ú ÏßÄÏ†ïÌï©ÎãàÎã§.
under_sampler = CondensedNearestNeighbour()

under_sampled_X, under_sampled_y = under_sampler.fit_resample(X, y)

In [55]:
# Pandas ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò concat Ìï®ÏàòÎ•º ÌôúÏö©ÌïòÏó¨ Î∂ÑÎ¶¨Îêú XÏôÄ yÎ•º Îã§Ïãú Ìï©Ï≥êÏ§çÎãàÎã§.
df_cnn_under = pd.concat([under_sampled_X, under_sampled_y], axis=1)

In [56]:
# Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î•º ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ ÏàòÏôÄ ÎèôÏùºÌïòÍ≤å Î¨¥ÏûëÏúÑÎ°ú Ï∂îÏ∂úÌïòÏòÄÍ∏∞Ïóê Ï¥ù Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÍ∞Ä Í∞êÏÜåÌïòÏòÄÏäµÎãàÎã§.
print(df_cnn_under.shape)

(244, 32)

In [57]:
# ÏïåÍ≥†Î¶¨Ï¶ò ÌäπÏÑ±ÏÉÅ Ï∂îÏ∂úÎêú Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ ÏàòÍ∞Ä ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ ÏàòÏôÄ Í∞ôÏßÄ ÏïäÏùÑ Ïàò ÏûàÏäµÎãàÎã§.
print(df_cnn_under['Class'].value_counts())

0    214
1     30
Name: Class, dtype: int64

#### Ïò§Î≤Ñ ÏÉòÌîåÎßÅ

**Random Over Sampler**

Î¨¥ÏûëÏúÑÎ°ú ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïòÏó¨ ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Ïóê Ìè¨Ìï®ÏãúÏºú Î∂àÍ∑†Ìòï Îç∞Ïù¥ÌÑ∞ Î¨∏Ï†úÎ•º Ìï¥Í≤∞Ìï©ÎãàÎã§.

In [58]:
# imblearn ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò over_sampling Ï§ëÏóêÏÑú RandomOverSamplerÎ•º Î∂àÎü¨ÏòµÎãàÎã§.
from imblearn.over_sampling import RandomOverSampler

In [59]:
# ÏÉòÌîåÎßÅÏùÑ Ïö©Ïù¥ÌïòÍ≤å ÏÇ¨Ïö©ÌïòÍ≤å Î≥ÑÎèÑÎ°ú Î≥ÄÏàòÎ°ú ÏßÄÏ†ïÌï©ÎãàÎã§.
over_sampler = RandomOverSampler()

over_sampled_X, over_sampled_y = over_sampler.fit_resample(X, y)

In [60]:
# Pandas ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò concat Ìï®ÏàòÎ•º ÌôúÏö©ÌïòÏó¨ Î∂ÑÎ¶¨Îêú XÏôÄ yÎ•º Îã§Ïãú Ìï©Ï≥êÏ§çÎãàÎã§.
df_random_over = pd.concat([over_sampled_X, over_sampled_y], axis=1)

In [61]:
# ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î•º Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ ÏàòÏôÄ ÎèôÏùºÌïòÍ≤å Î¨¥ÏûëÏúÑÎ°ú Ï∂îÏ∂úÌïòÏó¨ Ìè¨Ìï®ÏãúÏº∞Í∏∞Ïóê Ï¥ù Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÍ∞Ä Ï¶ùÍ∞ÄÌïòÏòÄÏäµÎãàÎã§.
print(df_random_over.shape)

(56864, 32)

In [62]:
# ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ (ÏÇ¨Í∏∞ Í±∞Îûò)Ïùò ÏàòÎ•º Îã§Ïàò Î≤îÏ£ºÏùò Í±∞ÎûòÏùò Îç∞Ïù¥ÌÑ∞ (Ï†ïÏÉÅ Í±∞Îûò)Ïùò ÏàòÏôÄ ÎèôÏùºÌïòÍ≤å ÎßûÏ∂îÏñ¥Ï†∏ÏäµÎãàÎã§.
print(df_random_over['Class'].value_counts())

0    28432
1    28432
Name: Class, dtype: int64

In [63]:
# ÎèôÏùºÌïú Îç∞Ïù¥ÌÑ∞Í∞Ä Î™á Í∞úÍ∞Ä ÏûàÎäî ÏßÄ duplicated Ìï®ÏàòÎ•º ÏÇ¨Ïö©ÌïòÏó¨ ÏïåÏïÑÎ¥ÖÏãúÎã§.
# Í∏∞Ï°¥Ïùò Îç∞Ïù¥ÌÑ∞Î•º Í∑∏ÎåÄÎ°ú Í∞ÄÏ†∏ÏôÄ ÏÇ¨Ïö©ÌïòÏòÄÍ∏∞Ïóê Ï§ëÎ≥µÎêú Îç∞Ïù¥ÌÑ∞Í∞Ä ÎßéÏäµÎãàÎã§.
df_same = df_random_over.duplicated()
print(df_same.sum())

28402

**SMOTE**

SMOTE (Synthetic Minority Over-sampling Technique)Îäî Îã§ÏùåÏùò Í≥ºÏ†ïÏùÑ ÏßÑÌñâÌï©ÎãàÎã§.

  1. ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ Ï§ëÏóêÏÑú Î¨¥ÏûëÏúÑÎ°ú ÌïòÎÇòÎ•º ÏÑ†ÌÉùÌï©ÎãàÎã§.
  
  2. KNN (K-nearest neighbors) ÏïåÍ≥†Î¶¨Ï¶òÏùÑ ÌôúÏö©ÌïòÏó¨ Í∞ÄÏû• Í∞ÄÍπåÏö¥ KÍ∞úÏùò ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î•º Ï∞æÏäµÎãàÎã§.

  3. Ï∞æÏùÄ KÍ∞úÏùò ÏÜåÏàò Î≤îÏ£º Îç∞Ïù¥ÌÑ∞ Ï§ë ÌïòÎÇòÎ•º Î¨¥ÏûëÏúÑÎ°ú ÏÑ†ÌÉùÌï©ÎãàÎã§.

  4. Ï≤òÏùåÏóê ÏÑ†ÌÉùÌïú Îç∞Ïù¥ÌÑ∞ÏôÄ KNNÎ•º ÌÜµÌï¥ ÏÑ†ÌÉùÎêú Îç∞Ïù¥ÌÑ∞ ÏÇ¨Ïù¥Ïóê ÏÑ†ÏùÑ Í∏ãÏäµÎãàÎã§.

  5. Í∑∏ ÏÑ† ÏúÑÏóê ÏûàÎäî ÏûÑÏùòÏùò Ï†êÏùÑ ÏÑ†ÌÉùÌïòÏó¨ ÏÉàÎ°úÏö¥ Îç∞Ïù¥ÌÑ∞Î•º ÏÉùÏÑ±Ìï©ÎãàÎã§.

  6. ÏõêÌïòÎäî ÎßåÌÅºÏùò Îç∞Ïù¥ÌÑ∞ ÏàòÍ∞Ä ÏÉùÏÑ±Îê† ÎïåÍπåÏßÄ ÏúÑÏùò Í≥ºÏ†ïÏùÑ Î∞òÎ≥µÌï©ÎãàÎã§.

In [64]:
# imblearn ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò over_sampling Ï§ëÏóêÏÑú SMOTEÎ•º Î∂àÎü¨ÏòµÎãàÎã§.
from imblearn.over_sampling import SMOTE

In [65]:
# ÏÉòÌîåÎßÅÏùÑ Ïö©Ïù¥ÌïòÍ≤å ÏÇ¨Ïö©ÌïòÍ≤å Î≥ÑÎèÑÎ°ú Î≥ÄÏàòÎ°ú ÏßÄÏ†ïÌï©ÎãàÎã§.
over_sampler = SMOTE()

over_sampled_X, over_sampled_y = over_sampler.fit_resample(X, y)

In [66]:
# Pandas ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò concat Ìï®ÏàòÎ•º ÌôúÏö©ÌïòÏó¨ Î∂ÑÎ¶¨Îêú XÏôÄ yÎ•º Îã§Ïãú Ìï©Ï≥êÏ§çÎãàÎã§.
df_smote_over = pd.concat([over_sampled_X, over_sampled_y], axis=1)

In [67]:
# ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î•º Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ ÏàòÏôÄ ÎèôÏùºÌïòÍ≤å ÏÉùÏÑ±ÌïòÏòÄÍ∏∞Ïóê Ï¥ù Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÍ∞Ä Ï¶ùÍ∞ÄÌïòÏòÄÏäµÎãàÎã§.
print(df_smote_over.shape)

(56864, 32)

In [68]:
# ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ (ÏÇ¨Í∏∞ Í±∞Îûò)Ïùò ÏàòÎ•º Îã§Ïàò Î≤îÏ£ºÏùò Í±∞ÎûòÏùò Îç∞Ïù¥ÌÑ∞ (Ï†ïÏÉÅ Í±∞Îûò)Ïùò ÏàòÏôÄ ÎèôÏùºÌïòÍ≤å ÎßûÏ∂îÏñ¥Ï†∏ÏäµÎãàÎã§.
print(df_random_over['Class'].value_counts())

0    28432
1    28432
Name: Class, dtype: int64

In [69]:
# ÎèôÏùºÌïú Îç∞Ïù¥ÌÑ∞Í∞Ä Î™á Í∞úÍ∞Ä ÏûàÎäî ÏßÄ duplicated Ìï®ÏàòÎ•º ÏÇ¨Ïö©ÌïòÏó¨ ÏïåÏïÑÎ¥ÖÏãúÎã§.
# Í∏∞Ï°¥ Îç∞Ïù¥ÌÑ∞Î•º Î∞îÌÉïÏúºÎ°ú ÏÉàÎ°≠Í≤å Îç∞Ïù¥ÌÑ∞Î•º ÏÉùÏÑ±ÌïòÏòÄÍ∏∞Ïóê ÏÉÅÎåÄÏ†ÅÏúºÎ°ú Ï§ëÎ≥µÎêú Îç∞Ïù¥ÌÑ∞Í∞Ä Ï†ÅÏäµÎãàÎã§.
df_same = df_random_over.duplicated()
print(df_same.sum())

28402

**ADASYN**

ADASYN (Adaptive Synthetic Sampling)Îäî Í∏∞Ï°¥Ïùò SMOTEÎ•º Î≥¥ÏôÑÌïú Í∏∞Î≤ïÏûÖÎãàÎã§.

SMOTE ÏïåÍ≥†Î¶¨Ï¶òÏóêÏÑú ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ Ï£ºÏúÑÏóê Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Í∞Ä ÏñºÎßàÎÇò ÏûàÎäî ÏßÄ Í≥†Î†§Ìï©ÎãàÎã§.

Í≤∞Î°†Ï†ÅÏúºÎ°ú ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ Ï£ºÎ≥ÄÏóê Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Í∞Ä ÎßéÏùÑ Í≤ΩÏö∞ Ìï¥Îãπ ÏÜåÏàò Î≤îÏ£º Îç∞Ïù¥ÌÑ∞ÏôÄ Ïú†ÏÇ¨Ìïú Îç∞Ïù¥ÌÑ∞Î•º Îçî ÎßéÏù¥ ÏÉùÏÑ±Ìï©ÎãàÎã§.

Ï¶â, ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ Ï§ëÏóêÏÑú Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ÏôÄ Í∞ÄÍπåÏù¥ ÏûàÎäî Îç∞Ïù¥ÌÑ∞Î•º Ï§ëÏã¨ÏúºÎ°ú Ïú†ÏÇ¨Ìïú Îç∞Ïù¥ÌÑ∞Î•º Îçî ÏÉùÏÑ±Ìï©ÎãàÎã§.

In [70]:
# imblearn ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò over_sampling Ï§ëÏóêÏÑú ADASYNÎ•º Î∂àÎü¨ÏòµÎãàÎã§.
from imblearn.over_sampling import ADASYN

In [71]:
# ÏÉòÌîåÎßÅÏùÑ Ïö©Ïù¥ÌïòÍ≤å ÏÇ¨Ïö©ÌïòÍ≤å Î≥ÑÎèÑÎ°ú Î≥ÄÏàòÎ°ú ÏßÄÏ†ïÌï©ÎãàÎã§.
over_sampler = ADASYN()

over_sampled_X, over_sampled_y = over_sampler.fit_resample(X, y)

In [72]:
# Pandas ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò concat Ìï®ÏàòÎ•º ÌôúÏö©ÌïòÏó¨ Î∂ÑÎ¶¨Îêú XÏôÄ yÎ•º Îã§Ïãú Ìï©Ï≥êÏ§çÎãàÎã§.
df_adasyn_over = pd.concat([over_sampled_X, over_sampled_y], axis=1)

In [73]:
# ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞Î•º Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ ÏàòÏôÄ ÎèôÏùºÌïòÍ≤å ÏÉùÏÑ±ÌïòÏòÄÍ∏∞Ïóê Ï¥ù Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÍ∞Ä Ï¶ùÍ∞ÄÌïòÏòÄÏäµÎãàÎã§.
print(df_adasyn_over.shape)

(56862, 32)

In [74]:
# ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ (ÏÇ¨Í∏∞ Í±∞Îûò)Ïùò ÏàòÎ•º Îã§Ïàò Î≤îÏ£ºÏùò Í±∞ÎûòÏùò Îç∞Ïù¥ÌÑ∞ (Ï†ïÏÉÅ Í±∞Îûò)Ïùò ÏàòÍ∞Ä Ïú†ÏÇ¨ÌïòÍ≤å ÎßûÏ∂îÏñ¥Ï†∏ÏäµÎãàÎã§.
# ÎèôÏùºÌïòÏßÄ ÏïäÎäî Ïù¥Ïú†Îäî ÏÉùÏÑ±ÌïòÍ≥†Ïûê ÌïòÎäî Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÍ∞Ä ÏÜåÏàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ Ï£ºÎ≥ÄÏùò Îã§Ïàò Î≤îÏ£ºÏùò Îç∞Ïù¥ÌÑ∞ ÎπÑÏú®Ïóê ÏòÅÌñ•ÏùÑ Î∞õÍ∏∞ ÎñÑÎ¨∏ÏûÖÎãàÎã§. 
print(df_adasyn_over['Class'].value_counts())

0    28432
1    28430
Name: Class, dtype: int64

In [75]:
# ÎèôÏùºÌïú Îç∞Ïù¥ÌÑ∞Í∞Ä Î™á Í∞úÍ∞Ä ÏûàÎäî ÏßÄ duplicated Ìï®ÏàòÎ•º ÏÇ¨Ïö©ÌïòÏó¨ ÏïåÏïÑÎ¥ÖÏãúÎã§.
# Í∏∞Ï°¥ Îç∞Ïù¥ÌÑ∞Î•º Î∞îÌÉïÏúºÎ°ú ÏÉàÎ°≠Í≤å Îç∞Ïù¥ÌÑ∞Î•º ÏÉùÏÑ±ÌïòÏòÄÍ∏∞Ïóê ÏÉÅÎåÄÏ†ÅÏúºÎ°ú Ï§ëÎ≥µÎêú Îç∞Ïù¥ÌÑ∞Í∞Ä Ï†ÅÏäµÎãàÎã§.
df_same = df_adasyn_over.duplicated()
print(df_same.sum())

263

## ÌäπÏÑ± Í≥µÌïô

### ÏöîÏïΩÎ≥ÄÏàò & ÌååÏÉùÎ≥ÄÏàò

ÏàòÏßëÎêú Îç∞Ïù¥ÌÑ∞Í∞Ä Í∞ÄÏßÄÍ≥† ÏûàÎçò ÌäπÏÑ±Îì§Î°úÎäî Îç∞Ïù¥ÌÑ∞Î•º Ï∂©Î∂ÑÌûà ÏÑ§Î™ÖÌïòÏßÄ Î™ªÌï† Ïàò ÏûàÏäµÎãàÎã§.

Í∑∏Îü¥ Îïå ÏÉàÎ°úÏö¥ ÌäπÏÑ±ÏùÑ ÎßåÎì§Ïñ¥ Îç∞Ïù¥ÌÑ∞Î°úÎ∂ÄÌÑ∞ Ïù∏ÏÇ¨Ïù¥Ìä∏Î•º Îçî Ïûò Ï∞æÏùÑ Ïàò ÏûàÍ≤å ÌïòÍ≥† Î®∏Ïã†Îü¨ÎãùÏù¥ Ïûò ÌïôÏäµÌï† Ïàò ÏûàÎèÑÎ°ù Ìï† Ïàò ÏûàÏäµÎãàÎã§.

ÏÉàÎ°úÏö¥ ÌäπÏÑ±ÏùÑ ÎßåÎì§Ïñ¥ÎÇ¥Îäî Í∏∞Î≤ï Ï§ë ÏöîÏïΩ Î≥ÄÏàòÏôÄ ÌååÏÉù Î≥ÄÏàòÍ∞Ä ÏûàÏäµÎãàÎã§.

**ÏöîÏïΩ Î≥ÄÏàò**

  - ÏàòÏßëÎêú Îç∞Ïù¥ÌÑ∞Î•º ÏöîÏïΩ ÌòπÏùÄ Ï¢ÖÌï©Ìïú Ï†ïÎ≥¥Î°ú ÏÉàÎ°úÏö¥ Î≥ÄÏàòÎ•º ÎßåÎìúÎäî Í≤ÉÏûÖÎãàÎã§.

  - ÏòàÎ•º Îì§Î©¥ ÎπàÎèÑ, Ìï©Í≥Ñ, ÌèâÍ∑†, ÏµúÎπàÍ∞í Îì±Ïù¥ ÏûàÏäµÎãàÎã§.

**ÌååÏÉù Î≥ÄÏàò**

  - ÏàòÏßëÎêú Îç∞Ïù¥ÌÑ∞Ïùò ÎèÑÎ©îÏù∏ ÏßÄÏãùÏùÑ ÌôúÏö©ÌïòÏó¨ ÎÖºÎ¶¨Ï†Å ÌÉÄÎãπÏÑ±Í≥º Ï£ºÍ¥ÄÏ†ÅÏù∏ ÏÉùÍ∞ÅÏùÑ Î∞îÌÉïÏúºÎ°ú ÏÉàÎ°úÏö¥ Î≥ÄÏàòÎ•º ÎßåÎìúÎäî Í≤ÉÏûÖÎãàÎã§.

  - ÏòàÎ•º Îì§Î©¥ ÏÜåÎìù Ï¶ùÍ∞ÄÏóê Îî∞Î•∏ Ìï†Ïù∏ ÌòúÌÉù ÏÇ¨Ïö© ÎπàÎèÑ, ÎÇ®ÎÖÄ ÎπÑÏú®Ïóê Îî∞Î•∏ ÏÉÅÌíàÏùò ÏÉâÍπîÎ≥Ñ Íµ¨Îß§ ÎπàÎèÑ, Ï£ºÎ≥Ä Í≤ΩÏüÅÏÇ¨ ÎπàÎèÑÏóê Îî∞Î•∏ Ï¥ù Îß§Ï∂úÏï° Ï∂îÏù¥ Îì±Ïù¥ ÏûàÏäµÎãàÎã§.

**ÏöîÏïΩ Î≥ÄÏàò**

Ïö∞Î¶¨Îäî ÌäπÏ†ï Î≥ÄÏàòÏùò ÌÜµÍ≥ÑÍ∞íÏùÑ ÌôúÏö©ÌïòÏó¨ ÏöîÏïΩÎ≥ÄÏàòÎ•º ÎßåÎì§Ïñ¥ Î≥¥Í≤†ÏäµÎãàÎã§.



```
Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÏÉàÎ°úÏö¥ Î≥ÄÏàò Î™Ö'] = Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ['ÏÇ¨Ïö©Ìï† Î≥ÄÏàò Î™Ö'].ÌäπÏ†ï_Ìï®Ïàò()
```

In [81]:
train = pd.read_csv('./train.csv')

# 'train' Îç∞Ïù¥ÌÑ∞ ÏÖãÏùò 'V1' ÏπºÎüºÏùò ÌÜµÍ≥ÑÍ∞íÏùÑ ÌôúÏö©ÌïòÏó¨ ÏöîÏïΩÎ≥ÄÏàòÎ•º ÎßåÎì§Ïñ¥Î≥¥Í≤†ÏäµÎãàÎã§.
train['V1_SUM'] = train['V1'].sum()
train['V1_MEAN'] = train['V1'].mean()
train['V1_STD'] = train['V1'].std()

In [82]:
display(train[['ID', 'V1_SUM', 'V1_MEAN', 'V1_STD']].head())

   ID  V1_SUM   V1_MEAN   V1_STD
0   3   22.46  0.000197  1.95106
1   4   22.46  0.000197  1.95106
2   6   22.46  0.000197  1.95106
3   8   22.46  0.000197  1.95106
4   9   22.46  0.000197  1.95106

**ÌååÏÉù Î≥ÄÏàò**

ÏïÑÏâΩÍ≤åÎèÑ Ïö∞Î¶¨Îäî Í∞ÅÍ∞ÅÏùò ÏπºÎüºÏù¥ Î¨¥ÏóáÏùÑ ÏùòÎØ∏ÌïòÎäîÏßÄ Ïïå Ïàò ÏóÜÏäµÎãàÎã§.

Í∑∏Î†áÍ∏∞Ïóê ÏûÑÏùòÎ°ú Í∞ÄÏÑ§ÏùÑ ÏÉàÏõåÎ≥¥Ïã≠Îã§. 'Îç∞Ïù¥ÌÑ∞Î•º Î≥åÏúÑÏóê Îî∞Îùº Íµ¨Î∂ÑÌïúÎã§Î©¥ Îç∞Ïù¥ÌÑ∞Î•º Îçî ÏâΩÍ≤å Ïù¥Ìï¥Ìï† Ïàò ÏûàÎã§'Í≥†Ïöî.

ÌëúÏ§ÄÌé∏Ï∞®Í∞Ä Í∞ÄÏû• Ï†ÅÏùÄ Î≥ÄÏàòÎäî Îç∞Ïù¥ÌÑ∞ Í∞Ñ Í∞íÏùò Ï∞®Ïù¥Í∞Ä Ï†ÅÏùÑ Í≤ÉÏûÖÎãàÎã§. Í∑∏ÎûòÏÑú ÏÇ¨Î∂ÄÏúÑÏàòÎ•º ÌôúÏö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Î•º Î™ÖÌôïÌïòÍ≤å Íµ¨Î∂ÑÌïòÏó¨ Î≥¥Ïã≠Îã§.

In [90]:
train = pd.read_csv('./train.csv')

# 'V28' ÏπºÎüºÏù¥ ÌëúÏ§ÄÌé∏Ï∞®Í∞Ä Ï†úÏùº Ï†ÅÎã§Îäî Í≤ÉÏùÑ Ïïå Ïàò ÏûàÏäµÎãàÎã§,
print(train.describe().loc['std'])

ID     82248.545392
V1         1.951060
V2         1.651064
V3         1.496916
V4         1.412633
V5         1.367533
V6         1.330583
V7         1.204111
V8         1.185504
V9         1.095415
V10        1.071337
V11        1.014689
V12        0.977039
V13        0.994908
V14        0.933753
V15        0.915666
V16        0.864903
V17        0.808552
V18        0.830763
V19        0.814542
V20        0.763326
V21        0.722001
V22        0.723829
V23        0.636061
V24        0.605854
V25        0.520069
V26        0.480979
V27        0.399505
V28        0.356130
V29        3.412933
V30        0.558161
Name: std, dtype: float64

ÏïÑÎûòÏùò ÏΩîÎìúÎ•º ÌÜµÌï¥ ÏÉàÎ°úÏö¥ Î≥ÄÏàòÏóê ÌäπÏ†ï Í∞íÏùÑ ÎÑ£ÏùÑ Ïàò ÏûàÏäµÎãàÎã§.

```
Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ.loc[ÌäπÏ†ïÏ°∞Í±¥, 'ÏÉàÎ°úÏö¥ Î≥ÄÏàò Î™Ö'] = ÌäπÏ†ï Í∞í
```

In [92]:
# ÏúÑÏóêÏÑú Î∞∞Ïö¥ ÌÖåÏù¥Î∏î Ìï∏Îì§ÎßÅÏùÑ ÏÉÅÍ∏∞ÏãúÌÇ§Î©∞ ÏÇ¨Î∂ÑÏúÑÏàòÎ•º Í∏∞Ï§ÄÏúºÎ°ú ÌååÏÉùÎ≥ÄÏàòÎ•º ÎßåÎì§Ïñ¥ Î¥ÖÎãàÎã§.
cond1 = (train['V28'] >= train['V28'].quantile(0.75))
cond2 = (train['V28'] < train['V28'].quantile(0.75)) & (train['V28'] >= train['V28'].quantile(0.50))
cond3 = (train['V28'] < train['V28'].quantile(0.50)) & (train['V28'] >= train['V1'].quantile(0.25))
cond4 = (train['V28'] < train['V28'].quantile(0.25))

train.loc[cond1, 'NEW_V28'] = 3
train.loc[cond2, 'NEW_V28'] = 2
train.loc[cond3, 'NEW_V28'] = 1
train.loc[cond4, 'NEW_V28'] = 0

In [93]:
# Îç∞Ïù¥ÌÑ∞Í∞Ä ÏÇ¨Î∂ÑÏúÑÏàòÎ•º Í∏∞Ï§ÄÏúºÎ°ú Íµ¨Î∂ÑÎêòÏóàÏùåÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.
train[['ID', 'V28', 'NEW_V28']]

            ID       V28  NEW_V28
0            3 -0.059752      0.0
1            4  0.061458      2.0
2            6  0.081080      3.0
3            8 -1.085339      0.0
4            9  0.142404      3.0
...        ...       ...      ...
113837  284796  1.232864      3.0
113838  284797 -0.041068      1.0
113839  284798  0.081265      3.0
113840  284802  0.068803      2.0
113841  284803  0.823731      3.0

[113842 rows x 3 columns]

### ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅ

Ïö∞Î¶¨Îäî ÌååÏÉùÎ≥ÄÏàò ÌååÌä∏ÏóêÏÑú ÌïòÎÇòÏùò Î≥ÄÏàòÏóêÏÑú Îç∞Ïù¥ÌÑ∞Ïùò Î≤îÏúÑÏóê Îî∞Îùº Îç∞Ïù¥ÌÑ∞Î•º Íµ¨Î∂ÑÏßÄÏñ¥ Î≥¥ÏïòÏäµÎãàÎã§.

Îã§Î•∏ Î≥ÄÏàòÎì§ÍπåÏßÄ Ï¢ÖÌï©Ï†ÅÏúºÎ°ú Í≥†Î†§ÌïòÏó¨ Ïú†ÏÇ¨Ìïú ÏÑ±Í≤© (ÎπÑÏä∑Ìïú Ìå®ÌÑ¥Í≥º Íµ¨Ï°∞)ÏùÑ Í∞ÄÏßÑ Îç∞Ïù¥ÌÑ∞Î•º Í∞ôÏùÄ Íµ∞ÏßëÏóê Î¨∂Ïñ¥ Íµ¨Î∂ÑÌï† Ïàò ÏûàÏäµÎãàÎã§.

Ïù¥Í≤ÉÏùÑ ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅ (Clustering) Ïù¥ÎùºÍ≥† Ìï©ÎãàÎã§.

ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅÏù¥ ÏûòÎêú Í≤ΩÏö∞, ÌäπÏ†ï Ìïú Íµ∞ÏßëÏóêÎäî Îç∞Ïù¥ÌÑ∞Í∞ÑÏóê ÎÜíÏùÄ Ïú†ÏÇ¨ÏÑ±ÏùÑ Î≥¥Ïù¥Í≥† Íµ∞ÏßëÍ∞ÑÏóêÎäî ÎÇÆÏùÄ Ïú†ÏÇ¨ÏÑ±ÏùÑ Î≥¥Ïó¨Ï§çÎãàÎã§.

**K-Means**

K-Means ÏïåÍ≥†Î¶¨Ï¶òÏùÄ Íµ∞ÏßëÏùò Ï§ëÏã¨Í≥º Îç∞Ïù¥ÌÑ∞Í∞ÑÏùò ÌèâÍ∑† Í±∞Î¶¨Î•º ÏÇ¨Ïö©ÌïòÏó¨ KÍ∞úÏùò Íµ∞ÏßëÏùÑ ÎßåÎì§Ïñ¥ ÎÇ¥Îäî Í≤ÉÏûÖÎãàÎã§.

K-Means Îäî Îã§ÏùåÏùò Í≥ºÏ†ïÏùÑ ÏßÑÌñâÌï©ÎãàÎã§.


  1. KÍ∞úÏùò ÏûÑÏùò Ï§ëÏã¨Ï†êÏùÑ Î∞∞ÏπòÌï©ÎãàÎã§.

  2. Í∞ÅÍ∞ÅÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï§ëÏã¨Ï†êÍ≥ºÏùò ÌèâÍ∑†Í±∞Î¶¨Î•º Í∏∞Ï§ÄÏúºÎ°ú Í∞ÄÏû• Í∞ÄÍπåÏö¥ Ï§ëÏã¨Ï†êÏùÑ Ï§ëÏã¨ÏúºÎ°ú Íµ∞ÏßëÏùÑ ÌòïÏÑ±Ìï©ÎãàÎã§.

  3. Ï§ëÏã¨Ï†êÏùÑ Íµ∞ÏßëÏùò Ï§ëÏã¨ÏúºÎ°ú Ïù¥ÎèôÌï©ÎãàÎã§.

  4. Í≤∞Í≥ºÍ∞Ä Î∞îÎÄåÏßÄ ÏïäÍ±∞ÎÇò 'max_iter' ÌïòÏù¥Ìçº ÌååÎùºÎØ∏ÌÑ∞Ïóê ÏÑ§Ï†ïÎêú Í∞íÍπåÏßÄ 2Î≤àÍ≥º 3Î≤à Í≥ºÏ†ïÏùÑ Î∞òÎ≥µÌï©ÎãàÎã§.

In [97]:
val = pd.read_csv('./val.csv')

# 'ID'ÏôÄ 'Class' Î≥ÄÏàòÎäî Ï†úÏô∏Ìï©ÎãàÎã§.
df = val.drop(columns=['ID', 'Class'])

# 'Class' Î≥ÄÏàòÎßå Í∞ÄÏ†∏ÏòµÎãàÎã§.
label = val[['Class']]

In [95]:
# sklearn ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò cluster Ï§ëÏóêÏÑú KMeansÎ•º Î∂àÎü¨ÏòµÎãàÎã§.
from sklearn.cluster import KMeans

In [113]:
# ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅÏùÑ Ïö©Ïù¥ÌïòÍ≤å ÏÇ¨Ïö©ÌïòÍ≤å Î≥ÑÎèÑÎ°ú Î≥ÄÏàòÎ°ú ÏßÄÏ†ïÌï©ÎãàÎã§.
# 'n_clusters' ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞Î•º ÏÇ¨Ïö©Ìï¥ ÎßåÎì§Ïñ¥ÎÇº Íµ∞ÏßëÏùò Í∞úÏàòÎ•º ÏÑ§Ï†ïÌï©ÎãàÎã§.
cluster = KMeans(n_clusters=2)

array_clusted = cluster.fit_predict(df)

df_clusted = pd.DataFrame(array_clusted)

In [119]:
# Pandas ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò concat Ìï®ÏàòÎ•º ÌôúÏö©ÌïòÏó¨ ÌÅ¥Î†ÅÏä§ÌÑ∞ÎßÅ Í≤∞Í≥ºÏôÄ 'Class'Î•º Îã§Ïãú Ìï©Ï≥êÏ§çÎãàÎã§.
df_result = pd.concat([df_clusted, label], axis=1)

# ÏπºÎüº Î™ÖÏùÑ Î≥ÄÍ≤ΩÌï¥Ï§çÎãàÎã§

df_result.columns = ['Í≤∞Í≥º', 'Ï†ïÎãµ']

In [138]:
# ÎåÄÎã§ÏàòÏùò Îç∞Ïù¥ÌÑ∞Îäî Ïûò Íµ¨Î∂ÑÌïòÏòÄÏßÄÎßå Î™á Í∞ú Îç∞Ïù¥ÌÑ∞Îäî ÌãÄÎ¶¥ Í≤ÉÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.
print(df_result['Í≤∞Í≥º'].value_counts())
print(df_result['Ï†ïÎãµ'].value_counts())

0    27859
1      603
Name: Í≤∞Í≥º, dtype: int64
0    28432
1       30
Name: Ï†ïÎãµ, dtype: int64

**Mean-Shift Clustering**

Mean-Shift Clustering ÏïåÍ≥†Î¶¨Ï¶òÏùÄ Îç∞Ïù¥ÌÑ∞Í∞Ä Î™®Ïó¨ÏûàÎäî Î∞ÄÎèÑÎ•º Í∏∞Ï§ÄÏúºÎ°ú Íµ∞ÏßëÏùÑ ÌòïÏÑ±Ìï©ÎãàÎã§.

K-MeansÏôÄ ÎòêÎã§Î•∏ Ï∞®Ïù¥Ï†êÏù¥ ÏûàÎã§Î©¥ K-MeansÎäî Ï¥àÍ∏∞Ïóê Íµ∞ÏßëÏùò Í∞úÏàòÎ•º ÏÑ§Ï†ïÌï¥Ï£ºÏñ¥Ïïº ÌïòÏßÄÎßå Mean-ShiftÎäî ÏÑ§Ï†ïÌï¥Ï§Ä ÎåÄÏó≠Ìè≠Ïùò Î≤îÏúÑÏóê Îî∞Îùº ÏûêÎèôÏ†ÅÏúºÎ°ú Íµ∞ÏßëÏùò Í∞úÏàòÍ∞Ä Ï†ïÌï¥ÏßëÎãàÎã§.

In [139]:
val = pd.read_csv('./val.csv')

# 'ID'ÏôÄ 'Class' Î≥ÄÏàòÎäî Ï†úÏô∏Ìï©ÎãàÎã§.
df = val.drop(columns=['ID', 'Class'])

# 'Class' Î≥ÄÏàòÎßå Í∞ÄÏ†∏ÏòµÎãàÎã§.
label = val[['Class']]

In [141]:
# sklearn ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò cluster Ï§ëÏóêÏÑú MeanShiftÎ•º Î∂àÎü¨ÏòµÎãàÎã§.
from sklearn.cluster import MeanShift

In [ ]:
# ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅÏùÑ Ïö©Ïù¥ÌïòÍ≤å ÏÇ¨Ïö©ÌïòÍ≤å Î≥ÑÎèÑÎ°ú Î≥ÄÏàòÎ°ú ÏßÄÏ†ïÌï©ÎãàÎã§.
# 'bandwidth' ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞Î•º ÏÇ¨Ïö©Ìï¥ ÎåÄÏó≠Ìè≠Ïùò Î≤îÏúÑÎ•º ÏÑ§Ï†ïÌï©ÎãàÎã§.
cluster = MeanShift(bandwidth=2)

array_clusted = cluster.fit_predict(df)

df_clusted = pd.DataFrame(array_clusted)

In [ ]:
# Pandas ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò concat Ìï®ÏàòÎ•º ÌôúÏö©ÌïòÏó¨ ÌÅ¥Î†ÅÏä§ÌÑ∞ÎßÅ Í≤∞Í≥ºÏôÄ 'Class'Î•º Îã§Ïãú Ìï©Ï≥êÏ§çÎãàÎã§.
df_result = pd.concat([df_clusted, label], axis=1)

# ÏπºÎüº Î™ÖÏùÑ Î≥ÄÍ≤ΩÌï¥Ï§çÎãàÎã§

df_result.columns = ['Í≤∞Í≥º', 'Ï†ïÎãµ']

**GMM**

**DBSCAN**

**Agglomerative Hierarchical Clustering**

### Ï∞®Ïõê Ï∂ïÏÜå

**Ï∞®Ïõê Ï∂ïÏÜåÍ∞Ä ÌïÑÏöîÌïú Ïù¥Ïú†**

**PCA**

**SVD**

**GRP**

**SRP**

**Isomap**

**MDS**

**LLE**

**t-SNE**

---
---

# END